<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.support.b01.mapper.B01Mapper">
    <resultMap id="BaseResultMap" type="com.hxoms.support.b01.entity.B01">
        <id column="B0100" jdbcType="VARCHAR" property="b0100"/>
        <result column="b0101" jdbcType="VARCHAR" property="b0101"/>
        <result column="b0104" jdbcType="VARCHAR" property="b0104"/>
        <result column="b0107" jdbcType="VARCHAR" property="b0107"/>
        <result column="b0111" jdbcType="VARCHAR" property="b0111"/>
        <result column="b0114" jdbcType="VARCHAR" property="b0114"/>
        <result column="b0117" jdbcType="VARCHAR" property="b0117"/>
        <result column="b0124" jdbcType="VARCHAR" property="b0124"/>
        <result column="b0127" jdbcType="VARCHAR" property="b0127"/>
        <result column="b0131" jdbcType="VARCHAR" property="b0131"/>
        <result column="b0164" jdbcType="VARCHAR" property="b0164"/>
        <result column="B0167" jdbcType="VARCHAR" property="b0167"/>
        <result column="b0183" jdbcType="INTEGER" property="b0183"/>
        <result column="b0185" jdbcType="INTEGER" property="b0185"/>
        <result column="b0188" jdbcType="VARCHAR" property="b0188"/>
        <result column="b0189" jdbcType="VARCHAR" property="b0189"/>
        <result column="b0190" jdbcType="VARCHAR" property="b0190"/>
        <result column="b0191" jdbcType="VARCHAR" property="b0191"/>
        <result column="b0191a" jdbcType="VARCHAR" property="b0191a"/>
        <result column="b0192" jdbcType="VARCHAR" property="b0192"/>
        <result column="b0193" jdbcType="VARCHAR" property="b0193"/>
        <result column="b0194" jdbcType="VARCHAR" property="b0194"/>
        <result column="b0227" jdbcType="INTEGER" property="b0227"/>
        <result column="b0232" jdbcType="INTEGER" property="b0232"/>
        <result column="b0233" jdbcType="INTEGER" property="b0233"/>
        <result column="b0238" jdbcType="VARCHAR" property="b0238"/>
        <result column="b0239" jdbcType="VARCHAR" property="b0239"/>
        <result column="sortid" jdbcType="INTEGER" property="orderIndex"/>
        <result column="modify_user" jdbcType="VARCHAR" property="modifyUser"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="b0140" jdbcType="VARCHAR" property="b0140"/>
        <result column="b0141" jdbcType="VARCHAR" property="b0141"/>
        <result column="b0142" jdbcType="VARCHAR" property="b0142"/>
        <result column="b0143" jdbcType="VARCHAR" property="b0143"/>
        <result column="b0150" jdbcType="INTEGER" property="b0150"/>
        <result column="b0236" jdbcType="INTEGER" property="b0236"/>
        <result column="b0234" jdbcType="INTEGER" property="b0234"/>
        <result column="b0121" jdbcType="VARCHAR" property="b0121"/>
        <result column="ORGANIZATION_CODE" jdbcType="VARCHAR" property="ORGANIZATION_CODE"/>
        <result column="CONTACTS" jdbcType="VARCHAR" property="CONTACTS"/>
        <result column="PHONE" jdbcType="VARCHAR" property="PHONE"/>
        <result column="bx001" jdbcType="INTEGER" property="bx001"/>
        <result column="b0268" jdbcType="VARCHAR" property="b0268"/>
        <result column="b0269" jdbcType="VARCHAR" property="b0269"/>
        <result column="POSICOUNTZJ" jdbcType="VARCHAR" property="POSICOUNTZJ"/>
        <result column="ORGPARTTYPE" jdbcType="VARCHAR" property="ORGPARTTYPE"/>
        <result column="ORGSTANDARDNAME" jdbcType="VARCHAR" property="ORGSTANDARDNAME"/>
        <result column="SUPERVISOR" jdbcType="VARCHAR" property="SUPERVISOR"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hxoms.support.b01.entity.B01">
        <result column="b0180" jdbcType="LONGVARCHAR" property="b0180"/>
    </resultMap>
    <sql id="Blob_Column_List">
        b0180
    </sql>
    <insert id="insert" parameterType="com.hxoms.support.b01.entity.B01">
        insert into b01 (b0100,b0101, b0104, b0107,
        b0111, b0114, b0117,
        b0124, b0127, b0131,
        b0164, b0167,
        b0183, b0185,
        b0188,
        b0189, b0190, b0191,
        b0191a, b0192, b0193,
        b0194,
        b0227, b0232, b0233,
        b0238, b0239,
        sortid,
        modify_user, modify_time,
        b0140, b0141,
        b0142, b0143, b0150,
        b0236, b0234, b0121,
        b0180,ORGANIZATION_CODE,CONTACTS,PHONE,
        bx001,b0268,b0269,POSICOUNTZJ,ORGPARTTYPE,ORGSTANDARDNAME,SUPERVISOR)
        values (#{b0100,jdbcType=VARCHAR}, #{b0101,jdbcType=VARCHAR}, #{b0104,jdbcType=VARCHAR}, #{b0107,jdbcType=VARCHAR},
        #{b0111,jdbcType=VARCHAR}, #{b0114,jdbcType=VARCHAR}, #{b0117,jdbcType=VARCHAR},
        #{b0124,jdbcType=VARCHAR}, #{b0127,jdbcType=VARCHAR}, #{b0131,jdbcType=VARCHAR},
        #{b0164,jdbcType=VARCHAR},
        #{b0167,jdbcType=VARCHAR},
        #{b0183,jdbcType=INTEGER}, #{b0185,jdbcType=INTEGER},
         #{b0188,jdbcType=VARCHAR},
        #{b0189,jdbcType=VARCHAR}, #{b0190,jdbcType=VARCHAR}, #{b0191,jdbcType=VARCHAR},
        #{b0191a,jdbcType=VARCHAR}, #{b0192,jdbcType=VARCHAR}, #{b0193,jdbcType=VARCHAR},
        #{b0194,jdbcType=VARCHAR},
        #{b0227,jdbcType=INTEGER}, #{b0232,jdbcType=INTEGER}, #{b0233,jdbcType=INTEGER},
        #{b0238,jdbcType=VARCHAR}, #{b0239,jdbcType=VARCHAR},
        #{orderIndex,jdbcType=INTEGER},
        #{modifyUser,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP},
        #{b0140,jdbcType=VARCHAR}, #{b0141,jdbcType=VARCHAR},
        #{b0142,jdbcType=VARCHAR}, #{b0143,jdbcType=VARCHAR}, #{b0150,jdbcType=INTEGER},
        #{b0236,jdbcType=INTEGER}, #{b0234,jdbcType=INTEGER}, #{b0121,jdbcType=VARCHAR},
        #{b0180,jdbcType=LONGVARCHAR}, #{ORGANIZATION_CODE,jdbcType=VARCHAR}
        , #{CONTACTS,jdbcType=VARCHAR}, #{PHONE,jdbcType=VARCHAR},
        #{bx001,jdbcType=INTEGER}, #{b0268,jdbcType=VARCHAR}, #{b0269,jdbcType=VARCHAR},
        #{POSICOUNTZJ,jdbcType=VARCHAR}, #{ORGPARTTYPE,jdbcType=VARCHAR}
        , #{ORGSTANDARDNAME,jdbcType=VARCHAR}, #{SUPERVISOR,jdbcType=VARCHAR})
    </insert>
    <!--添加机构-->
    <insert id="insertOrg" parameterType="com.hxoms.support.b01.entity.B01">
        insert into b01
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="b0100 != null">
                b0100,
            </if>
            <if test="b0101 != null">
                b0101,
            </if>
            <if test="b0104 != null">
                b0104,
            </if>
            <if test="b0107 != null">
                b0107,
            </if>
            <if test="b0111 != null">
                b0111,
            </if>
            <if test="b0114 != null">
                b0114,
            </if>
            <if test="b0117 != null">
                b0117,
            </if>
            <if test="b0124 != null">
                b0124,
            </if>
            <if test="b0127 != null">
                b0127,
            </if>
            <if test="b0131 != null">
                b0131,
            </if>

            <if test="b0164 != null">
                b0164,
            </if>
            <if test="b0167 != null">
                B0167,
            </if>

            <if test="b0183 != null">
                b0183,
            </if>

            <if test="b0185 != null">
                b0185,
            </if>

            <if test="b0188 != null">
                b0188,
            </if>
            <if test="b0189 != null">
                b0189,
            </if>
            <if test="b0190 != null">
                b0190,
            </if>
            <if test="b0191 != null">
                b0191,
            </if>
            <if test="b0191a != null">
                b0191a,
            </if>
            <if test="b0192 != null">
                b0192,
            </if>
            <if test="b0193 != null">
                b0193,
            </if>
            <if test="b0194 != null">
                b0194,
            </if>

            <if test="b0227 != null">
                b0227,
            </if>
            <if test="b0232 != null">
                b0232,
            </if>
            <if test="b0233 != null">
                b0233,
            </if>
            <if test="b0238 != null">
                b0238,
            </if>
            <if test="b0239 != null">
                b0239,
            </if>

            <if test="orderIndex != null">
                sortid,
            </if>

            <if test="modifyUser != null">
                modify_user,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>

            <if test="b0140 != null">
                b0140,
            </if>
            <if test="b0141 != null">
                b0141,
            </if>
            <if test="b0142 != null">
                b0142,
            </if>
            <if test="b0143 != null">
                b0143,
            </if>
            <if test="b0150 != null">
                b0150,
            </if>
            <if test="b0236 != null">
                b0236,
            </if>
            <if test="b0234 != null">
                b0234,
            </if>
            <if test="b0121 != null">
                b0121,
            </if>
            <if test="b0180 != null">
                b0180,
            </if>

            <if test="ORGANIZATION_CODE != null">
                ORGANIZATION_CODE,
            </if>
            <if test="CONTACTS != null">
                CONTACTS,
            </if>
            <if test="PHONE != null">
                PHONE,
            </if>
            <if test="bx001 != null">
                bx001,
            </if>
            <if test="b0268 != null">
                b0268,
            </if>
            <if test="b0269 != null">
                b0269,
            </if>
            <if test="POSICOUNTZJ != null">
                POSICOUNTZJ,
            </if>

            <if test="ORGPARTTYPE != null">
                ORGPARTTYPE,
            </if>
            <if test="ORGSTANDARDNAME != null">
                ORGSTANDARDNAME,
            </if>
            <if test="SUPERVISOR != null">
                SUPERVISOR,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="b0100 != null">
                #{b0100,jdbcType=VARCHAR},
            </if>
            <if test="b0101 != null">
                #{b0101,jdbcType=VARCHAR},
            </if>
            <if test="b0104 != null">
                #{b0104,jdbcType=VARCHAR},
            </if>
            <if test="b0107 != null">
                #{b0107,jdbcType=VARCHAR},
            </if>
            <if test="b0111 != null">
                #{b0111,jdbcType=VARCHAR},
            </if>
            <if test="b0114 != null">
                #{b0114,jdbcType=VARCHAR},
            </if>
            <if test="b0117 != null">
                #{b0117,jdbcType=VARCHAR},
            </if>
            <if test="b0124 != null">
                #{b0124,jdbcType=VARCHAR},
            </if>
            <if test="b0127 != null">
                #{b0127,jdbcType=VARCHAR},
            </if>
            <if test="b0131 != null">
                #{b0131,jdbcType=VARCHAR},
            </if>

            <if test="b0164 != null">
                #{b0164,jdbcType=VARCHAR},
            </if>
            <if test="b0167 != null">
                #{b0167,jdbcType=VARCHAR},
            </if>

            <if test="b0183 != null">
                #{b0183,jdbcType=INTEGER},
            </if>

            <if test="b0185 != null">
                #{b0185,jdbcType=INTEGER},
            </if>

            <if test="b0188 != null">
                #{b0188,jdbcType=VARCHAR},
            </if>
            <if test="b0189 != null">
                #{b0189,jdbcType=VARCHAR},
            </if>
            <if test="b0190 != null">
                #{b0190,jdbcType=VARCHAR},
            </if>
            <if test="b0191 != null">
                #{b0191,jdbcType=VARCHAR},
            </if>
            <if test="b0191a != null">
                #{b0191a,jdbcType=VARCHAR},
            </if>
            <if test="b0192 != null">
                #{b0192,jdbcType=VARCHAR},
            </if>
            <if test="b0193 != null">
                #{b0193,jdbcType=VARCHAR},
            </if>
            <if test="b0194 != null">
                #{b0194,jdbcType=VARCHAR},
            </if>

            <if test="b0227 != null">
                #{b0227,jdbcType=INTEGER},
            </if>
            <if test="b0232 != null">
                #{b0232,jdbcType=INTEGER},
            </if>
            <if test="b0233 != null">
                #{b0233,jdbcType=INTEGER},
            </if>
            <if test="b0238 != null">
                #{b0238,jdbcType=VARCHAR},
            </if>
            <if test="b0239 != null">
                #{b0239,jdbcType=VARCHAR},
            </if>

            <if test="orderIndex != null">
                #{orderIndex,jdbcType=INTEGER},
            </if>

            <if test="modifyUser != null">
                #{modifyUser,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>

            <if test="b0140 != null">
                #{b0140,jdbcType=VARCHAR},
            </if>
            <if test="b0141 != null">
                #{b0141,jdbcType=VARCHAR},
            </if>
            <if test="b0142 != null">
                #{b0142,jdbcType=VARCHAR},
            </if>
            <if test="b0143 != null">
                #{b0143,jdbcType=VARCHAR},
            </if>
            <if test="b0150 != null">
                #{b0150,jdbcType=INTEGER},
            </if>
            <if test="b0236 != null">
                #{b0236,jdbcType=INTEGER},
            </if>
            <if test="b0234 != null">
                #{b0234,jdbcType=INTEGER},
            </if>
            <if test="b0121 != null">
                #{b0121,jdbcType=VARCHAR},
            </if>
            <if test="b0180 != null">
                #{b0180,jdbcType=LONGVARCHAR},
            </if>

            <if test="ORGANIZATION_CODE != null">
                #{ORGANIZATION_CODE,jdbcType=VARCHAR},
            </if>
            <if test="CONTACTS != null">
                #{CONTACTS,jdbcType=VARCHAR},
            </if>
            <if test="PHONE != null">
                #{PHONE,jdbcType=VARCHAR},
            </if>
            <if test="bx001 != null">
                #{bx001,jdbcType=INTEGER},
            </if>
            <if test="b0268 != null">
                #{b0268,jdbcType=VARCHAR},
            </if>
            <if test="b0269 != null">
                #{b0269,jdbcType=VARCHAR},
            </if>
            <if test="POSICOUNTZJ != null">
                #{POSICOUNTZJ,jdbcType=VARCHAR},
            </if>

            <if test="ORGPARTTYPE != null">
                #{ORGPARTTYPE,jdbcType=VARCHAR},
            </if>
            <if test="ORGSTANDARDNAME != null">
                #{ORGSTANDARDNAME,jdbcType=VARCHAR},
            </if>
            <if test="SUPERVISOR != null">
                #{SUPERVISOR,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--查询机构id和名称-->
    <select id="selectAllB01" resultMap="BaseResultMap">
    SELECT b0101,b0111,b0100 FROM b01
    </select>

    <!--修改机构-->
    <update id="updateOrg" parameterType="com.hxoms.support.b01.entity.B01">
    UPDATE b01 SET b0101=#{b0101},b0111=#{b0111},b0104=#{b0104},b0107=#{b0107},b0114=#{b0114},b0117=#{b0117},
    b0124=#{b0124},b0127=#{b0127},b0131=#{b0131},b0164=#{b0164},b0167=#{b0167},b0183=#{b0183},
    b0185=#{b0185},b0188=#{b0188},b0189=#{b0189},b0190=#{b0190},
    b0191=#{b0191},b0191a=#{b0191a},b0192=#{b0192},b0193=#{b0193},b0194=#{b0194},
    b0227=#{b0227},b0232=#{b0232},b0233=#{b0233},b0238=#{b0238},b0239=#{b0239},
    sortid=#{orderIndex},
    modify_user=#{modifyUser}, modify_time=#{modifyTime},
    b0140=#{b0140},b0141=#{b0141},b0142=#{b0142},b0143=#{b0143},b0150=#{b0150},b0180=#{b0180},
    b0236=#{b0236},b0234=#{b0234},b0121=#{b0121},ORGANIZATION_CODE=#{ORGANIZATION_CODE},
    CONTACTS=#{CONTACTS},PHONE=#{PHONE},bx001=#{bx001},
    b0268=#{b0268},b0269=#{b0269},POSICOUNTZJ=#{POSICOUNTZJ},ORGPARTTYPE=#{ORGPARTTYPE},
    ORGSTANDARDNAME=#{ORGSTANDARDNAME},SUPERVISOR=#{SUPERVISOR}
    WHERE b0100=#{b0100}
    </update>

    <!--机构搜索查询-->
    <select id="selectOrg" parameterType="com.hxoms.support.b01.entity.B01" resultMap="BaseResultMap">
    SELECT b0101,b0104,b0107,b0111,b0114,b0117,b0124,b0127,b0131,b0164,b0167,b0183,
    b0185,b0188,b0189,b0190,b0191,b0191a,b0192,b0193,b0194,b0227,
    b0232,b0233,b0238,b0239,sortid,modify_user,modify_time,
    b0140,b0141,b0142,b0143,b0150,b0180,b0236,b0234,b0121,ORGANIZATION_CODE,CONTACTS,PHONE,
    bx001,b0268,b0269,POSICOUNTZJ,ORGPARTTYPE,ORGSTANDARDNAME,SUPERVISOR
    FROM b01 WHERE b0101 LIKE "%"#{b0101}"%"
    </select>

    <!--删除机构-->
    <delete id="deleteOrg" parameterType="String">
    DELETE FROM b01 WHERE b0100=#{b0100}
    </delete>

    <!--查询下级机构-->
    <select id="selectOrgByPid" parameterType="String" resultType="Integer">
    SELECT COUNT(*) FROM b01 WHERE b0121=#{b0111}
    </select>

    <!--排序-->
    <update id="sortOrg" parameterType="java.util.List">
        UPDATE b01 SET  sortid=
        <foreach collection="array"  item="b0111" index="index" separator=" " open="case b0111" close="end">
            when #{b0111} then #{index}
        </foreach>
        WHERE b0100 IN
        <foreach collection="array" open="(" close=")" item="b0100" index="index" separator=",">
            #{b0100}
        </foreach>
    </update>

    <!--查询下级机构列表-->
    <select id="selectOrgById" parameterType="com.hxoms.support.b01.entity.B01" resultMap="BaseResultMap">
    SELECT b0111,b0101,b0114,sortid FROM b01 WHERE b0121=#{b0111} ORDER BY sortid
    </select>

    <!--通过标识编码查询机构-->
    <select id="selectOrgByB0111" parameterType="String" resultMap="BaseResultMap">
    SELECT b0100,b0111,b0101,b0104,b0107,b0114,b0117,b0124,b0127,b0131,b0164,b0167,b0183,b0185,b0188,b0189,b0190,
    b0191,b0191a,b0192,b0193,b0194,b0227,b0232,b0233,b0238,b0239,
    sortid,modify_user, modify_time,
    b0140,b0141,b0142,b0143,b0150,b0180,b0236,b0234,b0121,ORGANIZATION_CODE,CONTACTS,PHONE,
    bx001,b0268,b0269,POSICOUNTZJ,ORGPARTTYPE,ORGSTANDARDNAME,SUPERVISOR
    FROM  b01 WHERE b0100=#{b0100}
    </select>

    <!--获得下一个b0111-->
    <select id="getNextOrgCode" parameterType="java.lang.String" resultType="java.lang.String">
        select FUN_B_GETB0111(#{pid}) from dual
    </select>

    <select id="selectOrgAllList" resultMap="BaseResultMap">
        select b0100,b0111, b0121,b0101 from b01 ORDER BY sortid
    </select>

    <!--验证机构名称是否重复-->
    <select id="doubleOrgName" resultType="Integer"
        parameterType="com.hxoms.support.b01.entity.B01">
        SELECT COUNT(*) FROM b01 WHERE b0101=#{b0101}
        <if test="b0100!=null and b0100!=''">
            AND b0100!=#{b0100}
        </if>
    </select>

    <!--验证机构编码是否重复-->
    <select id="doubleOrgCode" resultType="Integer"
        parameterType="com.hxoms.support.b01.entity.B01">
        SELECT COUNT(*) FROM b01 WHERE b0114=#{b0114}
        <if test="b0100!=null and b0100!=''">
            AND b0100!=#{b0100}
        </if>
    </select>

    <select id="selectOrgGrantTree" resultType="com.hxoms.support.b01.entity.B01Tree">
        select
        b.b0111,
        b.b0100 as "id",
        b.b0101 as "label", b.b0121 as "pId"
        from b01 b
        on os.managed_org=b.b0100
        where b.is_deleted='0' and os.b0111=#{orgId}
        order by b.sortid
    </select>
    <select id="selectUserGrantTree" resultType="com.hxoms.support.b01.entity.B01Tree">
        select b.b0111,b.b0100 as "id",b.b0101 as "label", b.b0121 as "pId"  from user_role_view urv
        inner join cf_roleb01 rb
        on urv.role_id=rb.role_id
        and urv.user_id=#{orgId}
        inner join b01 b
        on rb.org_id=b.b0100 and b.is_deleted='0'
        inner join cf_org_sub os
        on b.b0100=os.managed_org
        inner join cf_user u
        on os.b0111=u.org_id and u.user_id=#{orgId}
        order by b.sortid
    </select>
    <select id="selectAllOrgTree" resultType="com.hxoms.support.b01.entity.B01Tree">
        select b.b0111,b.b0100 as "id",b.b0101 as "label", b.b0121 as "pId" from  b01 b
        where b.is_deleted='0' order by b.sortid
    </select>

    <!-- 查询工作单位名称 -->
    <select id="selectOrgByList" parameterType="java.util.Map" resultType="java.lang.String">
        select b.b0101 from b01 b
        <where>
            <if test="idList != null and idList.size > 0">b.B0100 in
                <foreach collection="idList" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 根据单位名称查询单位是否存在 -->
    <select id="selectOrgByB0101" parameterType="java.util.Map" resultMap="BaseResultMap">
        select b.B0100,b.b0111 FROM b01 b where b.b0101=#{b0101}
    </select>
    
    <!-- 根据主键B0100查询-->
    <select id="selectOrgByB0100"  resultMap="BaseResultMap">
        select * FROM b01 b where b.B0100=#{b0100}
    </select>
</mapper>