<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.sensitiveCountry.sensitiveLimited.mapper.OmsSensitiveCountryMapper">
  <resultMap id="BaseResultMap" type="com.hxoms.modules.sensitiveCountry.sensitiveLimited.entity.OmsSensitiveCountry">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PARENT_ID" jdbcType="CHAR" property="parentId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="UPPER_LEVEL" jdbcType="CHAR" property="upperLevel" />
    <result column="PUB_PRI" jdbcType="CHAR" property="pubPri" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PARENT_ID, NAME, UPPER_LEVEL, PUB_PRI
  </sql>

</mapper>