<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.omsoperator.mapper.OmsOperatorHandoverMapper">
  <resultMap id="BaseResultMap" type="com.hxoms.modules.omsoperator.entity.OmsOperatorHandover">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="OperatorId" jdbcType="VARCHAR" property="operatorid" />
    <result column="HandoverId" jdbcType="VARCHAR" property="handoverid" />
    <result column="HandoverTime" jdbcType="DATE" property="handovertime" />
    <result column="HandoverStatus" jdbcType="CHAR" property="handoverstatus" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, OperatorId, HandoverId, HandoverTime, HandoverStatus
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oms_operator_handover
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectOmsPriApplyByStatusAndName"
          resultType="com.hxoms.modules.privateabroad.entity.OmsPriApplyVO">
    select opa.*,
           CONCAT(IFNULL(orp.SURNAME,''),IFNULL(orp.NAME,'')) as name,
           orp.BIRTH_DATE as birthDate,
           orp.SEX as sex,
           orp.IDNUMBER_GB as idnumber,
           orp.REGISTE_RESIDENCE as registeResidence,
           orp.WORK_UNIT as b0101,
           orp.IDENTITY as identifyType
    from oms_pri_apply opa left join oms_reg_procpersoninfo orp on opa.PROCPERSON_ID = orp.ID
    <where>
      <if test="name != null and name !=''">
        and opa.CREATE_USER = #{name}
      </if>
      <if test="status != null">
        and opa.APPLY_STATUS <![CDATA[<>]]> #{status}
      </if>
    </where>
  </select>
  <select id="selectOmsPriDelayApplyByStatusAndName"
          resultType="com.hxoms.modules.omsoperator.entity.OmsPriDelayVO">
    select pa.*,
            rp.SEX as sex,
            CONCAT(IFNULL(rp.SURNAME,''),IFNULL(rp.NAME,'')) as name,
            rp.IDNUMBER_GB as idnumber,
            rp.WORK_UNIT as b0101,
            rp.POST as postrank
    from oms_pri_delay_apply pa
    LEFT JOIN oms_reg_procpersoninfo rp on pa.PROCPERSON_ID = rp.ID
    <where>
      <if test="userId != null and userId != ''">
        and pa.CREATE_USER = #{userId}
      </if>
      <if test="status != null">
        and pa.APPLY_STATUS <![CDATA[<>]]> #{status}
      </if>
    </where>
  </select>
  <select id="selectByUserId" resultType="com.hxoms.modules.omsoperator.entity.OmsOperatorHandoverSubformVO">
    SELECT b.* ,a.HandoverStatus as handoverStatus
    FROM oms_operator_handover a
    INNER JOIN oms_operator_handover_subform b ON a.ID=b.HandoverFormID
    <where>
      <if test="userId != null and userId != ''">
        AND a.OperatorId = #{userId,jdbcType=VARCHAR}
        or a.HandoverId = #{userId,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="getAllOperatorHandoverByOrgid"
          resultType="com.hxoms.modules.omsoperator.entity.OmsOperatorHandoverSubformVO">
    SELECT b.* ,
            a.HandoverStatus as handoverStatus,
            a.OperatorId as operatorId,
            (SELECT c.user_name FROM cf_user c , oms_operator_handover a WHERE c.user_id = a.OperatorId) as operatorName,
            (SELECT c.user_name FROM cf_user c , oms_operator_handover a WHERE c.user_id = a.HandoverId) as handoverName
    FROM oms_operator_handover a
    INNER JOIN oms_operator_handover_subform b ON a.ID=b.HandoverFormID
    INNER JOIN cf_user cu on cu.user_id = a.OperatorId
    <where>
      <if test="orgId != null and orgId != ''">
        AND cu.org_id = #{orgId,jdbcType=VARCHAR}
        and a.HandoverStatus = '5'
      </if>
    </where>
  </select>
  <select id="selectByOperatorId"
          resultType="com.hxoms.modules.omsoperator.entity.OmsOperatorHandoverSubformVO">
    SELECT b.* ,a.HandoverStatus as handoverStatus
    FROM oms_operator_handover a
    INNER JOIN oms_operator_handover_subform b ON a.ID=b.HandoverFormID
    <where>
      <if test="operatorId != null and operatorId!= '' ">
        and a.OperatorId = #{operatorId,jdbcType=VARCHAR}
      </if>
      <if test="handoverStatus != null and handoverStatus != '' ">
        and a.HandoverStatus = #{handoverStatus}
      </if>
    </where>


  </select>
    <select id="selectByHandoverId"
            resultType="com.hxoms.modules.omsoperator.entity.OmsOperatorHandoverSubformVO">
      SELECT b.* ,a.HandoverStatus as handoverStatus
      FROM oms_operator_handover a
      INNER JOIN oms_operator_handover_subform b ON a.ID=b.HandoverFormID
      <where>
      <if test="handoverId != null and handoverId!= '' ">
        and a.HandoverId = #{handoverId,jdbcType=VARCHAR}
      </if>
      <if test="handoverStatus != null and handoverStatus != '' ">
        and a.HandoverStatus = #{handoverStatus}
      </if>
      </where>
    </select>
  <select id="selectByOperatorIdAndHandover"
          resultType="com.hxoms.modules.omsoperator.entity.OmsOperatorHandover">
    select
    <include refid="Base_Column_List" />
    from oms_operator_handover
    where
      HandoverStatus != '1'
      <if test="operatorId != null and operatorId != ''">
        and OperatorId = #{operatorId}
      </if>
      <if test="handoverId != null and handoverId != ''">
        and HandoverId = #{handoverId}
      </if>
  </select>
  <select id="selectOmsRegRevokeapplyByStatusAndName"
          resultType="com.hxoms.modules.omsregcadre.entity.OmsRegRevokeapply">
    SELECT * from oms_reg_revokeapply
    <where>
      <if test="userId != null and userId != ''">
        and oms_reg_revokeapply.CREATE_USER = #{userId}
      </if>
      <if test="status != null and status != ''">
        and oms_reg_revokeapply.STATUS <![CDATA[<>]]> #{status}
      </if>
    </where>
  </select>
  <select id="selectOmsCerGetTaskByStatusAndName"
          resultType="com.hxoms.modules.passportCard.counterGet.entity.parameterEntity.OmsCerGetTaskVO">
        SELECT ocgt.*,
        rp.IDNUMBER_GB as idnumber,
        rp.WORK_UNIT as b0101,
        rp.POST as postrank
        FROM oms_cer_get_task ocgt
        LEFT JOIN oms_reg_procpersoninfo rp on ocgt.OMS_ID = rp.ID
        LEFT JOIN oms_cer_exit_entry_repertory oce on ocgt.ID = oce.GET_ID
        <where>
          <if test="userId != null and userId != ''">
            AND ocgt.GET_PEOPLE = #{userId}
          </if>
          <if test="status != null and status != ''">
            AND oce.STATUS = #{status}
          </if>
        </where>
  </select>
  <select id="selectCerCancellateLicenseByStatusAndName"
          resultType="com.hxoms.modules.passportCard.omsCerCancellateLicense.entity.OmsCerCancellateLicense">
      SELECT *
      FROM oms_cer_cancellate_license occl
      <where>
        <if test="userId != null and userId != ''">
          AND occl.CREATE_USER = #{userId}
        </if>
        <if test="status != null and status != ''">
          AND occl.ZHZXZT <![CDATA[<>]]> #{status}
        </if>
      </where>
  </select>
  <select id="selectCerCancellateLicenseByParam"
          resultType="com.hxoms.modules.passportCard.omsCerCancellateLicense.entity.OmsCerCancellateLicense">
    SELECT *
      FROM oms_cer_cancellate_license occl
      <where>
        <if test="omsOperatorJBYWQueryParam.operatorId != null ">
          AND occl.CREATE_USER = #{userId}
        </if>
        <if test="omsOperatorJBYWQueryParam.startTime != null and  omsOperatorJBYWQueryParam.startTime != ''">
          <![CDATA[ and occl.CREATE_TIME >= to_date(#{omsOperatorJBYWQueryParam.startTime,jdbcType=DATE},'yyyy-MM-dd hh24:mi:ss')]]>
        </if>
        <if test="omsOperatorJBYWQueryParam.endTime != null and  omsOperatorJBYWQueryParam.endTime != ''">
          <![CDATA[ and occl.CREATE_TIME <= to_date(#{omsOperatorJBYWQueryParam.endTime,jdbcType=DATE},'yyyy-MM-dd hh24:mi:ss')]]>
        </if>
      </where>
  </select>
  <select id="selectOmsCerGetTaskByParam"
          resultType="com.hxoms.modules.passportCard.counterGet.entity.parameterEntity.OmsCerGetTaskVO">
        SELECT
        ocgt.*,
        rp.IDNUMBER_GB AS idnumber,
        rp.WORK_UNIT AS b0101,
        a.OPERATE_TIME AS endTime,
        rp.SEX AS sex,
        rp.POST AS postrank
        FROM
        oms_cer_get_task ocgt
        LEFT JOIN (
        SELECT
        oce.GET_ID,
        oce.OPERATE_TIME
        FROM
        oms_cer_get_task ocgt
        LEFT JOIN oms_cer_exit_entry_repertory oce ON ocgt.ID = oce.GET_ID
        WHERE
        oce.STATUS = '1'
        ) a ON a.GET_ID = ocgt.id
        LEFT JOIN oms_reg_procpersoninfo rp ON ocgt.OMS_ID = rp.ID
        LEFT JOIN oms_cer_exit_entry_repertory oce ON ocgt.ID = oce.GET_ID
        <where>
          <if test="omsOperatorJBYWQueryParam.operatorId != null ">
            AND ocgt.GET_PEOPLE = #{userId}
          </if>
          <if test="omsOperatorJBYWQueryParam.startTime != null and  omsOperatorJBYWQueryParam.startTime != ''">
            <![CDATA[ and ocgt.GET_TIME >= to_date(#{omsOperatorJBYWQueryParam.startTime,jdbcType=DATE},'yyyy-MM-dd hh24:mi:ss')]]>
          </if>
          <if test="omsOperatorJBYWQueryParam.endTime != null and  omsOperatorJBYWQueryParam.endTime != ''">
            <![CDATA[ and occl.GET_TIME <= to_date(#{omsOperatorJBYWQueryParam.endTime,jdbcType=DATE},'yyyy-MM-dd hh24:mi:ss')]]>
          </if>
        </where>

  </select>
  <select id="selectOmsRegRevokeapplyByParam"
          resultType="com.hxoms.modules.omsregcadre.entity.OmsRegRevokeapply">
    SELECT * from oms_reg_revokeapply
    <where>
      <if test="omsOperatorJBYWQueryParam.operatorId != null ">
        AND oms_reg_revokeapply.CREATE_USER = #{userId}
      </if>
      <if test="omsOperatorJBYWQueryParam.startTime != null and  omsOperatorJBYWQueryParam.startTime != ''">
        <![CDATA[ and oms_reg_revokeapply.CREATE_DATE >= to_date(#{omsOperatorJBYWQueryParam.startTime,jdbcType=DATE},'yyyy-MM-dd hh24:mi:ss')]]>
      </if>
      <if test="omsOperatorJBYWQueryParam.endTime != null and  omsOperatorJBYWQueryParam.endTime != ''">
        <![CDATA[ and oms_reg_revokeapply.CREATE_DATE <= to_date(#{omsOperatorJBYWQueryParam.endTime,jdbcType=DATE},'yyyy-MM-dd hh24:mi:ss')]]>
      </if>

    </where>
  </select>
  <select id="selectOmsPriApplyByParam" resultType="com.hxoms.modules.privateabroad.entity.OmsPriApplyVO">
    select opa.*,
           CONCAT(IFNULL(orp.SURNAME,''),IFNULL(orp.NAME,'')) as name,
           orp.BIRTH_DATE as birthDate,
           orp.SEX as sex,
           orp.IDNUMBER_GB as idnumber,
           orp.REGISTE_RESIDENCE as registeResidence,
           orp.WORK_UNIT as b0101,
           orp.IDENTITY as identifyType
    from oms_pri_apply opa left join oms_reg_procpersoninfo orp on opa.PROCPERSON_ID = orp.ID
    <where>
      <if test="omsOperatorJBYWQueryParam.operatorId != null ">
        AND opa.CREATE_USER = #{userId}
      </if>
      <if test="omsOperatorJBYWQueryParam.startTime != null and  omsOperatorJBYWQueryParam.startTime != ''">
        <![CDATA[ and opa.ABROAD_TIME >= to_date(#{omsOperatorJBYWQueryParam.startTime,jdbcType=DATE},'yyyy-MM-dd hh24:mi:ss')]]>
      </if>
      <if test="omsOperatorJBYWQueryParam.endTime != null and  omsOperatorJBYWQueryParam.endTime != ''">
        <![CDATA[ and opa.ABROAD_TIME <= to_date(#{omsOperatorJBYWQueryParam.endTime,jdbcType=DATE},'yyyy-MM-dd hh24:mi:ss')]]>
      </if>
    </where>
  </select>
  <select id="selectOmsPriDelayApplyByParam" resultType="com.hxoms.modules.omsoperator.entity.OmsPriDelayVO">
    select pa.*,
            rp.SEX as sex,
            CONCAT(IFNULL(rp.SURNAME,''),IFNULL(rp.NAME,'')) as name,
            rp.IDNUMBER_GB as idnumber,
            rp.WORK_UNIT as b0101,
            rp.POST as postrank
    from oms_pri_delay_apply pa
    LEFT JOIN oms_reg_procpersoninfo rp on pa.PROCPERSON_ID = rp.ID
    <where>
      <if test="omsOperatorJBYWQueryParam.operatorId != null ">
        AND pa.CREATE_USER = #{userId}
      </if>
      <if test="omsOperatorJBYWQueryParam.startTime != null and  omsOperatorJBYWQueryParam.startTime != ''">
        <![CDATA[ and pa.CREATE_TIME >= to_date(#{omsOperatorJBYWQueryParam.startTime,jdbcType=DATE},'yyyy-MM-dd hh24:mi:ss')]]>
      </if>
      <if test="omsOperatorJBYWQueryParam.endTime != null and  omsOperatorJBYWQueryParam.endTime != ''">
        <![CDATA[ and pa.CREATE_TIME <= to_date(#{omsOperatorJBYWQueryParam.endTime,jdbcType=DATE},'yyyy-MM-dd hh24:mi:ss')]]>
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from oms_operator_handover
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hxoms.modules.omsoperator.entity.OmsOperatorHandover">
    insert into oms_operator_handover (ID, OperatorId, HandoverId, 
      HandoverTime, HandoverStatus)
    values (#{id,jdbcType=VARCHAR}, #{operatorid,jdbcType=VARCHAR}, #{handoverid,jdbcType=VARCHAR}, 
      #{handovertime,jdbcType=DATE}, #{handoverstatus,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hxoms.modules.omsoperator.entity.OmsOperatorHandover">
    insert into oms_operator_handover
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="operatorid != null">
        OperatorId,
      </if>
      <if test="handoverid != null">
        HandoverId,
      </if>
      <if test="handovertime != null">
        HandoverTime,
      </if>
      <if test="handoverstatus != null">
        HandoverStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="operatorid != null">
        #{operatorid,jdbcType=VARCHAR},
      </if>
      <if test="handoverid != null">
        #{handoverid,jdbcType=VARCHAR},
      </if>
      <if test="handovertime != null">
        #{handovertime,jdbcType=DATE},
      </if>
      <if test="handoverstatus != null">
        #{handoverstatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hxoms.modules.omsoperator.entity.OmsOperatorHandover">
    update oms_operator_handover
    <set>
      <if test="operatorid != null">
        OperatorId = #{operatorid,jdbcType=VARCHAR},
      </if>
      <if test="handoverid != null">
        HandoverId = #{handoverid,jdbcType=VARCHAR},
      </if>
      <if test="handovertime != null">
        HandoverTime = #{handovertime,jdbcType=DATE},
      </if>
      <if test="handoverstatus != null">
        HandoverStatus = #{handoverstatus,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxoms.modules.omsoperator.entity.OmsOperatorHandover">
    update oms_operator_handover
    set OperatorId = #{operatorid,jdbcType=VARCHAR},
      HandoverId = #{handoverid,jdbcType=VARCHAR},
      HandoverTime = #{handovertime,jdbcType=DATE},
      HandoverStatus = #{handoverstatus,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>