<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.omsoperator.mapper.OmsOperatorHandoverSubformMapper">
  <resultMap id="BaseResultMap" type="com.hxoms.modules.omsoperator.entity.OmsOperatorHandoverSubform">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="HandoverFormID" jdbcType="VARCHAR" property="handoverformid" />
    <result column="BusinessId" jdbcType="VARCHAR" property="businessid" />
    <result column="BusinessType" jdbcType="VARCHAR" property="businesstype" />
    <result column="A0100" jdbcType="VARCHAR" property="a0100" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Sex" jdbcType="VARCHAR" property="sex" />
    <result column="Birthday" jdbcType="DATE" property="birthday" />
    <result column="IDCard" jdbcType="CHAR" property="idcard" />
    <result column="PoliticsStatus" jdbcType="VARCHAR" property="politicsstatus" />
    <result column="Company" jdbcType="VARCHAR" property="company" />
    <result column="Duty" jdbcType="VARCHAR" property="duty" />
    <result column="HandoverTime" jdbcType="DATE" property="handovertime" />
    <result column="HandoverId" jdbcType="VARCHAR" property="handoverid" />
    <result column="ExitDate" jdbcType="DATE" property="exitdate" />
    <result column="EntryDate" jdbcType="DATE" property="entrydate" />
    <result column="SM" jdbcType="VARCHAR" property="sm" />
    <result column="BZ" jdbcType="VARCHAR" property="bz" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, HandoverFormID, BusinessId, BusinessType, A0100, Name, Sex, Birthday, IDCard, 
    PoliticsStatus, Company, Duty, HandoverTime, HandoverId, ExitDate, EntryDate, SM,
    BZ
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oms_operator_handover_subform
    where ID = #{id,jdbcType=VARCHAR}
  </select>
    <select id="getAllDataByHandoverId"
            resultType="com.hxoms.modules.omsoperator.entity.OmsOperatorHandoverSubform">
      select
      <include refid="Base_Column_List" />
      from oms_operator_handover_subform oh
      <where>
        <if test="zbId != null and zbId != ''">
          and oh.HandoverFormID = #{zbId}
        </if>
        <if test="ywId != null and ywId != ''">
          and oh.BusinessId = #{ywId}
        </if>
      </where>


    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from oms_operator_handover_subform
    where HandoverFormID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hxoms.modules.omsoperator.entity.OmsOperatorHandoverSubform">
    insert into oms_operator_handover_subform (ID, HandoverFormID, BusinessId, 
      BusinessType, A0100, Name, 
      Sex, Birthday, IDCard, PoliticsStatus, 
      Company, Duty, HandoverTime, 
      HandoverId, ExitDate, EntryDate, 
      SM, BZ)
    values (#{id,jdbcType=VARCHAR}, #{handoverformid,jdbcType=VARCHAR}, #{businessid,jdbcType=VARCHAR}, 
      #{businesstype,jdbcType=VARCHAR}, #{a0100,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{idcard,jdbcType=CHAR}, #{politicsstatus,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{duty,jdbcType=VARCHAR}, #{handovertime,jdbcType=DATE}, 
      #{handoverid,jdbcType=VARCHAR}, #{exitdate,jdbcType=DATE}, #{entrydate,jdbcType=DATE}, 
      #{sm,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hxoms.modules.omsoperator.entity.OmsOperatorHandoverSubform">
    insert into oms_operator_handover_subform
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="record.id != null">
        ID,
      </if>
      <if test="record.handoverformid != null">
        HandoverFormID,
      </if>
      <if test="record.businessid != null">
        BusinessId,
      </if>
      <if test="record.businesstype != null">
        BusinessType,
      </if>
      <if test="record.a0100 != null">
        A0100,
      </if>
      <if test="record.name != null">
        Name,
      </if>
      <if test="record.sex != null">
        Sex,
      </if>
      <if test="record.birthday != null">
        Birthday,
      </if>
      <if test="record.idcard != null">
        IDCard,
      </if>
      <if test="record.politicsstatus != null">
        PoliticsStatus,
      </if>
      <if test="record.company != null">
        Company,
      </if>
      <if test="record.duty != null">
        Duty,
      </if>
      <if test="record.handovertime != null">
        HandoverTime,
      </if>
      <if test="record.handoverid != null">
        HandoverId,
      </if>
      <if test="record.exitdate != null">
        ExitDate,
      </if>
      <if test="record.entrydate != null">
        EntryDate,
      </if>
      <if test="record.SM != null">
        SM,
      </if>
      <if test="record.bz != null">
        BZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="record.id != null">
        #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.handoverformid != null">
        #{record.handoverformid,jdbcType=VARCHAR},
      </if>
      <if test="record.businessid != null">
        #{record.businessid,jdbcType=VARCHAR},
      </if>
      <if test="record.businesstype != null">
        #{record.businesstype,jdbcType=VARCHAR},
      </if>
      <if test="record.a0100 != null">
        #{record.a0100,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null">
        #{record.birthday,jdbcType=DATE},
      </if>
      <if test="record.idcard != null">
        #{record.idcard,jdbcType=CHAR},
      </if>
      <if test="record.politicsstatus != null">
        #{record.politicsstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null">
        #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.duty != null">
        #{record.duty,jdbcType=VARCHAR},
      </if>
      <if test="record.handovertime != null">
        #{record.handovertime,jdbcType=DATE},
      </if>
      <if test="record.handoverid != null">
        #{record.handoverid,jdbcType=VARCHAR},
      </if>
      <if test="record.exitdate != null">
        #{record.exitdate,jdbcType=DATE},
      </if>
      <if test="record.entrydate != null">
        #{record.entrydate,jdbcType=DATE},
      </if>
      <if test="record.SM != null">
        #{record.sm,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null">
        #{record.bz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hxoms.modules.omsoperator.entity.OmsOperatorHandoverSubform">
    update oms_operator_handover_subform
    <set>
      <if test="handoverformid != null">
        HandoverFormID = #{handoverformid,jdbcType=VARCHAR},
      </if>
      <if test="businessid != null">
        BusinessId = #{businessid,jdbcType=VARCHAR},
      </if>
      <if test="businesstype != null">
        BusinessType = #{businesstype,jdbcType=VARCHAR},
      </if>
      <if test="a0100 != null">
        A0100 = #{a0100,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        Sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        Birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="idcard != null">
        IDCard = #{idcard,jdbcType=CHAR},
      </if>
      <if test="politicsstatus != null">
        PoliticsStatus = #{politicsstatus,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        Company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        Duty = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="handovertime != null">
        HandoverTime = #{handovertime,jdbcType=DATE},
      </if>
      <if test="handoverid != null">
        HandoverId = #{handoverid,jdbcType=VARCHAR},
      </if>
      <if test="exitdate != null">
        ExitDate = #{exitdate,jdbcType=DATE},
      </if>
      <if test="entrydate != null">
        EntryDate = #{entrydate,jdbcType=DATE},
      </if>
      <if test="sm != null">
        SM = #{sm,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxoms.modules.omsoperator.entity.OmsOperatorHandoverSubform">
    update oms_operator_handover_subform
    set HandoverFormID = #{handoverformid,jdbcType=VARCHAR},
      BusinessId = #{businessid,jdbcType=VARCHAR},
      BusinessType = #{businesstype,jdbcType=VARCHAR},
      A0100 = #{a0100,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      Sex = #{sex,jdbcType=VARCHAR},
      Birthday = #{birthday,jdbcType=DATE},
      IDCard = #{idcard,jdbcType=CHAR},
      PoliticsStatus = #{politicsstatus,jdbcType=VARCHAR},
      Company = #{company,jdbcType=VARCHAR},
      Duty = #{duty,jdbcType=VARCHAR},
      HandoverTime = #{handovertime,jdbcType=DATE},
      HandoverId = #{handoverid,jdbcType=VARCHAR},
      ExitDate = #{exitdate,jdbcType=DATE},
      EntryDate = #{entrydate,jdbcType=DATE},
      SM = #{sm,jdbcType=VARCHAR},
      BZ = #{bz,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>