<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.dataCapture.masterdata.mapper.DataCaptureMapper">

    <sql id="orcal_paging_frist" >
       SELECT *

       FROM (SELECT ROWNUM AS rowno,
    </sql>

    <sql id="orcal_paging_last">

        WHERE

         ROWNUM <![CDATA[<=]]> ${maxpage}) temp

        WHERE temp.rowno <![CDATA[>]]> ${minpage}
    </sql>

    <sql id="mysql_paging">

      LIMIT ${offset} ,${rows}

    </sql>


    <!-- A01 表  -->
    <sql id="a01sql">
        a0100,
        a0101,
        a0102,
        a0104,
        a0117_a,
        a0117,
        a0104_a,
        a0111b,
        a0111a,
        a0107,
        a0114a,
        a0114b,
        a0115b,
        a0115a,
        a0120,
        a0128,
        a0121,
        a0122,
        a0127,
        a0160,
        a0163,
        a0165,
        a0180,
        a0141,
        a0187a,
        a0195,
        a0192,
        a0192a,
        a14z101,
        a15z101,
        a0194,
        a0197,
        a0196,
        a2949,
        a0140,
        qrzxl,
        qrzxw,
        qrzxlxx,
        qrzxwxx,
        zzxl,
        zzxw,
        zzxlxx,
        zzxwxx,
        cbdw,
        jsnlsj,
        nrzw,
        nmzw,
        rmly,
        rxz_date,
        id,
        is_deleted,
        modify_user,
        modify_time,
        time_stamp,
        a0184,
        node_id,
        a3921,
        a3927,

        a1701,
        zzxx,
        qrzxx,
        a0140_lrmx,
        photodetail,
        a0194a,
        a0221,
        a0192e,
        leadertype,
        tbr,
        tbsj,
        qrzxlb,
        zzxlb,
        a1701_a,
        zgxl,
        zgxlb,
        zgxlxx,
        zgxw,
        zgxwxx,
        cfqn,
        age_2,
        rxz_dates,
        a0196b,
        a0192d,
        a0229,
        change_state,
        zj_type,



    </sql>


    <select id="getMasterA01" resultType="com.hxoms.common.LowerKeyMapTest">
        select

        <include refid="a01sql"/>
        a0134,
        a0288,
        a0144,
        a0192c
        FROM A01
       order by a0100

       <include refid="mysql_paging"/>

    </select>

    <select id="getTargetA01" resultType="com.hxoms.common.LowerKeyMapTest">
       <include refid="orcal_paging_frist"/>
        <include refid="a01sql"/>
       decode(length(a0134),8,to_date(a0134,'yyyy-MM-dd'),to_date(a0134,'yyyy-MM')),
       decode(length(a0288),8,to_date(a0288,'yyyy-MM-dd'),to_date(a0288,'yyyy-MM')),
       decode(length(a0144),8,to_date(a0144,'yyyy-MM-dd'),to_date(a0144,'yyyy-MM')),
       decode(length(a0192c),8,to_date(a0192c,'yyyy-MM-dd'),to_date(a0192c,'yyyy-MM'))
        FROM A01
       <include refid="orcal_paging_last"/>
    </select>

    <select id="getMasterA01Count" resultType="Integer">

        select  count(1)  from a01

    </select>

    <select id="getTargetA01Count" resultType="Integer">

        select  count(1)  from a01

    </select>

    <update id="updateMasterA01">
        <foreach collection="list" item="item" index="index" separator=";">
            update A01
            set

            a0101 = #{item.a0101},
            a0102 = #{item.a0102},
            a0104 = #{item.a0104},
            a0117_a = #{item.a0117_a},
            a0117 = #{item.a0117},
            a0104_a =#{item.a0104_a},
            a0111b = #{item.a0111b},
            a0111a = #{item.a0111a},
            a0107 = #{item.a0107},
            a0114a = #{item.a0114a},
            a0114b = #{item.a0114b},
            a0115b = #{item.a0115b},
            a0115a = #{item.a0115a},
            a0120 = #{item.a0120},
            a0128 = #{item.a0128},
            a0121 = #{item.a0121},
            a0122 = #{item.a0122},
            a0127 = #{item.a0127},
            a0160 = #{item.a0160},
            a0163 = #{item.a0163},
            a0165 = #{item.a0165},
            a0180 = #{item.a0180},
            a0141 = #{item.a0141},
            a0187a = #{item.a0187a},
            a0195 = #{item.a0195},
            a0192 = #{item.a0192},
            a0192a = #{item.a0192a},
            a14z101 = #{item.a14z101},
            a15z101 = #{item.a15z101},
            a0194 = #{item.a0194},
            a0197 = #{item.a0197},
            a0196 = #{item.a0196},
            a2949 = #{item.a2949},
            a0140 = #{item.a0140},
            qrzxl = #{item.qrzxl},
            qrzxw = #{item.qrzxw},
            qrzxlxx = #{item.qrzxlxx},
            qrzxwxx = #{item.qrzxwxx},
            zzxl = #{item.zzxl},
            zzxw = #{item.zzxw},
            zzxlxx = #{item.zzxlxx},
            zzxwxx = #{item.zzxwxx},
            cbdw = #{item.cbdw},
            jsnlsj = #{item.jsnlsj},
            nrzw = #{item.nrzw},
            nmzw = #{item.nmzw},
            rmly = #{item.rmly},
            rxz_date = #{item.rxz_date},
            id = #{item.id},
            is_deleted = #{item.is_deleted},
            modify_user = #{item.modify_user},
            modify_time = #{item.modify_time},
            time_stamp = #{item.time_stamp},
            a0184 = #{item.a0184},
            node_id = #{item.node_id},
            a3921 = #{item.a3921},
            a3927 = #{item.a3927},

            a1701 = #{item.a1701},
            zzxx = #{item.zzxx},
            qrzxx = #{item.qrzxx},
            a0140_lrmx = #{item.a0140_lrmx},
            photodetail = #{item.photodetail},
            a0194a = #{item.a0194a},
            a0221 = #{item.a0221},
            a0192e = #{item.a0192e},
            leadertype = #{item.leadertype},
            tbr = #{item.tbr},
            tbsj = #{item.tbsj},
            qrzxlb = #{item.qrzxlb},
            zzxlb = #{item.zzxlb},
            a1701_a = #{item.a1701_a},
            zgxl = #{item.zgxl},
            zgxlb = #{item.zgxlb},
            zgxlxx = #{item.zgxlxx},
            zgxw = #{item.zgxw},
            zgxwxx = #{item.zgxwxx},
            cfqn = #{item.cfqn},
            age_2 = #{item.age_2},
            rxz_dates = #{item.rxz_dates},
            a0196b = #{item.a0196b},
            a0192d = #{item.a0192d},
            a0229 = #{item.a0229},
            change_state = #{item.change_state},
            zj_type = #{item.zj_type},
            a0134 = #{item.a0134},
            a0144 = #{item.a0144},
            a0288 = #{item.a0288},
            a0192c = #{item.a0192c}

            where a0100 = #{item.a0100}
        </foreach>
    </update>


    <update id="updateMasterA01ByIdCard">
        <foreach collection="list" item="item" index="index" separator=";">
            update A01
            set

            a0101 = #{item.a0101},
            a0102 = #{item.a0102},
            a0104 = #{item.a0104},
            a0117_a = #{item.a0117_a},
            a0117 = #{item.a0117},
            a0104_a =#{item.a0104_a},
            a0111b = #{item.a0111b},
            a0111a = #{item.a0111a},
            a0107 = #{item.a0107},
            a0114a = #{item.a0114a},
            a0114b = #{item.a0114b},
            a0115b = #{item.a0115b},
            a0115a = #{item.a0115a},
            a0120 = #{item.a0120},
            a0128 = #{item.a0128},
            a0121 = #{item.a0121},
            a0122 = #{item.a0122},
            a0127 = #{item.a0127},
            a0160 = #{item.a0160},
            a0163 = #{item.a0163},
            a0165 = #{item.a0165},
            a0180 = #{item.a0180},
            a0141 = #{item.a0141},
            a0187a = #{item.a0187a},
            a0195 = #{item.a0195},
            a0192 = #{item.a0192},
            a0192a = #{item.a0192a},
            a14z101 = #{item.a14z101},
            a15z101 = #{item.a15z101},
            a0194 = #{item.a0194},
            a0197 = #{item.a0197},
            a0196 = #{item.a0196},
            a2949 = #{item.a2949},
            a0140 = #{item.a0140},
            qrzxl = #{item.qrzxl},
            qrzxw = #{item.qrzxw},
            qrzxlxx = #{item.qrzxlxx},
            qrzxwxx = #{item.qrzxwxx},
            zzxl = #{item.zzxl},
            zzxw = #{item.zzxw},
            zzxlxx = #{item.zzxlxx},
            zzxwxx = #{item.zzxwxx},
            cbdw = #{item.cbdw},
            jsnlsj = #{item.jsnlsj},
            nrzw = #{item.nrzw},
            nmzw = #{item.nmzw},
            rmly = #{item.rmly},
            rxz_date = #{item.rxz_date},
            id = #{item.id},
            is_deleted = #{item.is_deleted},
            modify_user = #{item.modify_user},
            modify_time = #{item.modify_time},
            time_stamp = #{item.time_stamp},
            a0184 = #{item.a0184},
            node_id = #{item.node_id},
            a3921 = #{item.a3921},
            a3927 = #{item.a3927},

            a1701 = #{item.a1701},
            zzxx = #{item.zzxx},
            qrzxx = #{item.qrzxx},
            a0140_lrmx = #{item.a0140_lrmx},
            photodetail = #{item.photodetail},
            a0194a = #{item.a0194a},
            a0221 = #{item.a0221},
            a0192e = #{item.a0192e},
            leadertype = #{item.leadertype},
            tbr = #{item.tbr},
            tbsj = #{item.tbsj},
            qrzxlb = #{item.qrzxlb},
            zzxlb = #{item.zzxlb},
            a1701_a = #{item.a1701_a},
            zgxl = #{item.zgxl},
            zgxlb = #{item.zgxlb},
            zgxlxx = #{item.zgxlxx},
            zgxw = #{item.zgxw},
            zgxwxx = #{item.zgxwxx},
            cfqn = #{item.cfqn},
            age_2 = #{item.age_2},
            rxz_dates = #{item.rxz_dates},
            a0196b = #{item.a0196b},
            a0192d = #{item.a0192d},
            a0229 = #{item.a0229},
            change_state = #{item.change_state},
            zj_type = #{item.zj_type},
            a0134 = #{item.a0134},
            a0144 = #{item.a0144},
            a0288 = #{item.a0288},
            a0192c = #{item.a0192c}

            where a0184 = #{item.a0184}
        </foreach>
    </update>


    <insert id="insertMasterA01">
        insert into A01
        (
        a0100,
        a0101,
        a0102,
        a0104,
        a0117_a,
        a0117,
        a0104_a,
        a0111b,
        a0111a,
        a0107,
        a0114a,
        a0114b,
        a0115b,
        a0115a,
        a0120,
        a0128,
        a0121,
        a0122,
        a0127,
        a0160,
        a0163,
        a0165,
        a0180,
        a0141,
        a0187a,
        a0195,
        a0192,
        a0192a,
        a14z101,
        a15z101,
        a0194,
        a0197,
        a0196,
        a2949,
        a0140,
        qrzxl,
        qrzxw,
        qrzxlxx,
        qrzxwxx,
        zzxl,
        zzxw,
        zzxlxx,
        zzxwxx,
        cbdw,
        jsnlsj,
        nrzw,
        nmzw,
        rmly,
        rxz_date,
        id,
        is_deleted,
        modify_user,
        modify_time,
        time_stamp,
        a0184,
        node_id,
        a3921,
        a3927,

        a1701,
        zzxx,
        qrzxx,
        a0140_lrmx,
        photodetail,
        a0194a,
        a0221,
        a0192e,
        leadertype,
        tbr,
        tbsj,
        qrzxlb,
        zzxlb,
        a1701_a,
        zgxl,
        zgxlb,
        zgxlxx,
        zgxw,
        zgxwxx,
        cfqn,
        age_2,
        rxz_dates,
        a0196b,
        a0192d,
        a0229,
        change_state,
        zj_type,
        a0134,
        a0288,
        a0144,
        a0192c
        )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.a0100},
            #{item.a0101},
            #{item.a0102},
            #{item.a0104},
            #{item.a0117_a},
            #{item.a0117},
            #{item.a0104_a},
            #{item.a0111b},
            #{item.a0111a},
            #{item.a0107},
            #{item.a0114a},
            #{item.a0114b},
            #{item.a0115b},
            #{item.a0115a},
            #{item.a0120},
            #{item.a0128},
            #{item.a0121},
            #{item.a0122},
            #{item.a0127},
            #{item.a0160},
            #{item.a0163},
            #{item.a0165},
            #{item.a0180},
            #{item.a0141},
            #{item.a0187a},
            #{item.a0195},
            #{item.a0192},
            #{item.a0192a},
            #{item.a14z101},
            #{item.a15z101},
            #{item.a0194},
            #{item.a0197},
            #{item.a0196},
            #{item.a2949},
            #{item.a0140},
            #{item.qrzxl},
            #{item.qrzxw},
            #{item.qrzxlxx},
            #{item.qrzxwxx},
            #{item.zzxl},
            #{item.zzxw},
            #{item.zzxlxx},
            #{item.zzxwxx},
            #{item.cbdw},
            #{item.jsnlsj},
            #{item.nrzw},
            #{item.nmzw},
            #{item.rmly},
            #{item.rxz_date},
            #{item.id},
            #{item.is_deleted},
            #{item.modify_user},
            #{item.modify_time},
            #{item.time_stamp},
            #{item.a0184},
            #{item.node_id},
            #{item.a3921},
            #{item.a3927},

            #{item.a1701},
            #{item.zzxx},
            #{item.qrzxx},
            #{item.a0140_lrmx},
            #{item.photodetail},
            #{item.a0194a},
            #{item.a0221},
            #{item.a0192e},
            #{item.leadertype},
            #{item.tbr},
            #{item.tbsj},
            #{item.qrzxlb},
            #{item.zzxlb},
            #{item.a1701_a},
            #{item.zgxl},
            #{item.zgxlb},
            #{item.zgxlxx},
            #{item.zgxw},
            #{item.zgxwxx},
            #{item.cfqn},
            #{item.age_2},
            #{item.rxz_dates},
            #{item.a0196b},
            #{item.a0192d},
            #{item.a0229},
            #{item.change_state},
            #{item.zj_type},
            #{item.a0134},
            #{item.a0288},
            #{item.a0144},
            #{item.a0192c}
            )
        </foreach>
    </insert>

   <!-- A02 表  -->

    <sql id="a02sql">

        A0200,
        A0100,
        A0201A,
        A0201B,
        A0201D,
        A0201E,
        A0207,
        A0209,
        A0215A,
        A0215B,
        A0219,
        A0221,
        A0221A,
        A0221T,
        A0222,
        A0223,
        A0225,
        A0229,
        A0243,
        A0245,
        A0247,
        A0251,
        A0251B,
        A0255,
        A0259,
        A0265,
        A0267,
        A0271,
        A0284,
        A0288,
        A4901,
        A4904,
        A4907,
        ID,
        IS_DELETED,
        MODIFY_USER,
        MODIFY_TIME,
        TIME_STAMP,
        NODE_ID,
        A0279,
        A0272,
        A0281

    </sql>


    <select id="getMasterA02" resultType="com.hxoms.common.LowerKeyMapTest">
        select
        <include refid="a02sql"/>
        FROM A02

        order by a0222

        <include refid="mysql_paging"/>

    </select>

    <select id="getTargetA02" resultType="com.hxoms.common.LowerKeyMapTest">
        <include refid="orcal_paging_frist"/>
        <include refid="a02sql"/>
        FROM A02
        <include refid="orcal_paging_last"/>
    </select>

    <select id="getMasterA02Count" resultType="Integer">

        select  count(1)  from a02

    </select>

    <select id="getTargetA02Count" resultType="Integer">

        select  count(1)  from a02

    </select>

    <update id="updateMasterA02">
        <foreach collection="list" item="item" index="index" separator=";">
          update A02
          set
            a0100 = #{item.a0100},
            a0201a = #{item.a0201a},
            a0201b = #{item.a0201b},
            a0201d = #{item.a0201d},
            a0201e = #{item.a0201e},
            a0207 = #{item.a0207},
            a0209 = #{item.a0209},
            a0215a = #{item.a0215a},
            a0215b = #{item.a0215b},
            a0219 = #{item.a0219},
            a0221 = #{item.a0221},
            a0221a = #{item.a0221a},
            a0221t = #{item.a0221t},
            a0222 = #{item.a0222},
            a0223 = #{item.a0223},
            a0225 = #{item.a0225},
            a0229 = #{item.a0229},
            a0243 = #{item.a0243},
            a0245 = #{item.a0245},
            a0247 = #{item.a0247},
            a0251 = #{item.a0251},
            a0251b = #{item.a0251b},
            a0255 = #{item.a0255},
            a0259 = #{item.a0259},
            a0265 = #{item.a0265},
            a0267 = #{item.a0267},
            a0271 = #{item.a0271},
            a0284 = #{item.a0284},
            a0288 = #{item.a0288},
            a4901 = #{item.a4901},
            a4904 = #{item.a4904},
            a4907 = #{item.a4907},
            id = #{item.id},
            is_deleted = #{item.is_deleted},
            modify_user = #{item.modify_user},
            modify_time = #{item.modify_time},
            time_stamp = #{item.time_stamp},
            node_id = #{item.node_id},
            a0279 = #{item.a0279},
            a0272 = #{item.a0272},
            a0281 = #{item.a0281}

            where A0200 = #{item.A0200}
        </foreach>
    </update>

    <insert id="insertMasterA02">
        insert into A02 (
        a0200,
        a0100,
        a0201a,
        a0201b,
        a0201d,
        a0201e,
        a0207,
        a0209,
        a0215a,
        a0215b,
        a0219,
        a0221,
        a0221a,
        a0221t,
        a0222,
        a0223,
        a0225,
        a0229,
        a0243,
        a0245,
        a0247,
        a0251,
        a0251b,
        a0255,
        a0259,
        a0265,
        a0267,
        a0271,
        a0284,
        a0288,
        a4901,
        a4904,
        a4907,
        id,
        is_deleted,
        modify_user,
        modify_time,
        time_stamp,
        node_id,
        a0279,
        a0272,
        a0281
        )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.a0200},
            #{item.a0100},
            #{item.a0201a},

            #{item.a0201b},
            #{item.a0201d},
            #{item.a0201e},
            #{item.a0207},
            #{item.a0209},
            #{item.a0215a},
            #{item.a0215b},
            #{item.a0219},
            #{item.a0221},
            #{item.a0221a},
            #{item.a0221t},
            #{item.a0222},
            #{item.a0223},
            #{item.a0225},
            #{item.a0229},
            #{item.a0243},
            #{item.a0245},
            #{item.a0247},
            #{item.a0251},
            #{item.a0251b},
            #{item.a0255},
            #{item.a0259},
            #{item.a0265},
            #{item.a0267},
            #{item.a0271},
            #{item.a0284},
            #{item.a0288},
            #{item.a4901},
            #{item.a4904},
            #{item.a4907},
            #{item.id},
            #{item.is_deleted},
            #{item.modify_user},
            #{item.modify_time},
            #{item.time_stamp},
            #{item.node_id},
            #{item.a0279},
            #{item.a0272},
            #{item.a0281}

            )
        </foreach>
    </insert>

    <!-- 表 A05-->

    <sql id="a05sql">
        a0100,
        a0531,
        a0501b,
        a0504,
        a0511,
        a0517,
        a0524,
        modify_user,
        modify_time,
        is_deleted,
        id,
        time_stamp,
        node_id,
        a0500,
        a0526

    </sql>

    <select id="getMasterA05" resultType="com.hxoms.common.LowerKeyMapTest">
        select
        <include refid="a05sql"/>
        FROM A05

        order by a0500

        <include refid="mysql_paging"/>
    </select>

    <select id="getTargetA05" resultType="com.hxoms.common.LowerKeyMapTest">
        <include refid="orcal_paging_frist"/>
        <include refid="a05sql"/>
        FROM A05

        <include refid="orcal_paging_last"/>

    </select>

    <select id="getMasterA05Count" resultType="Integer">

        select  count(1)  from a05

    </select>

    <select id="getTargetA05Count" resultType="Integer">

        select  count(1)  from a05

    </select>

    <update id="updateMasterA05">
        <foreach collection="list" item="item" index="index" separator=";">
            update A05
            set
              a0100 = #{item.a0100},
              a0531 = #{item.a0531},
              a0501b = #{item.a0501b},
              a0504 = #{item.a0504},
              a0511 = #{item.a0511},
              a0517 = #{item.a0517},
              a0524 = #{item.a0524},
              modify_user = #{item.modify_user},
              modify_time = #{item.modify_time},
              is_deleted = #{item.is_deleted},
              id = #{item.id},
              time_stamp = #{item.time_stamp},
              node_id = #{item.node_id},
              a0526 = #{item.a0526}
            where a0500 = #{item.a0500}
        </foreach>
    </update>

    <insert id="insertMasterA05">
        insert into a05 (
        a0100,
        a0531,
        a0501b,
        a0504,
        a0511,
        a0517,
        a0524,
        modify_user,
        modify_time,
        is_deleted,
        id,
        time_stamp,
        node_id,
        a0500,
        a0526
        )
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.a0100},
            #{item.a0531},
            #{item.a0501b},
            #{item.a0504},
            #{item.a0511},
            #{item.a0517},
            #{item.a0524},
            #{item.modify_user},
            #{item.modify_time},
            #{item.is_deleted},
            #{item.id},
            #{item.time_stamp},
            #{item.node_id},
            #{item.a0500},
            #{item.a0526}

            )
        </foreach>
    </insert>



    <!--表a051 职级信息 -->


    <!-- 表 a06 专业技术 -->

    <sql id="a06sql">

            a0600,
            a0100,
            a0601,
            a0602,
            a0604,
            a0607,
            a0611,
            modify_user,
            modify_time,
            is_deleted,
            id,
            time_stamp,
            node_id

    </sql>

    <select id="getMasterA06" resultType="com.hxoms.common.LowerKeyMapTest">
        select
        <include refid="a06sql"/>
        FROM A06

        order by a0600

        <include refid="mysql_paging"/>

    </select>

    <select id="getTargetA06" resultType="com.hxoms.common.LowerKeyMapTest">
        <include refid="orcal_paging_frist"/>
        <include refid="a06sql"/>

        FROM A06

        <include refid="orcal_paging_last"/>

    </select>

    <select id="getMasterA06Count" resultType="Integer">

        select  count(1)  from a06

    </select>

    <select id="getTargetA06Count" resultType="Integer">

        select  count(1)  from a06

    </select>

    <update id="updateMasterA06">
        <foreach collection="list" item="item" index="index" separator=";">
            update A06
            set
            a0100 = #{item.a0100},
            a0601 = #{item.a0601},
            a0602 = #{item.a0602},
            a0604 = #{item.a0604},
            a0607 = #{item.a0607},
            a0611 = #{item.a0611},
            modify_user = #{item.modify_user},
            modify_time = #{item.modify_time},
            is_deleted = #{item.is_deleted},
            id = #{item.id},
            time_stamp = #{item.time_stamp},
            node_id  = #{item.node_id}
            where a0600 = #{item.a0600}


        </foreach>
    </update>

    <insert id="insertMasterA06">
        insert into A06 (
        a0600,
        a0100,
        a0601,
        a0602,
        a0604,
        a0607,
        a0611,
        modify_user,
        modify_time,
        is_deleted,
        id,
        time_stamp,
        node_id
        )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (

            #{item.a0600},
            #{item.a0100},
            #{item.a0601},
            #{item.a0602},
            #{item.a0604},
            #{item.a0607},
            #{item.a0611},
            #{item.modify_user},
            #{item.modify_time},
            #{item.is_deleted},
            #{item.id},
            #{item.time_stamp},
            #{item.node_id}

            )
        </foreach>
    </insert>


    <!-- 表 a08 学历学位 -->


    <sql id="a08sql">
        a0801b,
        a0901a,
        a0901b,
        a0804,
        a0807,
        a0811,
        a0904,
        a0814,
        a0824,
        a0827,
        a0837,
        a0100,
        modify_user,
        modify_time,
        is_deleted,
        a0801a,
        id,
        time_stamp,
        node_id,
        a0898,
        is_normal,
        a0899,
        a0834,
        a0835
    </sql>

    <select id="getMasterA08" resultType="com.hxoms.common.LowerKeyMapTest">
        select
        a080900 as  a0800 ,
        <include refid="a08sql"/>
        FROM A0809

        order by a080900

        <include refid="mysql_paging"/>

    </select>

    <select id="getTargetA08" resultType="com.hxoms.common.LowerKeyMapTest">
        <include refid="orcal_paging_frist"/>
        a0800,
        <include refid="a08sql"/>
        FROM A08
        <include refid="orcal_paging_last"/>

    </select>


    <select id="getMasterA08Count" resultType="Integer">

        select  count(1)  from A0809

    </select>

    <select id="getTargetA08Count" resultType="Integer">

        select  count(1)  from a08

    </select>

    <update id="updateMasterA08">
        <foreach collection="list" item="item" index="index" separator=";">
            update A0809
            set
            a0801b = #{item.a0801b},
            a0901a = #{item.a0901a},
            a0901b = #{item.a0901b},
            a0804 = #{item.a0804},
            a0807 = #{item.a0807},
            a0811 = #{item.a0811},
            a0904 = #{item.a0904},
            a0814 = #{item.a0814},
            a0824 = #{item.a0824},
            a0827 = #{item.a0827},
            a0837 = #{item.a0837},
            a0100 = #{item.a0100},
            modify_user = #{item.modify_user},
            modify_time = #{item.modify_time},
            is_deleted = #{item.is_deleted},
            a0801a = #{item.a0801a},
            id = #{item.id},
            time_stamp = #{item.time_stamp},
            node_id = #{item.node_id},
            a0898 = #{item.a0898},
            is_normal = #{item.is_normal},
            a0899 = #{item.a0899},
            a0834 = #{item.a0834},
            a0835 = #{item.a0835}
            where a080900 = #{item.a0800}


        </foreach>
    </update>

    <insert id="insertMasterA08">
        insert into A0809 (
        a080900,
        a0801b,
        a0901a,
        a0901b,
        a0804,
        a0807,
        a0811,
        a0904,
        a0814,
        a0824,
        a0827,
        a0837,
        a0100,
        modify_user,
        modify_time,
        is_deleted,
        a0801a,
        id,
        time_stamp,
        node_id,
        a0898,
        is_normal,
        a0899,
        a0834,
        a0835
        )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (

            #{item.a0800},
            #{item.a0801b},
            #{item.a0901a},
            #{item.a0901b},
            #{item.a0804},
            #{item.a0807},
            #{item.a0811},
            #{item.a0904},
            #{item.a0814},
            #{item.a0824},
            #{item.a0827},
            #{item.a0837},
            #{item.a0100},
            #{item.modify_user},
            #{item.modify_time},
            #{item.is_deleted},
            #{item.a0801a},
            #{item.id},
            #{item.time_stamp},
            #{item.node_id},
            #{item.a0898},
            #{item.is_normal},
            #{item.a0899},
            #{item.a0834},
            #{item.a0835}

            )
        </foreach>
    </insert>





    <!-- 表 a14 奖惩信息 -->
     <sql id="a14sql">
         a1400,
         a0100,
         a1424,
         a1404a,
         a1404b,
         a1407,
         a1411a,
         a1414,
         a1415,
         a1428,
         id,
         is_deleted,
         modify_user,
         modify_time,
         time_stamp,
         node_id,
         a14x01,
         a14pzwh
     </sql>

    <select id="getMasterA14" resultType="com.hxoms.common.LowerKeyMapTest">
        select
        <include refid="a14sql"/>
        FROM A14

        order by  a1400

        <include refid="mysql_paging"/>

    </select>

    <select id="getTargetA14" resultType="com.hxoms.common.LowerKeyMapTest">
        <include refid="orcal_paging_frist"/>
        <include refid="a14sql"/>
        FROM A14
        <include refid="orcal_paging_last"/>

    </select>

    <select id="getMasterA14Count" resultType="Integer">

        select  count(1)  from A14

    </select>

    <select id="getTargetA14Count" resultType="Integer">

        select  count(1)  from A14

    </select>

    <update id="updateMasterA14">
        <foreach collection="list" item="item" index="index" separator=";">
            update A14
            set
            a0100 = #{item.a0100},
            a1424 = #{item.a1424},
            a1404a = #{item.a1404a},
            a1404b = #{item.a1404b},
            a1407 = #{item.a1407},
            a1411a = #{item.a1411a},
            a1414 = #{item.a1414},
            a1415 = #{item.a1415},
            a1428 = #{item.a1428},
            id = #{item.id},
            is_deleted = #{item.is_deleted},
            modify_user = #{item.modify_user},
            modify_time = #{item.modify_time},
            time_stamp = #{item.time_stamp},
            node_id = #{item.node_id},
            a14x01 = #{item.a14x01},
            a14pzwh = #{item.a14pzwh}
            where a1400 = #{item.a1400}


        </foreach>
    </update>

    <insert id="insertMasterA14">
        insert into A14 (
        a1400,
        a0100,
        a1424,
        a1404a,
        a1404b,
        a1407,
        a1411a,
        a1414,
        a1415,
        a1428,
        id,
        is_deleted,
        modify_user,
        modify_time,
        time_stamp,
        node_id,
        a14x01,
        a14pzwh
        )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (

            #{item.a1400},
            #{item.a0100},
            #{item.a1424},
            #{item.a1404a},
            #{item.a1404b},
            #{item.a1407},
            #{item.a1411a},
            #{item.a1414},
            #{item.a1415},
            #{item.a1428},
            #{item.id},
            #{item.is_deleted},
            #{item.modify_user},
            #{item.modify_time},
            #{item.time_stamp},
            #{item.node_id},
            #{item.a14x01},
            #{item.a14pzwh}

            )
        </foreach>
    </insert>


    <!-- 表 a15 年度考核 -->
     <sql id="a15sql">

      a1500,
      a0100,
      a1517,
      a1521,
      modify_user,
      modify_time,
      is_deleted,
      id,
      time_stamp,
      node_id
     </sql>

    <select id="getMasterA15" resultType="com.hxoms.common.LowerKeyMapTest">
        select
        <include refid="a15sql"/>
        FROM A15

        order by a1500

        <include refid="mysql_paging"/>

    </select>

    <select id="getTargetA15" resultType="com.hxoms.common.LowerKeyMapTest">
        <include refid="orcal_paging_frist"/>
        <include refid="a15sql"/>
        FROM A15

        <include refid="orcal_paging_last"/>
    </select>

    <select id="getMasterA15Count" resultType="Integer">

        select  count(1)  from A15

    </select>

    <select id="getTargetA15Count" resultType="Integer">

        select  count(1)  from A15

    </select>

    <update id="updateMasterA15">
        <foreach collection="list" item="item" index="index" separator=";">
            update A15
            set

            a0100 = #{item.a0100},
            a1517 = #{item.a1517},
            a1521 = #{item.a1521},
            modify_user = #{item.modify_user},
            modify_time = #{item.modify_time},
            is_deleted = #{item.is_deleted},
            id = #{item.id},
            time_stamp = #{item.time_stamp},
            node_id  = #{item.node_id}
            where a1500 = #{item.a1500}


        </foreach>
    </update>

    <insert id="insertMasterA15">
        insert into A15 (
        a1500,
        a0100,
        a1517,
        a1521,
        modify_user,
        modify_time,
        is_deleted,
        id,
        time_stamp,
        node_id
        )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.a1500},
            #{item.a0100},
            #{item.a1517},
            #{item.a1521},
            #{item.modify_user},
            #{item.modify_time},
            #{item.is_deleted},
            #{item.id},
            #{item.time_stamp},
            #{item.node_id}


            )
        </foreach>
    </insert>





    <!-- 表 a36 家庭成员 -->
    <sql id="a36sql">
        a3600,
        a0100,
        a3601,
        a3604a,
        a3607,
        a3611,
        a3627,
        id,
        is_deleted,
        modify_user,
        modify_time,
        time_stamp,
        node_id,
        sortid

    </sql>

    <select id="getMasterA36" resultType="com.hxoms.common.LowerKeyMapTest">
        select
        <include refid="a36sql"/>
        FROM A36

        order by a3600

        <include refid="mysql_paging"/>


    </select>

    <select id="getTargetA36" resultType="com.hxoms.common.LowerKeyMapTest">
        <include refid="orcal_paging_frist"/>
        <include refid="a36sql"/>
        FROM A36

        <include refid="orcal_paging_last"/>

    </select>


    <select id="getMasterA36Count" resultType="Integer">

        select  count(1)  from A36

    </select>

    <select id="getTargetA36Count" resultType="Integer">

        select  count(1)  from A36

    </select>

    <update id="updateMasterA36">
        <foreach collection="list" item="item" index="index" separator=";">
            update A36
            set
            a0100 = #{item.a0100},
            a3601 = #{item.a3601},
            a3604a = #{item.a3604a},
            a3607 = #{item.a3607},
            a3611 = #{item.a3611},
            a3627 = #{item.a3627},
            id = #{item.id},
            is_deleted = #{item.is_deleted},
            modify_user = #{item.modify_user},
            modify_time = #{item.modify_time},
            time_stamp = #{item.time_stamp},
            node_id = #{item.node_id},
            sortid  = #{item.sortid}
            where a3600 = #{item.a3600}


        </foreach>
    </update>

    <insert id="insertMasterA36">
        insert into A36 (
        a3600,
        a0100,
        a3601,
        a3604a,
        a3607,
        a3611,
        a3627,
        id,
        is_deleted,
        modify_user,
        modify_time,
        time_stamp,
        node_id,
        sortid
        )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.a3600},
            #{item.a0100},
            #{item.a3601},
            #{item.a3604a},
            #{item.a3607},
            #{item.a3611},
            #{item.a3627},
            #{item.id},
            #{item.is_deleted},
            #{item.modify_user},
            #{item.modify_time},
            #{item.time_stamp},
            #{item.node_id},
            #{item.sortid}

            )
        </foreach>
    </insert>




    <!-- 表 A17-->

    <sql id="a17sql">

        a1700,
        a1703,
        a1704,
        a1705,
        is_deleted,
        a1708,
        a0100,
        id,
        modify_user,
        modify_time,
        time_stamp,
        node_id,
        A1701,
        A1702,
        a1706,
        a1707,
        is_normal,
        operate_batch

    </sql>

    <select id="getMasterA17"  parameterType="java.lang.String" resultType="com.hxoms.common.LowerKeyMapTest">
        select
        <include refid="a17sql"/>
        FROM A17

        order by a1700

        LIMIT ${offset} ,${rows}

    </select>

    <select id="getTargetA17" resultType="com.hxoms.common.LowerKeyMapTest">
        <include refid="orcal_paging_frist"/>
        <include refid="a17sql"/>
        FROM A17
        <include refid="orcal_paging_last"/>
    </select>

    <select id="getMasterA17Count" resultType="Integer">

        select  count(1)  from a17

    </select>

    <select id="getTargetA17Count" resultType="Integer">

        select  count(1)  from a17

    </select>

    <update id="updateMasterA17">
        <foreach collection="list" item="item" index="index" separator=";">
            update A17
            set
            a0100 = #{item.a0100},
            a1703 = #{item.a1703},
            a1704 = #{item.a1704},


            a1705 = #{item.a1705},
            is_deleted = #{item.is_deleted},
            a1708 = #{item.a1708},
            id = #{item.id},
            modify_user = #{item.modify_user},
            modify_time = #{item.modify_time},
            time_stamp = #{item.time_stamp},
            node_id = #{item.node_id},
            A1701 = #{item.A1701},
            A1702 = #{item.A1702},
            a1706 = #{item.a1706},
            a1707 = #{item.a1707},
            is_normal = #{item.is_normal},
            operate_batch = #{item.operate_batch}
            where a1700 = #{item.a1700}


        </foreach>
    </update>

    <insert id="insertMasterA17">
        insert into A17 (
        a1700,
        a1703,
        a1704,
        a1705,
        is_deleted,
        a1708,
        a0100,
        id,
        modify_user,
        modify_time,
        time_stamp,
        node_id,
        A1701,
        A1702,
        a1706,
        a1707,
        is_normal,
        operate_batch
        )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (

            #{item.a1700},
            #{item.a1703},
            #{item.a1704},
            #{item.a1705},
            #{item.is_deleted},
            #{item.a1708},
            #{item.a0100},
            #{item.id},
            #{item.modify_user},
            #{item.modify_time},
            #{item.time_stamp},
            #{item.node_id},
            #{item.A1701},
            #{item.A1702},
            #{item.a1706},
            #{item.a1707},
            #{item.is_normal},
            #{item.operate_batch}

            )
        </foreach>
    </insert>





</mapper>