<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.privateabroad.mapper.OmsPriApplyMapper">
  <resultMap id="BaseResultMap" type="com.hxoms.modules.privateabroad.entity.OmsPriApply">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="A0100" jdbcType="VARCHAR" property="a0100" />
    <result column="B0100" jdbcType="VARCHAR" property="b0100" />
    <result column="POLITICAL_OUTLOOK" jdbcType="VARCHAR" property="politicalOutlook" />
    <result column="HEALTH" jdbcType="VARCHAR" property="health" />
    <result column="POSTRANK" jdbcType="VARCHAR" property="postrank" />
    <result column="ABROAD_TIME" jdbcType="TIMESTAMP" property="abroadTime" />
    <result column="RETURN_TIME" jdbcType="TIMESTAMP" property="returnTime" />
    <result column="GO_COUNTRY" jdbcType="VARCHAR" property="goCountry" />
    <result column="OUTSIDE_TIME" jdbcType="INTEGER" property="outsideTime" />
    <result column="ABROAD_REASONS" jdbcType="VARCHAR" property="abroadReasons" />
    <result column="APPLY_TIME" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="REVERT_LICENCE_TIME" jdbcType="TIMESTAMP" property="revertLicenceTime" />
    <result column="CLASSIFICA_POST" jdbcType="VARCHAR" property="classificaPost" />
    <result column="CLASSIFICATION_LEVEL" jdbcType="VARCHAR" property="classificationLevel" />
    <result column="DECLASSIFICA_STARTTIME" jdbcType="TIMESTAMP" property="declassificaStarttime" />
    <result column="DECLASSIFICA_ENDTIME" jdbcType="TIMESTAMP" property="declassificaEndtime" />
    <result column="PAPER" jdbcType="INTEGER" property="paper" />
    <result column="REAL_GO_COUNTRY" jdbcType="VARCHAR" property="realGoCountry" />
    <result column="REAL_ABROAD_TIME" jdbcType="TIMESTAMP" property="realAbroadTime" />
    <result column="REAL_RETURN_TIME" jdbcType="TIMESTAMP" property="realReturnTime" />
    <result column="REAL_OUTSIDE_TIME" jdbcType="INTEGER" property="realOutsideTime" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="PERSONDEPART_OPINION" jdbcType="VARCHAR" property="persondepartOpinion" />
    <result column="CHECK_PERSON" jdbcType="VARCHAR" property="checkPerson" />
    <result column="RESPONSIBLE_PERSON" jdbcType="VARCHAR" property="responsiblePerson" />
    <result column="ABROAD_PHONE" jdbcType="VARCHAR" property="abroadPhone" />
    <result column="SFXYZQJWYJ" jdbcType="CHAR" property="sfxyzqjwyj" />
    <result column="LAST_ASK_TIME" jdbcType="TIMESTAMP" property="lastAskTime" />
    <result column="SFZQJWYJ" jdbcType="CHAR" property="sfzqjwyj" />
    <result column="FINAL_CONCLUSION" jdbcType="VARCHAR" property="finalConclusion" />
    <result column="PASSPORT" jdbcType="INTEGER" property="passport" />
    <result column="PASSPORT_NUM" jdbcType="VARCHAR" property="passportNum" />
    <result column="HONGKONGANDMACAO_PASSPORT" jdbcType="INTEGER" property="hongkongandmacaoPassport" />
    <result column="HONGKONGANDMACAO_PASSPORT_NUM" jdbcType="VARCHAR" property="hongkongandmacaoPassportNum" />
    <result column="MACAO_VISA" jdbcType="INTEGER" property="macaoVisa" />
    <result column="HONGKONG_VISA" jdbcType="INTEGER" property="hongkongVisa" />
    <result column="TAIWAN_PASSPORT" jdbcType="INTEGER" property="taiwanPassport" />
    <result column="TAIWAN_PASSPORT_NUM" jdbcType="VARCHAR" property="taiwanPassportNum" />
    <result column="TAIWAN_VISA" jdbcType="INTEGER" property="taiwanVisa" />
    <result column="IS_LUOGUAN" jdbcType="CHAR" property="isLuoguan" />
    <result column="IS_SPOUSEANDCHILDREN_SUPERVISE" jdbcType="CHAR" property="isSpouseandchildrenSupervise" />
    <result column="IS_LEADERS" jdbcType="CHAR" property="isLeaders" />
    <result column="IS_SPECIALLY_APPROVED" jdbcType="CHAR" property="isSpeciallyApproved" />
    <result column="NEGATIVE_INFO" jdbcType="VARCHAR" property="negativeInfo" />
    <result column="PASSPORT_TERM" jdbcType="TIMESTAMP" property="passportTerm" />
    <result column="FUNDS_SOURCE" jdbcType="VARCHAR" property="fundsSource" />
    <result column="IS_COMPARISON" jdbcType="CHAR" property="isComparison" />
    <result column="APPLY_STATUS" jdbcType="INTEGER" property="applyStatus" />
    <result column="CANCEL_REASON" jdbcType="VARCHAR" property="cancelReason" />
    <result column="IS_ENTRUST" jdbcType="INTEGER" property="isEntrust" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_USER" jdbcType="VARCHAR" property="modifyUser" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="SORT_ID" jdbcType="INTEGER" property="sortId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapVO" type="com.hxoms.modules.privateabroad.entity.OmsPriApplyVO">
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="b0101" jdbcType="VARCHAR" property="b0101" />
    <result column="birthDate" jdbcType="TIMESTAMP" property="birthDate" />
    <result column="identifyType" jdbcType="VARCHAR" property="identifyType" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, A0100, B0100, POLITICAL_OUTLOOK, HEALTH, POSTRANK, ABROAD_TIME, RETURN_TIME, 
    GO_COUNTRY, OUTSIDE_TIME, ABROAD_REASONS, APPLY_TIME, REVERT_LICENCE_TIME, CLASSIFICA_POST, 
    CLASSIFICATION_LEVEL, DECLASSIFICA_STARTTIME, DECLASSIFICA_ENDTIME, PAPER, REAL_GO_COUNTRY, 
    REAL_ABROAD_TIME, REAL_RETURN_TIME, REAL_OUTSIDE_TIME, DESCRIPTION, PERSONDEPART_OPINION, 
    CHECK_PERSON, RESPONSIBLE_PERSON, ABROAD_PHONE, SFXYZQJWYJ, LAST_ASK_TIME, SFZQJWYJ, 
    FINAL_CONCLUSION, PASSPORT, PASSPORT_NUM, HONGKONGANDMACAO_PASSPORT, HONGKONGANDMACAO_PASSPORT_NUM, 
    MACAO_VISA, HONGKONG_VISA, TAIWAN_PASSPORT, TAIWAN_PASSPORT_NUM, TAIWAN_VISA, IS_LUOGUAN, 
    IS_SPOUSEANDCHILDREN_SUPERVISE, IS_LEADERS, IS_SPECIALLY_APPROVED, NEGATIVE_INFO, 
    PASSPORT_TERM, FUNDS_SOURCE, IS_COMPARISON, APPLY_STATUS, CANCEL_REASON, IS_ENTRUST, 
    REMARKS, CREATE_USER, CREATE_TIME, MODIFY_USER, MODIFY_TIME, SORT_ID
  </sql>

  <!--分页因私出国申请列表-->
  <select id="selectOmsPriApplyIPage" parameterType="com.hxoms.modules.privateabroad.entity.paramentity.OmsPriApplyIPageParam" resultMap="ResultMapVO">
    select pa.*,
    CONCAT(IFNULL(rp.SURNAME,''),IFNULL(rp.NAME,'')) as name,
    rp.SEX as sex,
    rp.BIRTH_DATE_GB as birthDate,
    rp.WORK_UNIT as b0101,
    rp.IDENTITY as identifyType
    from oms_pri_apply pa
    LEFT JOIN oms_reg_procpersoninfo rp on pa.A0100 = rp.A0100
    left join oms_reg_procpersoninfo rp1 on pa.CREATE_USER = rp1.A0100
    where 1=1
    <if test="params.applyStartTime != null and params.applyStopTime != null">
      and pa.APPLY_TIME &gt; #{params.applyStartTime} and pa.APPLY_TIME &lt; #{params.applyStopTime}
    </if>
    <if test="params.b0100 != null and params.b0100 != ''">
      and pa.b0100 like CONCAT(#{params.b0100},'%')
    </if>
    <if test="params.abroadStartTime != null and params.abroadEndTime != null">
      and pa.ABROAD_TIME &gt; #{params.abroadStartTime} and pa.ABROAD_TIME &lt; #{params.abroadEndTime}
    </if>
    <if test="params.name != null and params.name != ''">
      and CONCAT(IFNULL(rp.SURNAME,''),IFNULL(rp.NAME,'')) LIKE CONCAT('%',#{params.name},'%')
      or rp.PY LIKE  CONCAT('%',#{params.name},'%')
    </if>
    <if test="params.createUser != null and params.createUser != ''">
      and CONCAT(IFNULL(rp1.SURNAME,''),IFNULL(rp1.NAME,'')) LIKE CONCAT('%',#{params.createUser},'%')
      or rp1.PY LIKE CONCAT('%',#{params.createUser},'%')
    </if>
    <if test="params.applyStatus != null and params.applyStatus != ''">
      and pa.APPLY_STATUS in
      <foreach close=")" collection="params.applyStatus" index="index" item="item" open="(" separator=",">
        #{item}
      </foreach>
    </if>
    order by pa.APPLY_STATUS, pa.ABROAD_TIME
  </select>

  <!--通过人员id查询因私出国申请所需用户信息-->
  <select id="selectPersonInfoByA0100" parameterType="java.util.Map" resultType="com.hxoms.modules.privateabroad.entity.OmsPriApplyVO">
    select op.A0100 as a0100,
           op.NAME as name,
           op.SEX as sex,
           orp.BIRTH_DATE_GB as birthDate,
           orp.IDNUMBER_GB as idnumber,
           orp.POLITICAL_AFFINAME as politicalOutlook,
           orp.POST as postrank,
           orp.REGISTE_RESIDENCE as registeResidence,
           orp.WORK_UNIT as b0101,
           ifnull(orp.SECRET_LEVEL,0) as classificationLevel,
           orp.DECRYPT_STARTDATE as declassificaStarttime,
           orp.DECRYPT_ENDDATE as declassificaEndtime,
           orp.SECRET_POST as classificaPost,
           orp.MAIN_LEADER as isLeaders,
           orp.nf as isLuoguan,
           orp.fjgnf as isSpouseandchildrenSupervise,
           orp.RF_B0000 as b0100,
           orp.HEALTH as health,
           orp.LICENCE_IDENTITY as paper
    from oms_reg_procpersoninfo orp left join oms_personinfo op on orp.a0100=op.a0100
    where 1=1
      and op.A0100 = #{a0100} and op.b0100 = #{b0100}
  </select>

  <!--通过人员id查询因私出国申请所需用户信息-->
  <select id="selectPersonByKeyword" parameterType="java.lang.String" resultType="com.hxoms.modules.publicity.entity.PersonInfoVO">
    select op.*,orp.IDNUMBER_GB as idnumber
    from oms_personinfo op left join oms_reg_procpersoninfo orp on op.A0100 = orp.A0100
    where
      op.name like CONCAT('%',#{keyword},'%')
      or orp.PY like CONCAT('%',#{keyword},'%')
  </select>

  <!--申请详情-->
  <select id="selectPriApplyById" parameterType="java.lang.String" resultMap="ResultMapVO">
    select opa.*,
           CONCAT(IFNULL(orp.SURNAME,''),IFNULL(orp.NAME,'')) as name,
           orp.BIRTH_DATE_GB as birthDate,
           orp.SEX as sex,
           orp.IDNUMBER_GB as idnumber,
           orp.REGISTE_RESIDENCE as registeResidence,
           orp.WORK_UNIT as b0101,
           orp.IDENTITY as identifyType
    from oms_pri_apply opa left join oms_reg_procpersoninfo orp on opa.A0100 = orp.A0100
    where opa.ID = #{id}
  </select>

  <!--基本流程数据统计-->
  <select id="selectCountStatus" resultType="com.hxoms.modules.privateabroad.entity.CountStatusResult">
    select "1.填写申请" as label, 1 as statusCode, count(0) as num from oms_pri_apply where APPLY_STATUS = 1
    union all
    select "2.生成材料" as label, 2 as statusCode, count(0) as num from oms_pri_apply where APPLY_STATUS = 2
    union all
    select "3.打印材料清单" as label, 3 as statusCode, count(0) as num from oms_pri_apply where APPLY_STATUS = 3
    union all
    select "4.自评" as label, 5 as statusCode, count(0) as num from oms_pri_apply where APPLY_STATUS = 5
  </select>

  <select id="selectComparisionList" parameterType="java.lang.String" resultType="com.hxoms.modules.privateabroad.entity.OmsPriApplyVO">
      select pri.*,entryexit.* from oms_pri_apply pri
          left join oms_entryexit_record entryexit
          on pri.ID = entryexit.PRIAPPLY_ID
  </select>
<!--撤销申请人员统计-->
  <select id="selectCancelInfor" parameterType="com.hxoms.modules.privateabroad.entity.paramentity.OmsPriApplyIPageParam" resultType="java.util.Map">
    select a0100 as a0100, WORK_UNIT as b0101,RF_B0000 AS b0111, CONCAT( IFNULL(SURNAME, ''), IFNULL(NAME, '') ) AS name, POST AS post from oms_reg_procpersoninfo where a0100 in
    (
      select A0100 from oms_pri_apply where apply_status = 31
      <if test="params.b0100 != null and params.b0100 != ''">
        and b0100 like CONCAT(#{params.b0100},'%')
      </if>
      <if test="params.abroadStartTime != null and params.abroadEndTime != null">
        and ABROAD_TIME &gt; #{params.abroadStartTime} and ABROAD_TIME &lt; #{params.abroadEndTime}
      </if>
      GROUP BY a0100
    ) ORDER BY RF_B0000
  </select>
  <!--因私撤销统计-->
  <select id="cancelCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(1) from oms_pri_apply
    where id in
      (select apply_id from
        (select oaa.apply_id,step_code from oms_abroad_approval oaa LEFT JOIN oms_pri_apply opa on oaa.apply_id = opa.id
        where oaa.type = 'oms_pri_apply' and oaa.step_code != 31
        ORDER BY oaa.step_code desc  limit 0,1) a
        where 1=1
        <if test="step != null and step == 'a1'">
          and step_code &lt; 23
        </if>
        <if test="step != null and step == 'b1'">
          and step_code = 23
        </if>
        <if test="step != null and step == 'c1'">
          and step_code = 24
        </if>
        <if test="step != null and step == 'd1'">
          and step_code &gt; 24 and step_code &lt; 30
        </if>
    ) and apply_status = 31 and a0100=#{a0100}
  </select>
  <select id="selectVisaSettingByCode" parameterType="java.util.Map" resultType="java.util.Map">
      select INFO_ID AS infoId, INFO_NAME AS infoName from oms_baseinfo_config where 1=1
      <if test="infoId != null">
          and PARENT_ID = #{infoId}
      </if>
      <if test="dictCode != null">
          and DICT_CODE = #{dictCode}
      </if>
  </select>
</mapper>