<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.privateabroad.mapper.OmsPriDelayApplyMapper">
  <resultMap id="BaseResultMap" type="com.hxoms.modules.privateabroad.entity.OmsPriDelayApply">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="APPLY_ID" jdbcType="VARCHAR" property="applyId" />
    <result column="A0100" jdbcType="VARCHAR" property="a0100" />
    <result column="APPLY_STATUS" jdbcType="VARCHAR" property="applyStatus" />
    <result column="CANCEL_REASON" jdbcType="VARCHAR" property="cancelReason" />
    <result column="ESTIMATE_RETURNTIME" jdbcType="TIMESTAMP" property="estimateReturntime" />
    <result column="DELAY_REASON" jdbcType="VARCHAR" property="delayReason" />
    <result column="APPLY_TIME" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="MODIFY_USER" jdbcType="VARCHAR" property="modifyUser" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="BaseResultMapVO" type="com.hxoms.modules.privateabroad.entity.OmsPriDelayApplyVO">
    <association column="APPLY_ID" property="omsPriApplyVO" select="com.hxoms.modules.privateabroad.mapper.OmsPriApplyMapper.selectPriApplyById">
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    ID, APPLY_ID, A0100, APPLY_STATUS, CANCEL_REASON, ESTIMATE_RETURNTIME, DELAY_REASON, 
    APPLY_TIME, CREATE_TIME, CREATE_USER, MODIFY_TIME, MODIFY_USER
  </sql>

  <!--延期回国申请列表-->
  <select id="selectOmsDelayApplyIPage" parameterType="com.hxoms.modules.privateabroad.entity.paramentity.OmsPriApplyIPageParam" resultMap="BaseResultMapVO">
    select pa.*
    from oms_pri_delay_apply pa
    LEFT JOIN oms_reg_procpersoninfo rp on pa.A0100 = rp.A0100
    left join oms_reg_procpersoninfo rp1 on pa.CREATE_USER = rp1.A0100
    where 1=1
    <if test="omsPriApplyIPageParam.applyStartTime != null and omsPriApplyIPageParam.applyStopTime != null">
      and pa.APPLY_TIME &gt; #{omsPriApplyIPageParam.applyStartTime} and pa.APPLY_TIME &lt; #{omsPriApplyIPageParam.applyStopTime}
    </if>
    <if test="omsPriApplyIPageParam.name != null and omsPriApplyIPageParam.name != ''">
      and CONCAT(IFNULL(rp.SURNAME,''),IFNULL(rp.NAME,'')) LIKE CONCAT('%',#{omsPriApplyIPageParam.name},'%')
      and rp.PY LIKE  CONCAT('%',#{omsPriApplyIPageParam.name},'%')
    </if>
    <if test="omsPriApplyIPageParam.createUser != null and omsPriApplyIPageParam.createUser != ''">
      and CONCAT(IFNULL(rp1.SURNAME,''),IFNULL(rp1.NAME,'')) LIKE CONCAT('%',#{omsPriApplyIPageParam.createUser},'%')
      and rp1.PY LIKE CONCAT('%',#{omsPriApplyIPageParam.createUser},'%')
    </if>
    <if test="omsPriApplyIPageParam.applyStatus != null and omsPriApplyIPageParam.applyStatus != ''">
      and pa.APPLY_STATUS in
      <foreach close=")" collection="omsPriApplyIPageParam.applyStatus" index="index" item="item" open="(" separator=",">
        #{item}
      </foreach>
    </if>
    order by pa.APPLY_STATUS, pa.APPLY_TIME
  </select>
</mapper>