<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.keySupervision.violationDiscipline.mapper.OmsSupViolationDisciplineMapper">
  <resultMap id="BaseResultMap" type="com.hxoms.modules.keySupervision.violationDiscipline.entity.OmsSupViolationDiscipline">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="modify_user" jdbcType="VARCHAR" property="modifyUser" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="A0100" jdbcType="VARCHAR" property="a0100" />
    <result column="WORK_UNIT" jdbcType="VARCHAR" property="workUnit" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PINYIN" jdbcType="VARCHAR" property="pinyin" />
    <result column="VIOLATION_DIS_POST" jdbcType="VARCHAR" property="violationDisPost" />
    <result column="VIOLATION_DIS_TYPE" jdbcType="VARCHAR" property="violationDisType" />
    <result column="VIOLATION_DIS_TIME" jdbcType="DATE" property="violationDisTime" />
    <result column="VIOLATION_TIME_START_QUERY" jdbcType="DATE" property="violationTimeStartQuery" />
    <result column="VIOLATION_TIME_END_QUERY" jdbcType="DATE" property="violationTimeEndQuery" />
    <result column="VIOLATION_DOCUMENT_NO" jdbcType="VARCHAR" property="violationDocumentNo" />
    <result column="INFLUENCE_TIME" jdbcType="VARCHAR" property="influenceTime" />
    <result column="VIOLATION_END_TIME" jdbcType="DATE" property="violationEndTime" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="VD_STATUS" jdbcType="CHAR" property="vdStatus" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="CreateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, modify_user, modify_time, A0100, WORK_UNIT, NAME, PINYIN, VIOLATION_DIS_POST,
    VIOLATION_DIS_TYPE, VIOLATION_DIS_TIME, VIOLATION_TIME_START_QUERY, VIOLATION_TIME_END_QUERY,
    VIOLATION_DOCUMENT_NO, INFLUENCE_TIME, VIOLATION_END_TIME, DESCRIPTION,VD_STATUS,CREATE_USER,CREATE_TIME
  </sql>

</mapper>