<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.leaderSupervision.mapper.LeaderCommonDetailMapper">

	<select id="selectJiweiOpinionAndMaterialsCheckOpinion" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
		SELECT
		temp.id as id, # 业务 id
		temp.a0100 as a0100, # 人员id
		temp.tableCode as tableCode, # 表名类型
		temp.userName, # 人员姓名
		temp.materialsCheck as materialsCheck , # 材料审核
		IFNULL(jio.official_feedback_verdict,jio.feedback_verdict) as jiweiopion, # 纪委意见 以 书面意见为准
		temp.type as type # 业务类型
		from (


		select pua.id as id,'因公' as type,a.a0100 as a0100, a.a0101 AS userName,"oms_pub_apply_cadres" as tableCode, pua.CLSHSFTG  as materialsCheck
		from oms_pub_apply pua  LEFT JOIN a01 a ON pua.a0100 = a.a0100
		union
		select pra.id as id,'因私' as type,a.a0100 as a0100,a.a0101 AS userName,"oms_pri_apply_cadres" as tableCode, pra.CLSHSFTG as materialsCheck
		from  oms_pri_apply pra LEFT JOIN a01 a ON pra.a0100 = a.a0100
		union
		select prda.id as id,'延期' as type,a.a0100 as a0100,a.a0101 AS userName,"oms_pri_delay_apply_cadres" as tablecode, prda.CLSHSFTG  as materialsCheck
		from oms_pri_delay_apply  prda
		LEFT JOIN oms_pri_apply pra  on prda.APPLY_ID = pra.id
		LEFT JOIN b01 b ON pra.b0100 = b.b0100
		LEFT JOIN a01 a ON pra.a0100 = a.a0100

		)temp left join oms_jiwei_opinion jio on jio.id = temp.id

		 where 1=1
		<if test="bussinessIds != null and bussinessIds.length>0">

			and temp.id in

			<foreach item="item" index="id" collection="bussinessIds" open="("

					 separator="," close=")">

				#{item}

			</foreach>

		</if>
		<if test="type !=null and type!='' ">

			and temp.type = #{type}

		</if>



    </select>

	<select id="selectCreatePutOnRecord" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
		SELECT
		pua.id AS id,
		'因公' AS type,
		a.a0100 AS a0100,
		a.a0101 AS userName,
		'人员备案表'  as fileType,
		"oms_pub_apply_cadres" AS tableCode
		FROM
		oms_pub_apply pua
		LEFT JOIN a01 a ON pua.a0100 = a.a0100
		<if test="bussinessIds != null and bussinessIds.length>0">

			and pua.id in

			<foreach item="item" index="id" collection="bussinessIds" open="("

					 separator="," close=")">

				#{item}

			</foreach>

		</if>




	</select>



</mapper>