<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.passportCard.initialise.mapper.OmsCerConuterNumberMapper">
	<resultMap id="BaseResultMap" type="com.hxoms.modules.passportCard.initialise.entity.OmsCerCounterNumber">

		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="SURELY_UNIT" jdbcType="VARCHAR" property="surelyUnit" />
		<result column="ZJLX" jdbcType="INTEGER" property="zjlx" />
		<result column="ZJXS" jdbcType="VARCHAR" property="zjxs" />
		<result column="COUNTER_NUM" jdbcType="INTEGER" property="counterNum" />
		<result column="STATUS" jdbcType="VARCHAR" property="status" />
		<result column="IS_LOCK" jdbcType="VARCHAR" property="isLock" />
		<result column="CREATOR" jdbcType="VARCHAR" property="creator" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="UPDATER" jdbcType="VARCHAR" property="updater" />
		<result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
	    ID, SURELY_UNIT, ZJLX, ZJXS, COUNTER_NUM, STATUS, IS_LOCK, CREATOR, CREATE_TIME, UPDATER,
	    UPDATE_TIME
  </sql>

</mapper>