<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.person.markedcadre.mapper.McMarkedcadreMapper">
  <resultMap id="BaseResultMap" type="com.hxoms.person.markedcadre.entity.McMarkedcadre">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="userId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="modify_user" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="modify_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sequence" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="parentId" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, userId, modify_user, modify_time, sequence, name, parentId
  </sql>
  <select id="selectByExample" parameterType="com.hxoms.person.markedcadre.entity.McMarkedcadreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from mc_markedcadre
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mc_markedcadre
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectTree" parameterType="java.lang.String" resultType="com.hxoms.common.tree.Tree">
        select b.id,b.parentId as "pId",b.name as "label" from mc_markedcadre b
        where userId = #{userId,jdbcType=VARCHAR}
        ORDER BY b.sequence
  </select>
  <select id="getMaxSequence" parameterType="com.hxoms.person.markedcadre.entity.McMarkedcadre" resultType="java.lang.Integer">
        select IFNULL(max(sequence),0) as sequence from mc_markedcadre b
        where
    <if test="id != null and id!=''">
      parentId =#{id,jdbcType=VARCHAR}
    </if>
    <if test="id == null or id==''">
      IFNULL(parentId,'')=''
    </if>
  </select>

  <!--查询父级映射信息-->
  <select id="selectAllMc" resultType="com.hxoms.person.markedcadre.entity.McMarkedcadre">
        SELECT * FROM mc_markedcadre WHERE parentId='' ORDER BY sequence
  </select>

  <!--通过父级查询下级映射信息-->
  <select id="selectMcByPid" resultType="com.hxoms.person.markedcadre.entity.McMarkedcadre">
        SELECT * FROM mc_markedcadre WHERE parentId=#{parentid}
    ORDER BY sequence
  </select>

  <!--根据id查询列表-->
  <select id="selectInfoByNodeId" parameterType="java.lang.String" resultType="com.hxoms.support.leaderInfo.util.LowerKeyMap">
      SELECT

          a.id,
          b.*,
          row_number() over(partition by b.a0100 order by b.a0100) as num

      FROM
          (
              SELECT
                  *
              FROM
                  mc_a01 m
              WHERE
                 m.mc_id in ( SELECT
				mc.id
			FROM
				mc_markedcadre mc START WITH ID = #{id} CONNECT BY PRIOR mc.ID = mc.PARENTID)


          ) a
          inner JOIN a01 b ON a.a01_id = b.a0100
  </select>

  <!--查询所有列表信息-->
  <select id="selectAllInfo" resultType="com.hxoms.support.leaderInfo.util.LowerKeyMap">
    SELECT a.id,b.* from mc_a01 a
    LEFT JOIN
    a01 b
    ON
    a.a01_id = b.a0100
  </select>

  <!--查询动态表头-->
  <select id="selectDynamicColumn" resultType="com.hxoms.support.inforesource.entity.DataTableCol">
    SELECT
        tab_code AS tabCode,
        LOWER(col_code) AS colCode,
        col_name AS colName,
        control_type AS controlType,
        dic_code AS dicCode,
        width_1 AS width1,
        show_format AS showFormat,
        data_type AS dataType,
        is_show_at_list AS isShowAtList
    FROM
        data_table_col
    WHERE
        TAB_CODE = 'A01'
    ORDER BY
        COL_CODE ASC
  </select>

  <!--查询拼接信息-->
  <select id="selectAppendInfo" resultType="java.lang.String">
    select CONCAT(a0187a,a15z101,zzxl,a1701) from a01 where a0100 = #{id}
  </select>

  <!--查询特征信息-->
  <select id="selectTrait" resultType="java.util.LinkedHashMap">
    select name from person_word
  </select>

  <!--查询基本描述-->
  <select id="selectDescription" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
    select
    a0101,a0104_a,a0117_a,a0107,a0140,a0134,zzxl,a0192
    from
    a01
    where a0100 = #{id}
  </select>

  <!--查询职务变迁-->
  <select id="selectJobChanges" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
        SELECT
 a.a0101,
 FLOOR(
  ROUND(
  to_number(
   to_date(substr(b.a0504,1, 7), 'yyyy-mm')-
   to_date(a.a0107, 'yyyy-mm')
   )
  ) / 365.2422
 ) AS age,
 b.item_name,
 (
  SELECT
   (
    ROUND(
     SUM(
      FLOOR(
       ROUND(
       to_number(
        TO_DATE(substr(a05.A0504, 1,7), 'yyyy-mm')-
        TO_DATE(a01.a0107, 'yyyy-mm')
        )
       ) / 365.2422
      )
     ) / count(a05.A0501B)
    )
   ) AS avg
  FROM
   a01
  LEFT JOIN a05 ON a01.a0100 = a05.A0100
  WHERE
   a05.A0501B = b.item_code
  GROUP BY
   a05.A0501B
 ) AS avg
FROM
 a01 a
INNER JOIN (
 SELECT
  c.a0100,
  sd.item_name,
  sd.item_code,
  c.a0504
 FROM
  a05 c
 LEFT JOIN sys_dict_item sd ON c.a0501b = sd.item_code
 WHERE
  c.a0100 = #{id}
 AND sd.dict_code = (
  SELECT
   dict_code
  FROM
   sys_dict
  WHERE
   hx_dict_code = (
    SELECT
     dic_code
    FROM
     data_table_col
    WHERE
     tab_code = 'A05'
    AND COL_CODE = 'a0501b'
   )
 )
) b ON a.A0100 = b.a0100
  </select>

  <!--查询学历情况-->
  <select id="selectEducationInfo" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
    select a0801a,a0804,a0814,a0824 from a0809 where a0100 = #{id}
  </select>

  <!--查询考核情况-->
  <select id="selectAssessInfo" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
    select a15z101 from a01 where a0100 = #{id}
  </select>

  <!--查询工作经历-->
  <select id="selectWorkExperience"  parameterType="java.lang.String" resultType="com.hxoms.support.leaderInfo.util.LowerKeyMap">
    select a1701,a1702,a1703 from a17 where a0100 = #{id}
  </select>

    <!--通过人员id和名单id查询记录-->
  <select id="selectByNodeIdAndMc"  parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(0) from mc_a01 where a01_id = #{a01Id} and mc_id = #{mcId}
  </select>

  <!--查询任免表基本信息-->
  <select id="queryRmbDetail" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
        a0101 AS xingMing,
        a0104_a AS xingBie,
        a0107 AS chuShengNianYue,
        TIMESTAMPDIFF(YEAR,STR_TO_DATE(a0107,'%Y%m'), CURDATE()) AS bithAndAge,
        '' AS nianLing,
        getdictitem ('01', a0117, '0') AS "minZu",
        a0111a AS "jiGuan",
        a0114a AS "chuShengDi",
        a0140 AS "ruDangShiJian",
        a0140_lrmx AS "ruDangShiJianLrmx",
        date_format(a0134,'%Y-%m-%d') AS "canJiaGongZuoShiJian",
        a0128 AS "jianKangZhuangKuang",
        a0196 AS "zhuanYeJiShuZhiWu",
        a0187a AS "shuXiZhuanYeYouHeZhuanChang",
        qrzxl AS "quanRiZhiJiaoYuXueLi",
        qrzxw AS "quanRiZhiJiaoYuXueWei",
        qrzxlxx AS "qrzhiJiaoYuXueLiBiYeYuanXiao",
        qrzxwxx AS "qrzhiJiaoYuXueWeiBiYeYuanXiao",
        qrzxx AS "qrzhiJiaoYuBiYeYuanXiao",
        zZXL AS "zaiZhiJiaoYuXueLi",
        zzxw AS "zaiZhiJiaoYuXueWei",
        zzxlxx AS "zaiZhiJiaoYuXueLiBiYeYuanXiao",
        zzxwxx AS "zaiZhiJiaoYuXueWeiBiYeYuanXiao",
        zzxx AS "zaiZhiJiaoYuBiYeYuanXiao",
        a0192a AS "xianRenZhiWu",
        a1701 AS "jianLi",
        a14Z101 AS "jiangChengQingKuang",
        a15Z101 AS "nianDuKaoHeJieGuo",
        '' AS "zhaoPian",
        a0184 AS "shenFenZheng",
        a1701_a AS "a1701_a"
    FROM  a01
	where a0100 = #{id}
  </select>

  <!--查询简历信息-->
  <select id="getResumeList" parameterType="java.lang.String" resultType="com.hxoms.common.rmbKit.models.A17">
      select
        a1700,
        date_format(a1701,'%Y.%m') as a1701,
        date_format(a1702,'%Y.%m') as a1702,
        a1703
      from a17
      where a0100 = #{id}
      order by a1701
  </select>

    <!--同级排序-->
  <update id="sortBySequence" parameterType="java.util.List">
    update mc_markedcadre set sequence=
    <foreach collection="array" open="case id" close="end" item="id" index="index" separator="">
      when #{id} then #{index}
    </foreach>
    where id IN
    <foreach collection="array" open="(" close=")" item="id" index="index" separator=",">
      #{id}
    </foreach>
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mc_markedcadre
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <!--从名单中删除-->
  <delete id="deleteForList" parameterType="java.util.List">
      delete from mc_a01 where id in
    <foreach collection="idArray" open="(" close=")" separator=","  item="id" >
      #{id}
    </foreach>
  </delete>

  <insert id="insert" parameterType="com.hxoms.person.markedcadre.entity.McMarkedcadre">
    insert into mc_markedcadre (id, userId, modify_user, 
      modify_time, sequence, name, 
      parentId)
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{modifyUser,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{sequence,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hxoms.person.markedcadre.entity.McMarkedcadre">
    insert into mc_markedcadre
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="modifyUser != null">
        modify_user,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="sequence != null">
        sequence,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentid != null">
        parentId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sequence != null">
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!--添加至名单-->
    <insert id="insertToList" parameterType="com.hxoms.person.markedcadre.entity.McA01">
      insert into mc_a01 (id,mc_id,a01_id) values (uuid.Nextval,#{mcId},#{a01Id})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.hxoms.person.markedcadre.entity.McMarkedcadre">
    update mc_markedcadre
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="modifyUser != null">
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sequence != null">
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentId = #{parentid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxoms.person.markedcadre.entity.McMarkedcadre">
    update mc_markedcadre
    set userId = #{userid,jdbcType=VARCHAR},
      modify_user = #{modifyUser,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      sequence = #{sequence,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      parentId = #{parentid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>