<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.country.mapper.CountryMapper">
	<resultMap id="BaseResultMap" type="com.hxoms.modules.country.entity.Country">
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="NAME_EN" jdbcType="VARCHAR" property="nameEn" />
		<result column="NAME_ZH" jdbcType="VARCHAR" property="nameZh" />
		<result column="NAME_INTERNATIONAL_ABBR" jdbcType="VARCHAR" property="nameInternationalAbbr" />
		<result column="COUNTRY_PHONE_CODE" jdbcType="INTEGER" property="countryPhoneCode" />
		<result column="ZONE" jdbcType="VARCHAR" property="zone" />
		<result column="ZONE_ALIAS" jdbcType="VARCHAR" property="zoneAlias" />
		<result column="LAT" jdbcType="VARCHAR" property="lat" />
		<result column="LON" jdbcType="VARCHAR" property="lon" />
	</resultMap>
	<sql id="Base_Column_List">
    ID, NAME_EN, NAME_ZH, NAME_INTERNATIONAL_ABBR, COUNTRY_PHONE_CODE, ZONE, ZONE_ALIAS, 
    LAT, LON
  </sql>

	<!-- 删除敏感国家信息 -->
	<delete id="deleteSensitiveMaintain">
		delete from oms_sensitive_maintain where SENSITIVE_LIMIT_ID=#{sensitiveLimitId}
	</delete>

	<select id="getCountryInfo" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
			*
		FROM
			country c
		LEFT JOIN
			( SELECT COUNTRY_ID
			FROM oms_sensitive_maintain
			WHERE SENSITIVE_LIMIT_ID = #{sensitiveLimitId}
			and IS_DELETE='0'
			) a
		on c.id = a.COUNTRY_ID
		<where>
			<if test="nameZh != null">
				NAME_ZH like concat('%',#{nameZh},'%')
				or
				NAME_INTERNATIONAL_ABBR like concat('%',#{nameZh},'%')
			</if>
		</where>
	</select>

	<select id="selectSensitiveCountry" parameterType="java.util.Map" resultType="java.util.Map">
		select * from oms_sensitive_maintain
		<where>
			<trim suffixOverrides="and">
				<if test="countryId != null">country_id=#{countryId} and </if>
				<if test="sensitiveLimitId != null">sensitive_limit_id=#{sensitiveLimitId} and </if>
			</trim>
		</where>
	</select>

	<!-- 保存限制性国家信息 -->
	<insert id="addSensitiveMaintain">
		insert into oms_sensitive_maintain(COUNTRY_ID,SENSITIVE_LIMIT_ID,IS_DELETE)
		values (#{countryId},#{sensitiveLimitId},#{isDelete})
	</insert>

	<select id="selectIdByName" resultType="java.lang.String" parameterType="java.lang.String">
		select ID from country where NAME like '%${name}%'
	</select>

	<!-- 在敏感信息中查询国家信息 -->
	<select id="selectCountryInfo" resultType="com.hxoms.modules.country.entity.Country">
		select
		<include refid="Base_Column_List"></include>
		from
		country
		join oms_sensitive_maintain osm on osm.COUNTRY_ID = ID
		where osm.SENSITIVE_LIMIT_ID=#{id} and IS_DELETE = '0'
	</select>

	<!-- 查询已撤销国家信息 -->
	<select id="selectOmsSensitiveCountry" resultType="com.hxoms.modules.country.entity.Country">
		select	distinct
			<include refid="Base_Column_List"></include>
		from country
		join oms_sensitive_maintain osm on osm.COUNTRY_ID = ID
		where IS_DELETE = '1'
	</select>

</mapper>