<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.file.mapper.OmsCreateFileMapper">
  <resultMap id="BaseResultMap" type="com.hxoms.modules.file.entity.OmsCreateFile">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="FILE_ID" jdbcType="VARCHAR" property="fileId" />
    <result column="APPLY_ID" jdbcType="VARCHAR" property="applyId" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="FILE_SHORTNAME" jdbcType="VARCHAR" property="fileShortname" />
    <result column="FILE_TYPE" jdbcType="VARCHAR" property="fileType" />
    <result column="TABLE_CODE" jdbcType="VARCHAR" property="tableCode" />
    <result column="IS_EDIT" jdbcType="VARCHAR" property="isEdit" />
    <result column="SEAL_DESC" jdbcType="VARCHAR" property="sealDesc" />
    <result column="IS_SEALHANDLE" jdbcType="CHAR" property="isSealhandle" />
    <result column="CHECK_ADVICES" jdbcType="VARCHAR" property="checkAdvices" />
    <result column="PRINT_NUM" jdbcType="INTEGER" property="printNum" />
    <result column="ISFILE_LIST" jdbcType="CHAR" property="isfileList" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="MODIFY_USER" jdbcType="VARCHAR" property="modifyUser" />
    <result column="SORT_ID" jdbcType="INTEGER" property="sortId" />
    <result column="IS_TEMPLATE" jdbcType="INTEGER" property="isTemplate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hxoms.modules.file.entity.OmsCreateFile">
    <result column="FRONT_CONTENT" jdbcType="LONGVARCHAR" property="frontContent" />
    <result column="BANK_CONTENT" jdbcType="LONGVARCHAR" property="bankContent" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, FILE_ID, APPLY_ID, FILE_NAME, FILE_SHORTNAME, FILE_TYPE, TABLE_CODE, IS_EDIT, 
    SEAL_DESC, IS_SEALHANDLE, CHECK_ADVICES, PRINT_NUM, ISFILE_LIST, CREATE_TIME, CREATE_USER, 
    MODIFY_TIME, MODIFY_USER, SORT_ID,IS_TEMPLATE
  </sql>
  <sql id="Blob_Column_List">
    FRONT_CONTENT, BANK_CONTENT
  </sql>

  <!--因私出国查询审批表-->
  <select id="priApplyPrintApproval" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    oc.*
    from oms_create_file oc LEFT JOIN oms_file o1 on oc.FILE_ID=o1.ID
      LEFT JOIN oms_file o2 on o1.FILE_ID = o2.ID
    where (o2.ID='113' or o2.ID='117') and oc.APPLY_ID=#{applyId}
  </select>
</mapper>