<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.omsregcadre.mapper.OmsRegRevokeApplyMapper">
  <resultMap id="BaseResultMap" type="com.hxoms.modules.omsregcadre.entity.OmsRegRevokeApply">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="A0100" jdbcType="VARCHAR" property="a0100" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="SURNAME" jdbcType="VARCHAR" property="surname" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="BIRTH_DATE" jdbcType="DATE" property="birthDate" />
    <result column="IDNUMBER" jdbcType="CHAR" property="idnumber" />
    <result column="REGISTE_RESIDENCE_CODE" jdbcType="VARCHAR" property="registeResidenceCode" />
    <result column="REGISTE_RESIDENCE" jdbcType="VARCHAR" property="registeResidence" />
    <result column="WORK_UNIT" jdbcType="VARCHAR" property="workUnit" />
    <result column="POST_CODE" jdbcType="VARCHAR" property="postCode" />
    <result column="POST" jdbcType="VARCHAR" property="post" />
    <result column="PERSON_MANAGER" jdbcType="VARCHAR" property="personManager" />
    <result column="IDENTITY_CODE" jdbcType="VARCHAR" property="identityCode" />
    <result column="IDENTITY" jdbcType="VARCHAR" property="identity" />
    <result column="SECRET_STATUS" jdbcType="VARCHAR" property="secretStatus" />
    <result column="SECRET_STARTDATE" jdbcType="DATE" property="secretStartDate" />
    <result column="SECRET_ENDDATE" jdbcType="VARCHAR" property="secretEndDate" />
    <result column="APPLY_REASON" jdbcType="VARCHAR" property="applyReason" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="RF_B0000" jdbcType="VARCHAR" property="rfB0000" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, A0100, CREATE_USER, CREATE_DATE, SURNAME, NAME, SEX, BIRTH_DATE, IDNUMBER, REGISTE_RESIDENCE_CODE, 
    REGISTE_RESIDENCE, WORK_UNIT, POST_CODE, POST, PERSON_MANAGER, IDENTITY_CODE, IDENTITY, 
    SECRET_STATUS, SECRET_STARTDATE, SECRET_ENDDATE, APPLY_REASON, STATUS,RF_B0000
  </sql>

  <select id="selectRevokeApplyList" parameterType="com.hxoms.modules.omsregcadre.entity.OmsRegRevokeApply"
          resultType="com.hxoms.modules.omsregcadre.entity.OmsRegRevokeApply">
    SELECT * from oms_reg_revokeapply
    WHERE 1=1
    <if test="revokeapply.name!=null and revokeapply.name!=''">
      AND CONCAT(IFNULLLL(SURNAME,''),IFNULLLL(NAME,'')) LIKE '%${revokeapply.name}%'
    </if>
    <if test="revokeapply.status!=null and revokeapply.status!=''">
      AND STATUS = #{revokeapply.status}
    </if>
    <if test="revokeapply.rfB0000!=null and revokeapply.rfB0000!=''">
      AND RF_B0000 = #{revokeapply.rfB0000}
    </if>
    limit (page.current-1)*page.size,page.size
  </select>

</mapper>