<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.passportCard.counterReturn.mapper.OmsCounterReturnMapper">
    <select id="selectCerByQua" resultType="com.hxoms.modules.passportCard.initialise.entity.CfCertificate">
    SELECT
        id,
        oms_id omsId,
        card_status cardStatus
    FROM
        cf_certificate
    WHERE
        zjlx =#{zjlx}
    AND zjhm =#{zjhm}
    AND NAME =#{name}
    </select>
    <select id="selectPriApplyInfo" resultType="com.hxoms.modules.privateabroad.entity.OmsPriApply">
    SELECT
        b.id,
        a.name,
        a.work_Unit workUnit,
        b.CLASSIFICATION_LEVEL classificationLevel,
        b.ABROAD_REASONS abroadReasons
    FROM
        cf_certificate_collection a
    INNER JOIN oms_pri_apply b ON a.busi_id = b.id
    WHERE
        a.oms_id = ''
    AND a.data_source = '1'
    AND a.cj_status = '2'
    ORDER BY
        a.CREATETIME DESC
    LIMIT 1
    </select>
</mapper>