<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.passportCard.omsCerInventory.mapper.OmsCerInventoryMapper">
	<resultMap id="BaseResultMap" type="com.hxoms.modules.passportCard.omsCerInventory.entity.OmsCerInventory">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="OMS_ID" jdbcType="VARCHAR" property="omsId" />
		<result column="CF_ID" jdbcType="VARCHAR" property="cfId" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="A0100" jdbcType="VARCHAR" property="a0100" />
		<result column="CSRQ" jdbcType="DATE" property="csrq" />
		<result column="ZJLX" jdbcType="CHAR" property="zjlx" />
		<result column="ZJHM" jdbcType="VARCHAR" property="zjhm" />
		<result column="YXQZ" jdbcType="DATE" property="yxqz" />
		<result column="CARD_STATUS" jdbcType="CHAR" property="cardStatus" />
		<result column="BEFORE_INVENTORY_SAVE_STATUS" jdbcType="CHAR" property="beforeInventorySaveStatus" />
		<result column="AFTER_INVENTORY_SAVE_STATUS" jdbcType="CHAR" property="afterInventorySaveStatus" />
		<result column="CABINET_NUM" jdbcType="VARCHAR" property="cabinetNum" />
		<result column="DATA_WAY" jdbcType="CHAR" property="dataWay" />
		<result column="PLACE" jdbcType="VARCHAR" property="place" />
		<result column="COUNTER_NUM" jdbcType="INTEGER" property="counterNum" />
		<result column="COUNTER_START_QUERY" jdbcType="INTEGER" property="counterStartQuery" />
		<result column="COUNTER_END_QUERY" jdbcType="INTEGER" property="counterEndQuery" />
		<result column="INVENTORY_RESULT" jdbcType="VARCHAR" property="inventoryResult" />
		<result column="INVENTORY_DATE" jdbcType="VARCHAR" property="inventoryDate" />
		<result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
		<result column="MODIFY_USER" jdbcType="VARCHAR" property="modifyUser" />
		<result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>
	<sql id="Base_Column_List">
    ID, OMS_ID, CF_ID, NAME, A0100, CSRQ, ZJLX, ZJHM, YXQZ, CARD_STATUS, BEFORE_INVENTORY_SAVE_STATUS,
    AFTER_INVENTORY_SAVE_STATUS, CABINET_NUM, PLACE, COUNTER_NUM, COUNTER_START_QUERY, 
    COUNTER_END_QUERY, DATA_WAY, INVENTORY_RESULT, INVENTORY_DATE, CREATE_USER, CREATE_TIME, MODIFY_USER,
    MODIFY_TIME
  </sql>

	<!-- 证照盘点查询 -->
		<select id="selectCerInventoryResultForCabinet" resultType="java.util.Map">
		select
			oci.ID as id,
			oci.OMS_ID as omsId,
			cc.ID as cfId,
			oci.NAME as name,
			oci.ZJLX as zjlx,
			oci.ZJHM as zjhm,
			oci.YXQZ as yxqz,
			oci.CARD_STATUS as cardStatus,
			oci.BEFORE_INVENTORY_SAVE_STATUS as beforeInventorySaveStatus,
			oci.AFTER_INVENTORY_SAVE_STATUS as afterInventorySaveStatus,
			oci.CABINET_NUM as cabinetNum,
			oci.PLACE as place,
			oci.COUNTER_NUM as counterNum,
			oci.CSRQ as csrq,
			oci.INVENTORY_RESULT as inventoryResult,
			org.SEX as sex,
			org.WORK_UNIT as workUnit,
			org.post as post,
			org.RF_B0000 as rfB0000
		from
			oms_cer_inventory oci
		left join oms_reg_procpersoninfo org on oci.OMS_ID = org.ID
		left join cf_certificate cc on cc.ZJHM = oci.ZJHM
		<where>
			<trim suffixOverrides="and">
				<if test="cabinetNum != null">oci.CABINET_NUM=#{cabinetNum} and </if>
				<if test="cardStatus != null">oci.CARD_STATUS=#{cardStatus} and </if>
				<if test="dataWay != null">oci.DATA_WAY=#{dataWay} and </if>
				<if test="inventoryDate != null">oci.INVENTORY_DATE=#{inventoryDate} and </if>
				<if test="sameStatus != null">(oci.BEFORE_INVENTORY_SAVE_STATUS != oci.AFTER_INVENTORY_SAVE_STATUS) and </if>
				<if test="counterStartQuery != null and counterEndQuery != null">
					(oci.COUNTER_NUM between #{counterStartQuery} and #{counterEndQuery}) and
				</if>
			</trim>
		</where>
	</select>

	<!-- 盘点情况统计（证照机）返回前后统计数量 -->
	<select id="getCerInventoryStatisticsNum" resultType="java.util.Map">
		select t1.beforeNormal,t2.beforeTakeOut,t3.beforeTotal,t4.afterNormal,t5.afterTakeOut,t6.afterTotal from
		  (select count(*) beforeNormal from oms_cer_inventory where BEFORE_INVENTORY_SAVE_STATUS = '0'
		  	and CABINET_NUM=#{cabinetNum}
		  	and INVENTORY_DATE=#{inventoryDate}
		  	and DATA_WAY=#{dataWay}) t1,
		  (select count(*) beforeTakeOut from oms_cer_inventory where BEFORE_INVENTORY_SAVE_STATUS = '1'
		   and CABINET_NUM=#{cabinetNum}
		   and INVENTORY_DATE=#{inventoryDate}
		   and DATA_WAY=#{dataWay}) t2,
		  (select count(*) beforeTotal from oms_cer_inventory where CABINET_NUM=#{cabinetNum}
		   and INVENTORY_DATE=#{inventoryDate}
		   and DATA_WAY=#{dataWay}) t3,
		  (select count(*) afterNormal from oms_cer_inventory where AFTER_INVENTORY_SAVE_STATUS = '0'
		   and CABINET_NUM=#{cabinetNum}
		   and INVENTORY_DATE=#{inventoryDate}
		   and DATA_WAY=#{dataWay}) t4,
		  (select count(*) afterTakeOut from oms_cer_inventory where AFTER_INVENTORY_SAVE_STATUS = '1'
		   and CABINET_NUM=#{cabinetNum}
		   and INVENTORY_DATE=#{inventoryDate}
		   and DATA_WAY=#{dataWay}) t5,
		  (select count(*) afterTotal from oms_cer_inventory where CABINET_NUM=#{cabinetNum}
		   and INVENTORY_DATE=#{inventoryDate}
		   and DATA_WAY=#{dataWay}) t6
	</select>

	<!-- 总体盘点结果统计查询 -->
	<select id="GetCerInventoryResult"  resultType="java.util.Map">
		select
			oci.ID as id,
			oci.OMS_ID as omsId,
			oci.NAME as name,
			oci.ZJLX as zjlx,
			oci.ZJHM as zjhm,
			oci.YXQZ as yxqz,
			oci.CARD_STATUS as cardStatus,
			oci.BEFORE_INVENTORY_SAVE_STATUS as beforeInventorySaveStatus,
			oci.AFTER_INVENTORY_SAVE_STATUS as afterInventorySaveStatus,
			oci.INVENTORY_DATE as inventoryDate,
			oci.CABINET_NUM as cabinetNum,
			oci.PLACE as place,
			oci.COUNTER_NUM as counterNum,
			oci.CSRQ as csrq,
			oci.INVENTORY_RESULT as inventoryResult,
			org.SEX as sex,
			org.WORK_UNIT as workUnit,
			org.post as post
		from
			oms_cer_inventory oci
		left join oms_reg_procpersoninfo org on oci.OMS_ID = org.ID
		<where>
			<trim suffixOverrides="and">
				<if test="map.inventoryDate != null">oci.INVENTORY_DATE=#{map.inventoryDate} and </if>
				<if test="map.sameStatus != null">(oci.BEFORE_INVENTORY_SAVE_STATUS != oci.AFTER_INVENTORY_SAVE_STATUS) and </if>
				<trim suffixOverrides="or">
					<if test="map.counterStartQuery != null and map.counterEndQuery != null">
						<choose>
							<when test="cabinetList != null and cabinetList.size >0 ">
								(
							</when>
						</choose>
						(oci.COUNTER_NUM between #{map.counterStartQuery} and #{map.counterEndQuery}) or
					</if>
					<if test="cabinetList != null and cabinetList.size > 0">oci.CABINET_NUM in
						<foreach collection="cabinetList" item="item" index="index" separator="," open="(" close=")">
							#{item}
						</foreach>
						<choose>
							<when test="map.counterStartQuery != null and map.counterEndQuery != null">
								)
							</when>
						</choose>
						or
					</if>
				</trim>
			</trim>
		</where>
	</select>


	<select id="selectOmsCerIdList" resultType="java.lang.String">
		select CF_ID from oms_cer_inventory
		<where>
			<trim suffixOverrides="and">
				<if test="cabinetNum != null">CABINET_NUM=#{cabinetNum} and </if>
				<if test="cardStatus != null">CARD_STATUS=#{cardStatus} and </if>
				<if test="surelyWay != null">SURELY_WAY=#{surelyWay} and </if>
				<if test="dataWay != null">DATA_WAY=#{dataWay} and </if>
				<if test="inventoryDate != null">INVENTORY_DATE=#{inventoryDate} and </if>
			</trim>
		</where>
	</select>

	<!-- 查询盘点年月 -->
	<select id="selectCerInventoryDate" resultType="java.lang.String">
		select
        	distinct INVENTORY_DATE
    	from
        	oms_cer_inventory
   		where INVENTORY_DATE is not null
	</select>

</mapper>