<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.dataCapture.datasources.mapper.CutTargetDataSourceMapper">



    <select id="targetDataSource" parameterType="java.lang.String" resultType="com.hxoms.modules.dataCapture.entity.DataSource">
        select
         datasource_Id as datasourceId,
         url,
         user_name as userName,
         pass_word as passWord,
         code,
         databasetype
        FROM ${tableName} where CODE = #{code}
    </select>

</mapper>