<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.passportCard.mapper.CfCertificateMapper">
  <resultMap id="BaseResultMap" type="com.hxoms.modules.passportCard.entity.CfCertificate">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <!--<result column="B0100" jdbcType="VARCHAR" property="b0100"/>-->
    <result column="OMS_ID" jdbcType="VARCHAR" property="omsId"/>
    <result column="A0100" jdbcType="VARCHAR" property="a0100" />
    <result column="NAME" jdbcType="VARCHAR" property="name"/>
    <result column="PY" jdbcType="VARCHAR" property="py"/>
    <result column="GJ" jdbcType="VARCHAR" property="gj" />
    <result column="CSRQ" jdbcType="DATE" property="csrq"/>
    <result column="ZWCSDD" jdbcType="VARCHAR" property="zwcsdd" />
    <result column="YWCSDD" jdbcType="VARCHAR" property="ywcsdd" />
    <result column="ZJHM" jdbcType="VARCHAR" property="zjhm" />
    <result column="ZJLX" jdbcType="INTEGER" property="zjlx" />
    <result column="ZJXS" jdbcType="VARCHAR" property="zjxs" />
    <result column="SEX" jdbcType="INTEGER" property="sex"/>
    <result column="LOCATION" jdbcType="VARCHAR" property="location" />
    <result column="ZWQFDD" jdbcType="VARCHAR" property="zwqfdd" />
    <result column="YWQFDD" jdbcType="VARCHAR" property="ywqfdd" />
    <result column="ZWQFJG" jdbcType="VARCHAR" property="zwqfjg" />
    <result column="YWQFJG" jdbcType="VARCHAR" property="ywqfjg" />
    <result column="QFRQ" jdbcType="TIMESTAMP" property="qfrq" />
    <result column="YXQZ" jdbcType="TIMESTAMP" property="yxqz" />
    <result column="ZJSJRQ" jdbcType="TIMESTAMP" property="zjsjrq" />
    <result column="MANAGE_UNIT" jdbcType="VARCHAR" property="manageUnit"/>
    <result column="CABINET_NUM" jdbcType="VARCHAR" property="cabinetNum"/>
    <result column="STORAGE_PLACE" jdbcType="VARCHAR" property="storagePlace"/>
    <result column="SAVE_STATUS" jdbcType="VARCHAR" property="saveStatus"/>
    <result column="IS_LOCK" jdbcType="INTEGER" property="isLock"/>
    <result column="DQZT" jdbcType="INTEGER" property="dqzt" />
    <result column="EXCEPTION_MESSAGE" jdbcType="VARCHAR" property="exceptionMessage"/>
    <result column="IS_CABINET" jdbcType="INTEGER" property="isCabinet" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
  </resultMap>

    <select id="selectCfCertificateIPage" parameterType="com.hxoms.modules.passportCard.entity.param.CfCertificatePageParam"
            resultType="com.hxoms.modules.passportCard.entity.CfCertificate">
        SELECT
            cc.ID AS ID,
            orp.INCUMBENCY_STATUS AS incumbencyStatus,
            orp.RF_B0000,
            cc.A0184 AS a0184,
            cc.NAME,
            cc.PY,
            cc.SEX,
            cc.CSRQ,
            cc.GJ,
            cc.ZWCSDD,
            cc.LOCATION,
            cc.zjlx,
            cc.ZJSJRQ,
            cc.ZJHM,
            cc.QFRQ,
            cc.IS_LOCK,
            cc.MANAGE_UNIT,
            cc.YXQZ,
            cc.DQZT,
            cc.CABINET_NUM,
            cc.EXCEPTION_MESSAGE,
            cc.IS_CABINET,
            cc.SAVE_STATUS,
            cc.STORAGE_PLACE,
            cc.UPDATE_TIME
        FROM
        cf_certificate cc
          LEFT JOIN oms_reg_procpersoninfo orp ON cc.A0184 = orp.IDNUMBER
          LEFT JOIN B01 b ON orp.RF_B0000 = b.B0100
        WHERE 1=1 AND cc.IS_VALID = 0
        <if test="name != null">
            AND cc.NAME like CONCAT(CONCAT('%', #{name}), '%')
            OR cc.PY like CONCAT(CONCAT('%',#{name}),'%')
        </if>

        <if test="zjhm != null">
            AND cc.ZJHM like CONCAT(CONCAT('%', #{zjhm}), '%')
        </if>

        <if test="dqzt != null">
            AND cc.DQZT = #{dqzt}
        </if>

        <if test="isLock != null">
            AND cc.IS_LOCK = #{isLock}
        </if>

        <if test="yxqz != null">
            AND cc.YXQZ &lt;= #{yxqz}
        </if>

        <if test="b0100 != null">
            AND b.B0100 in
            <foreach item="b0100" index="index" collection="b0100" open="(" separator="," close=")">
                #{b0100}
            </foreach>
        </if>
        ORDER BY cc.update_time DESC
    </select>

    <select id="findOverduePass" parameterType="com.hxoms.modules.passportCard.entity.param.CfCertificateReminderParam"
                                    resultType="com.hxoms.modules.passportCard.entity.CfCertificateReminder">
        SELECT
        cf.*
        FROM
        cf_certificate cf
        LEFT JOIN oms_pri_apply opa ON cf.ZJHM = opa.PASSPORT_NUM
        WHERE
        cf.DQZT = 4
        OR opa.REVERT_LICENCE_TIME &lt;=NOW()


    </select>

    <!--<select id="findAllCount" parameterType="com.hxoms.modules.passportCard.entity.vo.CfCertificateVo"
            resultType="java.lang.Integer">

        SELECT
        count(1)
        FROM
            cf_certificate cc
        LEFT JOIN a01 a ON a.a0184 = cc.A0184
        LEFT JOIN a02 a2 ON a2.a0100 = a.a0100
        LEFT JOIN b01 b ON a2.a0201b = b.b0111
        LEFT JOIN oms_reg_procpersoninfo orp ON orp.A0100 = a.a0100
        WHERE
            1 = 1
        AND cc.IS_VALID = 0
        <if test="name != null">
            AND cc.NAME like CONCAT(CONCAT('%', #{name}), '%')
        </if>

        <if test="zjhm != null">
            AND cc.ZJHM like CONCAT(CONCAT('%', #{zjhm}), '%')
        </if>

        <if test="dqzt != null">
            AND cc.DQZT = #{dqzt}
        </if>

        <if test="yxqz != null">
            AND cc.YXQZ &lt;= #{yxqz}
        </if>


        <if test="b0100 != null">
            AND b.B0100 exists
            <foreach item="b0100" index="index" collection="b0100" open="(" separator="," close=")">
                #{b0100}
            </foreach>
        </if>
    </select>-->

    <delete id="delete" parameterType="java.lang.String">

        UPDATE cf_certificate SET IS_VALID = 1 WHERE ID = #{id}

    </delete>

    <select id="findCfById" parameterType="java.lang.String"
            resultType="com.hxoms.modules.passportCard.entity.CfCertificate">
        SELECT * FROM cf_certificate WHERE ID = #{id}
    </select>

    <select id="findSuccessCf" resultType="java.lang.Integer">

        SELECT COUNT(1) FROM cf_certificate WHERE MANAGEUNIT != NULL OR MANAGEUNIT !=""

    </select>

</mapper>