<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.b01temp.mapper.OmsB01TempMapper">
  <resultMap id="BaseResultMap" type="com.hxoms.modules.b01temp.entity.OmsB01Temp">
    <id column="batch_id" jdbcType="VARCHAR" property="batchId" />
    <id column="b0100" jdbcType="VARCHAR" property="b0100" />
  </resultMap>

  <sql id="Base_Column_List">
    batch_id, b0100
  </sql>
  <insert id="insertBatch">
    insert  into oms_b01_temp (batch_id, b0100)
    values
    <foreach collection="list" item="item" index="index" separator="," open="" close="">
      (#{item.batchId},#{item.b0100})
    </foreach>
  </insert>
  <delete id="deleteByBatchId">
    delete from oms_b01_temp where batch_id=#{batchId}
  </delete>

</mapper>