<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.omssmrperson.mapper.OmsSmrOldInfoMapper">
  <resultMap id="BaseResultMap" type="com.hxoms.modules.omssmrperson.entity.OmsSmrOldInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="A0100" jdbcType="VARCHAR" property="a0100" />
    <result column="B0100" jdbcType="VARCHAR" property="b0100" />
    <result column="SECRET_RELATED_POST" jdbcType="VARCHAR" property="secretRelatedPost" />
    <result column="SECRET_RELATED_LEVEL" jdbcType="VARCHAR" property="secretRelatedLevel" />
    <result column="SECRET_REVIEW_DATE" jdbcType="TIMESTAMP" property="secretReviewDate" />
    <result column="START_DATE" jdbcType="DATE" property="startDate" />
    <result column="FINISH_DATE" jdbcType="DATE" property="finishDate" />
    <result column="QR_SECRET_RELATED_POST" jdbcType="VARCHAR" property="qrSecretRelatedPost" />
    <result column="QR_SECRET_RELATED_LEVEL" jdbcType="VARCHAR" property="qrSecretRelatedLevel" />
    <result column="QR_START_DATE" jdbcType="DATE" property="qrStartDate" />
    <result column="QR_FINISH_DATE" jdbcType="DATE" property="qrFinishDate" />
    <result column="QR_USER_ID" jdbcType="VARCHAR" property="qrUserId" />
    <result column="QR_TIME" jdbcType="TIMESTAMP" property="qrTime" />
    <result column="IMPORT_YEAR" jdbcType="VARCHAR" property="importYear" />
    <result column="PROC_PERSON_ID" jdbcType="VARCHAR" property="procPersonId" />
    <result column="PERSON_STATE" jdbcType="VARCHAR" property="personState" />
    <result column="POST" jdbcType="VARCHAR" property="post" />
    <result column="SFQR" jdbcType="VARCHAR" property="sfqr" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapVO" type="com.hxoms.modules.omssmrperson.entity.OmsSmrOldInfoVO">
    <result column="b0101" jdbcType="VARCHAR" property="b0101" />
    <result column="a0101" jdbcType="VARCHAR" property="a0101" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="BIRTH_DATE" jdbcType="VARCHAR" property="birthDay" />
    <result column="ID_CARD_NUMBER" jdbcType="VARCHAR" property="idCardNumber" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="data_Source" jdbcType="VARCHAR" property="dataSource" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, A0100, B0100, SECRET_RELATED_POST, SECRET_RELATED_LEVEL, SECRET_REVIEW_DATE, 
    START_DATE, FINISH_DATE, QR_SECRET_RELATED_POST, QR_SECRET_RELATED_LEVEL, QR_START_DATE, 
    QR_FINISH_DATE, QR_USER_ID, QR_TIME, IMPORT_YEAR,PROC_PERSON_ID,PERSON_STATE,POST,SFQR
  </sql>

  <select id="getSmrOldInfoList" parameterType="java.lang.String" resultType="com.hxoms.modules.omssmrperson.entity.OmsSmrOldInfoVO">
    SELECT
      t.*,
      b.B0101
    FROM oms_smr_oldinfo t
    LEFT JOIN b01 b on t.B0100 = b.B0100
    WHERE 1=1
    <if test="id != null and id != ''">
        and t.PROC_PERSON_ID = #{id}
    </if>
  </select>

  <!--涉密信息列表-->
  <select id="getSmrOldInfoVOList" parameterType="java.util.Map" resultMap="ResultMapVO">
    SELECT
      t.*,
      b.b0101 as b0101
    FROM oms_smr_oldinfo t LEFT JOIN b01 b on t.B0100 = b.B0100
    WHERE 1=1
    <if test="a0100 != null and a0100 != ''">
        and  t.A0100 = #{a0100}
    </if>
    <if test="finishDate != null and finishDate != ''">
      and t.QR_FINISH_DATE is not null
      and t.QR_FINISH_DATE &gt;= now()
    </if>
    ORDER BY t.QR_FINISH_DATE desc , t.SECRET_RELATED_LEVEL desc
  </select>
  <!--涉密信息列表-->
  <select id="getSmrOldInfoVOList1" parameterType="java.util.Map" resultMap="ResultMapVO">
    SELECT
    t.*,
    b.b0101 as b0101
    FROM oms_smr_oldinfo t LEFT JOIN b01 b on t.B0100 = b.B0100
    WHERE 1=1
    <if test="a0100 != null and a0100 != ''">
      and  t.A0100 = #{a0100}
      and t.QR_FINISH_DATE is not null
      and t.QR_FINISH_DATE &gt;= now()
    </if>

    ORDER BY t.QR_FINISH_DATE desc , t.SECRET_RELATED_LEVEL desc
  </select>

  <!-- 获取脱密期确认列表 -->
  <select id="getConfirmPeriodList" resultMap="ResultMapVO">
    SELECT
    t.*,r.WORK_UNIT as b0101,CONCAT(r.SURNAME,r.`NAME`) as a0101
    FROM
    oms_smr_oldinfo t
    LEFT JOIN oms_reg_procpersoninfo r ON t.A0100 = r.A0100
    WHERE 1 = 1
    <if test="name !=null and name !=''">
      AND concat(r.SURNAME,r.NAME) like #{name}
    </if>
    <if test="namePy !=null and namePy !=''">
      AND r.PY like #{namePy}
    </if>
    and r.rf_B0000 = #{orgId}
    and IFNULL(t.SFQR,'0') = '0'
    and ISNULL(START_DATE)=FALSE
  </select>

  <!-- 获取涉密人员信息维护列表 -->
  <select id="getSmrMaintainList"  resultMap="ResultMapVO">
    SELECT
    t.*,r.WORK_UNIT as b0101,CONCAT(r.SURNAME,r.`NAME`) as a0101
    FROM
    oms_smr_oldinfo t
    LEFT JOIN oms_reg_procpersoninfo r ON t.A0100 = r.A0100
    WHERE 1 = 1
    <if test="name !=null and name !=''">
      AND concat(r.SURNAME,r.NAME) like #{name}
    </if>
    <if test="namePy !=null and namePy !=''">
      AND r.PY like #{namePy}
    </if>
    and r.RF_B0000 = #{orgId}
    and t.SECRET_RELATED_LEVEL is null
    and r.INCUMBENCY_STATUS = '1'
  </select>

  <select id="getSmrCount" resultType="String">
    select count(1) from oms_smr_oldinfo
  </select>

  <!-- 获取差异数据列表 -->
  <select id="getDifferentData" resultType="com.hxoms.modules.omssmrperson.entity.OmsSmrOldInfoVO">
    SELECT
        *
    FROM
        (
      SELECT
          t.id,
          t.RF_B0000 b0100,
          '系统' data_source,
          b.b0101,
          concat( t.SURNAME, t.`NAME` ) NAME,
          case t.SEX when 1 then '男' when 2 then '女' end sex,
          t.BIRTH_DATE,
          t.POST,
          t.IDNUMBER_GB ID_CARD_NUMBER,
          '无涉密信息' msg,
          a.SECRET_RELATED_LEVEL,
          a.SECRET_RELATED_POST,
          a.START_DATE,
          a.FINISH_DATE
      FROM
          oms_reg_procpersoninfo t
          INNER JOIN b01 b ON t.RF_B0000 = b.b0100
          LEFT JOIN oms_smr_oldinfo a ON t.id = a.PROC_PERSON_ID
          AND a.IMPORT_YEAR = #{importYear} and a.b0100 = #{b0100}
      WHERE
          t.DATA_TYPE = '1'
          AND t.SECRET_LEVEL IS NULL
          AND t.INBOUND_FLAG != 'D'
          AND t.RF_B0000 = #{b0100}

    UNION ALL

      SELECT
          t.id,
          t.B0100,
          '保密局' data_source,
          b.b0101,
          t.NAME,
          t.SEX,
          t.BIRTH_DATE,
          t.post,
          t.ID_CARD_NUMBER,
          '未匹配到干部' msg,
          t.SECRET_RELATED_LEVEL,
          t.SECRET_RELATED_POST,
          t.START_DATE,
          t.FINISH_DATE
      FROM
          oms_smr_recordinfo t
          INNER JOIN b01 b ON t.b0100 = b.b0100
      WHERE
          t.IS_MATCHING = '0'
          AND t.IMPORT_YEAR = #{importYear}
          AND t.B0100 = #{b0100}
        ) a
    ORDER BY a.NAME
  </select>
</mapper>