<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.omssmrperson.mapper.OmsSmrCompareMapper">
  <resultMap id="BaseResultMap" type="com.hxoms.modules.omssmrperson.entity.OmsSmrCompare">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ID_CARD_NUMBER_ERROR" jdbcType="VARCHAR" property="idCardNumberError" />
    <result column="ID_CARD_NUMBER_RIGHT" jdbcType="VARCHAR" property="idCardNumberRight" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="BIRTH_DATE" jdbcType="VARCHAR" property="birthDate" />
    <result column="B0100" jdbcType="VARCHAR" property="b0100" />
    <result column="POST" jdbcType="VARCHAR" property="post" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapVO" type="com.hxoms.modules.omssmrperson.entity.OmsSmrCompareVO">
    <result column="b0101" jdbcType="VARCHAR" property="b0101" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ID_CARD_NUMBER_ERROR, ID_CARD_NUMBER_RIGHT, NAME, SEX, BIRTH_DATE, B0100,POST
  </sql>

  <!-- 获取身份证纠正表列表 -->
  <select id="getCompareIdCard" parameterType="java.lang.String" resultMap="ResultMapVO">
    SELECT
        t.*, b.b0101
    FROM
        oms_smr_compare t
        LEFT JOIN b01 b ON t.b0100 = b.b0100
    WHERE 1 = 1
        AND t.b0100 = #{b0100}
    ORDER BY
        b.b0111, t.NAME
  </select>

  <!-- 获取已匹配人员列表 -->
  <select id="getMatchingDate" resultMap="BaseResultMap">
    SELECT
        <include refid="Base_Column_List" />
    FROM
        oms_smr_compare t
    WHERE 1=1
    AND t.B0100 = (select b.b0101 from b01 b where b.b0100 = #{b0100})
    AND t.ID_CARD_NUMBER_RIGHT = #{idCardNumber}
  </select>
</mapper>