<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.omssmrperson.mapper.OmsSmrOldInfoMapper">
  <resultMap id="BaseResultMap" type="com.hxoms.modules.omssmrperson.entity.OmsSmrOldInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="A0100" jdbcType="VARCHAR" property="a0100" />
    <result column="B0100" jdbcType="VARCHAR" property="b0100" />
    <result column="SECRET_RELATED_POST" jdbcType="VARCHAR" property="secretRelatedPost" />
    <result column="SECRET_RELATED_LEVEL" jdbcType="VARCHAR" property="secretRelatedLevel" />
    <result column="SECRET_REVIEW_DATE" jdbcType="TIMESTAMP" property="secretReviewDate" />
    <result column="START_DATE" jdbcType="DATE" property="startDate" />
    <result column="FINISH_DATE" jdbcType="DATE" property="finishDate" />
    <result column="QR_SECRET_RELATED_POST" jdbcType="VARCHAR" property="qrSecretRelatedPost" />
    <result column="QR_SECRET_RELATED_LEVEL" jdbcType="VARCHAR" property="qrSecretRelatedLevel" />
    <result column="QR_START_DATE" jdbcType="DATE" property="qrStartDate" />
    <result column="QR_FINISH_DATE" jdbcType="DATE" property="qrFinishDate" />
    <result column="QR_USER_ID" jdbcType="VARCHAR" property="qrUserId" />
    <result column="QR_TIME" jdbcType="TIMESTAMP" property="qrTime" />
    <result column="IMPORT_YEAR" jdbcType="VARCHAR" property="importYear" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, A0100, B0100, SECRET_RELATED_POST, SECRET_RELATED_LEVEL, SECRET_REVIEW_DATE, 
    START_DATE, FINISH_DATE, QR_SECRET_RELATED_POST, QR_SECRET_RELATED_LEVEL, QR_START_DATE, 
    QR_FINISH_DATE, QR_USER_ID, QR_TIME, IMPORT_YEAR
  </sql>

  <select id="getSmrOldInfoList" parameterType="com.hxoms.modules.omssmrperson.entity.OmsSmrOldInfo" resultMap="BaseResultMap">
    SELECT
      t.ID,
      t.A0100,
      b.B0101 AS B0100,
      t.SECRET_RELATED_POST,
      t.SECRET_RELATED_LEVEL,
      t.SECRET_REVIEW_DATE,
      t.START_DATE,
      t.FINISH_DATE,
      t.QR_SECRET_RELATED_POST,
      t.QR_SECRET_RELATED_LEVEL,
      t.QR_START_DATE,
      t.QR_FINISH_DATE,
      t.QR_USER_ID,
      t.QR_TIME,
      t.IMPORT_YEAR
    FROM oms_reg_revokeapply t
    LEFT JOIN b01 b on t.B0100 = b.B0100
    WHERE t.A0100 = #{A0100}
    limit ${(page.current-1)},${page.size}
  </select>
</mapper>