<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.omssmrperson.mapper.OmsSmrPersonInfoMapper">
  <resultMap id="BaseResultMap" type="com.hxoms.modules.omssmrperson.entity.OmsSmrPersonInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="A0100" jdbcType="VARCHAR" property="a0100" />
    <result column="B0100" jdbcType="VARCHAR" property="b0100" />
    <result column="B0101" jdbcType="VARCHAR" property="b0101" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="ID_CARD_NUMBER" jdbcType="VARCHAR" property="idCardNumber" />
    <result column="A0141" jdbcType="VARCHAR" property="a0141" />
    <result column="POST" jdbcType="VARCHAR" property="post" />
    <result column="PERSON_STATE" jdbcType="VARCHAR" property="personState" />
    <result column="SECRET_RELATED_POST" jdbcType="VARCHAR" property="secretRelatedPost" />
    <result column="SECRET_RELATED_LEVEL" jdbcType="VARCHAR" property="secretRelatedLevel" />
    <result column="SECRET_REVIEW_DATE" jdbcType="TIMESTAMP" property="secretReviewDate" />
    <result column="SECRET_RELATED_ORG" jdbcType="VARCHAR" property="secretRelatedOrg" />
    <result column="MAX_SECRET_RELATED_ORG" jdbcType="VARCHAR" property="maxSecretRelatedOrg" />
    <result column="MAX_SECRET_RELATED_LEVEL" jdbcType="VARCHAR" property="maxSecretRelatedLevel" />
    <result column="MAX_FINISH_DATE" jdbcType="DATE" property="maxFinishDate" />
    <result column="START_DATE" jdbcType="DATE" property="startDate" />
    <result column="FINISH_DATE" jdbcType="DATE" property="finishDate" />
    <result column="UPDATE_USER_ID" jdbcType="VARCHAR" property="updateUserId" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="IMPORT_YEAR" jdbcType="VARCHAR" property="importYear" />
    <result column="DATASOURCE" jdbcType="VARCHAR" property="dataSource" />
    <result column="PROC_PERSON_ID" jdbcType="VARCHAR" property="procPersonId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, A0100, B0100, ID_CARD_NUMBER, A0141, POST, PERSON_STATE, SECRET_RELATED_POST,
    SECRET_RELATED_LEVEL, SECRET_REVIEW_DATE, SECRET_RELATED_ORG, MAX_SECRET_RELATED_ORG, 
    MAX_SECRET_RELATED_LEVEL, MAX_FINISH_DATE, START_DATE, FINISH_DATE, UPDATE_USER_ID, 
    UPDATE_TIME, IMPORT_YEAR,PROC_PERSON_ID
  </sql>

  <!-- 查询涉密人员管理列表 -->
  <select id="selectSmrPersonInfo" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
        t.ID,
        t.A0100,
        t.B0100,
        (select b.b0101 from b01 b where t.b0100 = b.B0100) b0101,
        concat(r.SURNAME,r.NAME) as NAME,
        case r.SEX when '1' then '男' when '2' then '女' end sex,
        t.ID_CARD_NUMBER,
        t.A0141,
        t.POST,
        t.PERSON_STATE,
        t.SECRET_RELATED_POST,
        t.SECRET_RELATED_LEVEL,
        t.SECRET_REVIEW_DATE,
        (select b.b0101 from b01 b where b.b0100 = t.SECRET_RELATED_ORG) SECRET_RELATED_ORG,
        (select b.b0101 from b01 b where b.b0100 = t.MAX_SECRET_RELATED_ORG) MAX_SECRET_RELATED_ORG,
        t.MAX_SECRET_RELATED_LEVEL,
        t.MAX_FINISH_DATE,
        t.START_DATE,
        t.FINISH_DATE,
        t.UPDATE_USER_ID,
        t.UPDATE_TIME,
        t.IMPORT_YEAR
    FROM
        oms_smr_personinfo t
        LEFT JOIN oms_reg_procpersoninfo r ON t.A0100 = r.A0100
    WHERE 1 = 1
        <if test="name !=null and name !=''">
          AND concat(r.SURNAME,r.NAME) like #{name}
        </if>
        <if test="namePy !=null and namePy !=''">
          AND r.PY like #{namePy}
        </if>
        <if test="b0100 !=null and b0100 !=''">
          AND t.B0100 = #{b0100}
        </if>
        <if test="level !=null and level !=''">
          AND t.SECRET_RELATED_LEVEL = #{level}
        </if>
        <if test="post !=null and post !=''">
          AND t.SECRET_RELATED_POST = #{post}
        </if>
        <if test="personState !=null and personState !=''">
          AND t.PERSON_STATE = #{personState}
        </if>
        <if test="idList != null and idList.size >0">
          AND t.B0100 IN
          <foreach collection="idList" item="item" index="index" open="(" close=")" separator=",">
            #{item}
          </foreach>
        </if>
    ORDER BY t.UPDATE_TIME DESC
  </select>

  <!-- 批量添加涉密人员 -->
  <insert id="insertPersonList" parameterType="java.util.List">
    INSERT INTO oms_smr_personinfo (
        ID, A0100, B0100, ID_CARD_NUMBER, A0141, POST, PERSON_STATE, SECRET_RELATED_POST,
        SECRET_RELATED_LEVEL, SECRET_REVIEW_DATE, SECRET_RELATED_ORG, MAX_SECRET_RELATED_ORG,
        MAX_SECRET_RELATED_LEVEL, MAX_FINISH_DATE, START_DATE, FINISH_DATE, UPDATE_USER_ID,
        UPDATE_TIME, IMPORT_YEAR
    )
    VALUES
    <foreach collection="list" item="item" index= "index" separator =",">
      (
        #{item.id},
        #{item.a0100},
        #{item.b0100},
        #{item.idCardNumber},
        #{item.a0141},
        #{item.post},
        #{item.personState},
        #{item.secretRelatedPost},
        #{item.secretRelatedLevel},
        #{item.secretReviewDate},
        #{item.secretRelatedOrg},
        #{item.maxSecretRelatedOrg},
        #{item.maxSecretRelatedLevel},
        #{item.maxFinishDate},
        #{item.startDate},
        #{item.finishDate},
        #{item.updateUserId},
        #{item.updateTime},
        #{item.importYear}
      )
    </foreach>
  </insert>

  <!-- 获取漏报涉密人员单位 -->
  <select id="getFailReportOrg" resultType="com.hxoms.modules.omssmrperson.entity.OmsSmrPersonInfo">
    SELECT
        *
    FROM
        (
    SELECT
        t.b0100,t.b0111,t.b0101
    FROM
        b01 t
        INNER JOIN oms_reg_procpersoninfo r ON r.RF_B0000 = t.b0100
    WHERE
        t.is_deleted = "0"
    GROUP BY t.B0100
        ) t
    WHERE
        1 = 1
        AND t.b0100 NOT IN ( SELECT t.B0100 FROM oms_smr_oldinfo t WHERE t.IMPORT_YEAR = #{Year}
        )
    ORDER BY
        t.b0111
  </select>

  <!-- 获取已匹配数据列表 -->
  <select id="getMatchingDate" resultType="com.hxoms.modules.omsregcadre.entity.OmsRegProcpersoninfo">
    SELECT
        t.*
    FROM
        oms_reg_procpersoninfo t
    WHERE
        t.WORK_UNIT = (select b.b0101 from b01 b where b.b0100 = #{workUnit})
        and t.IDNUMBER = #{idCardNumber}
        and t.INCUMBENCY_STATUS = '1'
  </select>

  <!-- 获取涉密人员信息维护列表 -->
  <select id="getSmrMaintainList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
        t.*
    FROM
      oms_smr_oldinfo t
        LEFT JOIN oms_reg_procpersoninfo r ON t.A0100 = r.A0100
    WHERE 1 = 1
        <if test="name !=null and name !=''">
            AND concat(r.SURNAME,r.NAME) like #{name}
        </if>
        <if test="namePy !=null and namePy !=''">
            AND r.PY like #{namePy}
        </if>
        and r.RF_B0000 = #{orgId}
        and t.SECRET_RELATED_LEVEL is not null
        and r.INCUMBENCY_STATUS = '1'
  </select>

  <update id="updateSmrPersonList" parameterType="java.util.List">
      update oms_smr_personinfo
      <set>
          <if test="isDeleted != null">
              IS_DELETED = #{isDeleted,jdbcType=CHAR},
          </if>
          <if test="modifyUser != null">
              MODIFY_USER = #{modifyUser,jdbcType=VARCHAR},
          </if>
          <if test="modifyTime != null">
              MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
          </if>
          <if test="timeStamp != null">
              TIME_STAMP = #{timeStamp,jdbcType=VARBINARY},
          </if>
          <if test="nodeId != null">
              NODE_ID = #{nodeId,jdbcType=VARCHAR},
          </if>
          <if test="title != null">
              TITLE = #{title,jdbcType=VARCHAR},
          </if>
          <if test="messageNumber != null">
              MESSAGE_NUMBER = #{messageNumber,jdbcType=VARCHAR},
          </if>
          <if test="message != null">
              MESSAGE = #{message,jdbcType=VARCHAR},
          </if>
          <if test="ngr != null">
              NGR = #{ngr,jdbcType=VARCHAR},
          </if>
          <if test="ngsj != null">
              NGSJ = #{ngsj,jdbcType=VARCHAR},
          </if>
          <if test="fwsj != null">
              FWSJ = #{fwsj,jdbcType=VARCHAR},
          </if>
          <if test="zsdw != null">
              ZSDW = #{zsdw,jdbcType=VARCHAR},
          </if>
          <if test="csdw != null">
              CSDW = #{csdw,jdbcType=VARCHAR},
          </if>
          <if test="cfdw != null">
              CFDW = #{cfdw,jdbcType=VARCHAR},
          </if>
          <if test="fwlx != null">
              FWLX = #{fwlx,jdbcType=VARCHAR},
          </if>
      </set>
      where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>