<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.passportCard.certificateManage.mapper.OmsCerManageMapper">
  <select id="selectCerInfo" resultType="com.hxoms.modules.passportCard.certificateManage.entity.parameterEntity.CerManageInfo">
    SELECT
        a.id,
        a.name,
        if(a.sex='1','男',if(a.sex='2','女',a.sex)) sex,
        b.work_unit workUnit,
        b.incumbency_status incumbencyStatus,
      (
      SELECT
        item.item_name
      FROM
      sys_dict_item item
      WHERE
      item.dict_code = 'ZZZT'
      AND b.incumbency_status= item.item_code
      )
      AS incumbencyStatusName,
        b.post,
        a.zjlx,
        (SELECT item.item_name FROM sys_dict_item item WHERE item.dict_code = 'ZJLX' AND a.zjlx= item.item_code) zjlxName,
        a.xplx,
        if(a.xplx='0','自带',if(a.xplx='1','粘贴',a.xplx)) xplxName,
        a.zjxs,
    (
    SELECT
    item.item_name
    FROM
    sys_dict_item item
    WHERE
    item.dict_code = 'ZJXS'
    AND a.zjxs= item.item_code
    )
    AS zjxsName,
        a.zjhm,
        a.yxqz,
        a.surely_Unit surelyUnit,
    if(a.surely_Unit='0','干部监督处',if(a.surely_Unit='1','省委统战部(台办)',a.surely_Unit)) surelyUnitName,
        a.card_Status cardStatus,
    (
    SELECT
    item.item_name
    FROM
    sys_dict_item item
    WHERE
    item.dict_code = 'ZJZT'
    AND a.card_Status= item.item_code
    )
    AS cardStatusName,
        a.save_Status saveStatus,
    (
    SELECT
    item.item_name
    FROM
    sys_dict_item item
    WHERE
    item.dict_code = 'ZZBGZT'
    AND a.save_Status= item.item_code
    )
    AS saveStatusName,
        a.surely_Way surelyWay,
    (
    SELECT
    item.item_name
    FROM
    sys_dict_item item
    WHERE
    item.dict_code = 'ZZBGFS'
    AND a.surely_Way= item.item_code
    )
    AS surelyWayName,
        a.cabinet_Num cabinetNum,
        a.place,
        a.counter_num counterNum,
        a.csrq,
        a.qfjg,
        a.qfrq,
        a.csdd,
        a.exception_Message exceptionMessage
    FROM
        cf_certificate a
    INNER JOIN oms_reg_procpersoninfo b ON a.oms_id = b.id
    <where>
      <if test="name!=null and name!=''">
        a.name=#{name}
      </if>
      <if test="rfB0000!=null and rfB0000!=''">
        AND b.rf_B0000=#{rfB0000}
      </if>
      <if test="zjlx!=null">
        AND a.zjlx=#{zjlx}
      </if>
      <if test="zjhm!=null and zjhm!=''">
        AND a.zjhm=#{zjhm}
      </if>
      <if test="yxqz!=null">
        AND a.yxqz=#{yxqz}
      </if>
      <if test="saveStatus!=null and saveStatus!=''">
        AND a.save_Status=#{saveStatus}
      </if>
      <if test="cardStatus!=null and cardStatus!=''">
        AND a.card_Status=#{cardStatus}
      </if>
      <if test="zjxs!=null and zjxs!=''">
        AND a.zjxs=#{zjxs}
      </if>
      <if test="xplx!=null and xplx!=''">
        AND a.xplx=#{xplx}
      </if>

<!--WQF ADD 勾选查询使用-->
    <if test="ids!=null">
      AND a.id in
      <foreach collection="ids" index="index" item="item" open="("
               separator="," close=")">
        #{item}
      </foreach>
    </if>

    </where>
  </select>

  <select id="selectIsExist" resultType="java.lang.String">
    SELECT
        1 from cf_certificate
    WHERE
        zjlx = #{zjlx}
    AND zjhm = #{zjhm}
  </select>
  <select id="selectRegPerson" resultType="com.hxoms.modules.passportCard.certificateManage.entity.parameterEntity.RegProcpersoninfo">
    SELECT
    ID id,
    A0100 a0100,
    SURNAME surname,
    NAME name,
    if(SEX='1','男',if(SEX='2','女',SEX)) sex,
    NATION_NAME nationName,
    BIRTH_DATE birthDate,
    IDNUMBER_GB idnumberGb,
    REGISTE_RESIDENCE registeResidence,
    POLITICAL_AFFINAME politicalAffiname,
    (select item_name from sys_dict_item where dict_code='ZZZT' and item_code=INCUMBENCY_STATUS) incumbencyStatus,
    WORK_UNIT workUnit,
    POST post,
    LICENCE_IDENTITY licenceIdentity
    FROM
    oms_reg_procpersoninfo
    WHERE  CONCAT(SURNAME, NAME) = #{name}
    AND BIRTH_DATE = DATE_FORMAT(#{csrq},'%Y-%m-%d')
    AND CHECK_STATUS='1'
  </select>
</mapper>