<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.passportCard.certificateManage.mapper.OmsCerManageMapper">
  <select id="selectCerInfo" resultType="com.hxoms.modules.passportCard.certificateManage.entity.parameterEntity.CerManageInfo">
    SELECT
        a.id,
        a.name,
        a.sex,
        b.work_unit workUnit,
        b.incumbency_status incumbencyStatus,
      (
      SELECT
        item.item_name
      FROM
      sys_dict_item item
      WHERE
      item.dict_code = 'ZZZT'
      AND b.incumbency_status= item.item_code
      )
      AS incumbencyStatusName,
        b.post,
        a.zjlx,
        a.xplx,
        a.zjxs,
    (
    SELECT
    item.item_name
    FROM
    sys_dict_item item
    WHERE
    item.dict_code = 'ZJXS'
    AND a.zjxs= item.item_code
    )
    AS zjxsName,
        a.zjhm,
        a.yxqz,
        a.surely_Unit surelyUnit,
        a.card_Status cardStatus,
    (
    SELECT
    item.item_name
    FROM
    sys_dict_item item
    WHERE
    item.dict_code = 'ZJZT'
    AND a.card_Status= item.item_code
    )
    AS cardStatus,
        a.save_Status saveStatus,
    (
    SELECT
    item.item_name
    FROM
    sys_dict_item item
    WHERE
    item.dict_code = 'ZZBGZT'
    AND a.save_Status= item.item_code
    )
    AS saveStatusName,
        a.surely_Way surelyWay,
    (
    SELECT
    item.item_name
    FROM
    sys_dict_item item
    WHERE
    item.dict_code = 'ZZBGFS'
    AND a.surely_Way= item.item_code
    )
    AS surelyWayName,
        a.cabinet_Num cabinetNum,
        a.place,
        a.counter_num counterNum,
        a.csrq,
        a.qfjg,
        a.qfrq,
        a.csdd,
        a.exception_Message exceptionMessage
    FROM
        cf_certificate a
    INNER JOIN oms_reg_procpersoninfo b ON a.oms_id = b.id
    <where>
      <if test="name!=null">
        a.name=#{name}
      </if>
      <if test="rfB0000!=null">
        AND b.rf_B0000=#{rfB0000}
      </if>
      <if test="zjlx!=null">
        AND a.zjlx=#{zjlx}
      </if>
      <if test="zjhm!=null">
        AND a.zjhm=#{zjhm}
      </if>
      <if test="yxqz!=null">
        AND a.yxqz=#{yxqz}
      </if>
      <if test="saveStatus!=null">
        AND a.save_Status=#{saveStatus}
      </if>
      <if test="cardStatus!=null">
        AND a.card_Status=#{cardStatus}
      </if>
      <if test="zjxs!=null">
        AND a.zjxs=#{zjxs}
      </if>
      <if test="xplx!=null">
        AND a.xplx=#{xplx}
      </if>
    </where>
  </select>

  <select id="selectIsExist" resultType="java.lang.String">
    SELECT
        1 fron cf_certificate
    WHERE
        zjlx = #{zjlx}
    AND zjhm = #{zjhm};
  </select>
  <select id="selectRegPerson" resultType="com.hxoms.modules.passportCard.certificateManage.entity.parameterEntity.RegProcpersoninfo">
    SELECT
    ID id,
    A0100 a0100,
    SURNAME surname,
    NAME name,
    if(SEX='1','男',if(SEX='2','女',SEX)) sex,
    NATION_NAME nationName,
    BIRTH_DATE birthDate,
    IDNUMBER_GB idnumberGb,
    REGISTE_RESIDENCE registeResidence,
    POLITICAL_AFFINAME politicalAffiname,
    (select item_name from sys_dict_item where dict_code='ZZZT' and item_code=INCUMBENCY_STATUS) incumbencyStatus,
    WORK_UNIT workUnit,
    POST post,
    LICENCE_IDENTITY licenceIdentity
    FROM
    oms_reg_procpersoninfo
    WHERE  CONCAT(SURNAME, NAME) = #{name}
    AND BIRTH_DATE = DATE_FORMAT(#{csrq},'%Y-%m-%d')
    AND CHECK_STATUS='1'
  </select>
</mapper>