<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.publicity.mapper.OmsPubApplyMapper">
    <resultMap id="BaseResultMap" type="com.hxoms.modules.publicity.entity.OmsPubApply">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="PROCPERSON_ID" jdbcType="VARCHAR" property="procpersonId" />
        <result column="A0100" jdbcType="VARCHAR" property="a0100" />
        <result column="B0100" jdbcType="VARCHAR" property="b0100" />
        <result column="YSP_ID" jdbcType="VARCHAR" property="yspId" />
        <result column="YSPDW_ID" jdbcType="VARCHAR" property="yspdwId" />
        <result column="AGE" jdbcType="VARCHAR" property="age" />
        <result column="POLITICAL_AFF" jdbcType="VARCHAR" property="politicalAff" />
        <result column="JOB" jdbcType="VARCHAR" property="job" />
        <result column="HEALTH" jdbcType="VARCHAR" property="health" />
        <result column="SFSMRY" jdbcType="CHAR" property="sfsmry" />
        <result column="SMDJ" jdbcType="VARCHAR" property="smdj" />
        <result column="NSSJ" jdbcType="DATE" property="nssj" />
        <result column="YSMDJ1" jdbcType="VARCHAR" property="ysmdj1" />
        <result column="YTMJSSJ1" jdbcType="DATE" property="ytmjssj1" />
        <result column="YSMDJ2" jdbcType="VARCHAR" property="ysmdj2" />
        <result column="YTMJSSJ2" jdbcType="DATE" property="ytmjssj2" />
        <result column="ZTDW" jdbcType="VARCHAR" property="ztdw" />
        <result column="ZTNRZW" jdbcType="VARCHAR" property="ztnrzw" />
        <result column="CGSJ" jdbcType="DATE" property="cgsj" />
        <result column="HGSJ" jdbcType="DATE" property="hgsj" />
        <result column="SDGJ" jdbcType="VARCHAR" property="sdgj" />
        <result column="TLSJ" jdbcType="VARCHAR" property="tlsj" />
        <result column="CFRW" jdbcType="VARCHAR" property="cfrw" />
        <result column="CFSY" jdbcType="VARCHAR" property="cfsy" />
        <result column="CGSPDW" jdbcType="VARCHAR" property="cgspdw" />
        <result column="PWH" jdbcType="VARCHAR" property="pwh" />
        <result column="ZYPWH" jdbcType="VARCHAR" property="zypwh" />
        <result column="ZJCGQK" jdbcType="VARCHAR" property="zjcgqk" />
        <result column="SJCGSJ" jdbcType="DATE" property="sjcgsj" />
        <result column="SJHGSJ" jdbcType="DATE" property="sjhgsj" />
        <result column="NFGS" jdbcType="CHAR" property="nfgs" />
        <result column="SFYSP" jdbcType="CHAR" property="sfysp" />
        <result column="SFZQJWYJ" jdbcType="CHAR" property="sfzqjwyj" />
        <result column="SCZQJWYJSJ" jdbcType="DATE" property="sczqjwyjsj" />
        <result column="SFBCZQJWYJ" jdbcType="CHAR" property="sfbczqjwyj" />
        <result column="JWJL" jdbcType="CHAR" property="jwjl" />
        <result column="CLSHSFTG" jdbcType="CHAR" property="clshsftg" />
        <result column="JDCJL" jdbcType="CHAR" property="jdcjl" />
        <result column="SFZYLD" jdbcType="CHAR" property="sfzyld" />
        <result column="SFLG" jdbcType="CHAR" property="sflg" />
        <result column="POZNSJD" jdbcType="CHAR" property="poznsjd" />
        <result column="FMXX" jdbcType="VARCHAR" property="fmxx" />
        <result column="DWJSXS" jdbcType="CHAR" property="dwjsxs" />
        <result column="ZZJL" jdbcType="CHAR" property="zzjl" />
        <result column="CXYY" jdbcType="VARCHAR" property="cxyy" />
        <result column="SFTSRY" jdbcType="CHAR" property="sftsry" />
        <result column="SFZB" jdbcType="CHAR" property="sfzb" />
        <result column="SFBG" jdbcType="CHAR" property="sfbg" />
        <result column="SQZT" jdbcType="INTEGER" property="sqzt" />
        <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
        <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
        <result column="MODIFY_USER" jdbcType="VARCHAR" property="modifyUser" />
        <result column="MODIFY_TIME" jdbcType="DATE" property="modifyTime" />
        <result column="SORT_ID" jdbcType="INTEGER" property="sortId" />
        <result column="BAH" jdbcType="VARCHAR" property="bah" />
        <result column="SFXD" jdbcType="INTEGER" property="sfxd" />
        <result column="LEADER_BATCH_ID" jdbcType="VARCHAR" property="leaderBatchId" />
        <result column="IS_COMPARISON" jdbcType="CHAR" property="isComparison" />
        <result column="ABROAD_PHONE" jdbcType="VARCHAR" property="abroadPhone" />
        <result column="BZ" jdbcType="VARCHAR" property="bz" />
        <result column="SOURCE" jdbcType="VARCHAR" property="source" />
        <result column="IS_ENTRUST" jdbcType="INTEGER" property="isEntrust" />
        <result column="IS_HXPZWJ" jdbcType="INTEGER" property="isHxpzwj" />
    </resultMap>
    <sql id="Base_Column_List">
    ID, PROCPERSON_ID, A0100, B0100, YSP_ID, YSPDW_ID, AGE, POLITICAL_AFF, JOB, HEALTH,
    SFSMRY, SMDJ, NSSJ, YSMDJ1, YTMJSSJ1, YSMDJ2, YTMJSSJ2, ZTDW, ZTNRZW, CGSJ, HGSJ,
    SDGJ, TLSJ, CFRW, CFSY, CGSPDW, PWH, ZYPWH, ZJCGQK, SJCGSJ, SJHGSJ, NFGS, SFYSP,
    SFZQJWYJ, SCZQJWYJSJ, SFBCZQJWYJ, JWJL, CLSHSFTG, JDCJL, SFZYLD, SFLG, POZNSJD, FMXX,
    DWJSXS, ZZJL, CXYY, SFTSRY, SFZB, SFBG, SQZT, CREATE_USER, CREATE_TIME, MODIFY_USER,
    MODIFY_TIME, SORT_ID, BAH, SFXD, LEADER_BATCH_ID, IS_COMPARISON, ABROAD_PHONE, BZ,
    SOURCE, IS_ENTRUST, IS_HXPZWJ
  </sql>
    <update id="repealAllPubApplyByPwh">
        update oms_pub_apply p
        <set>
            <if test="cxyy != null and cxyy != ''">
                p.CXYY = #{cxyy},
            </if>
            <if test="sqzt != null and sqzt !=''">
                p.SQZT = #{sqzt}
            </if>
        </set>
        where p.PWH = #{pwh}
    </update>
    <update id="repealPubApplyById">
        update oms_pub_apply p
        <set>
            <if test="cxyy != null and cxyy != ''">
                p.CXYY = #{cxyy},
            </if>
            <if test="sqzt != null and sqzt !=''">
                p.SQZT = #{sqzt},
            </if>
            p.SFBG = "1"
        </set>
        where p.ID = #{id}
    </update>
    <update id="updateByPwh">
        update oms_pub_apply
        <set>
            <if test="procpersonId != null">
                PROCPERSON_ID = #{procpersonId,jdbcType=VARCHAR},
            </if>
            <if test="a0100 != null">
                A0100 = #{a0100,jdbcType=VARCHAR},
            </if>
            <if test="b0100 != null">
                B0100 = #{b0100,jdbcType=VARCHAR},
            </if>
            <if test="yspId != null">
                YSP_ID = #{yspId,jdbcType=VARCHAR},
            </if>
            <if test="yspdwId != null">
                YSPDW_ID = #{yspdwId,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                AGE = #{age,jdbcType=VARCHAR},
            </if>
            <if test="politicalAff != null">
                POLITICAL_AFF = #{politicalAff,jdbcType=VARCHAR},
            </if>
            <if test="job != null">
                JOB = #{job,jdbcType=VARCHAR},
            </if>
            <if test="health != null">
                HEALTH = #{health,jdbcType=VARCHAR},
            </if>
            <if test="sfsmry != null">
                SFSMRY = #{sfsmry,jdbcType=CHAR},
            </if>
            <if test="smdj != null">
                SMDJ = #{smdj,jdbcType=VARCHAR},
            </if>
            <if test="nssj != null">
                NSSJ = #{nssj,jdbcType=DATE},
            </if>
            <if test="ysmdj1 != null">
                YSMDJ1 = #{ysmdj1,jdbcType=VARCHAR},
            </if>
            <if test="ytmjssj1 != null">
                YTMJSSJ1 = #{ytmjssj1,jdbcType=DATE},
            </if>
            <if test="ysmdj2 != null">
                YSMDJ2 = #{ysmdj2,jdbcType=VARCHAR},
            </if>
            <if test="ytmjssj2 != null">
                YTMJSSJ2 = #{ytmjssj2,jdbcType=DATE},
            </if>
            <if test="ztdw != null">
                ZTDW = #{ztdw,jdbcType=VARCHAR},
            </if>
            <if test="ztnrzw != null">
                ZTNRZW = #{ztnrzw,jdbcType=VARCHAR},
            </if>
            <if test="cgsj != null">
                CGSJ = #{cgsj,jdbcType=DATE},
            </if>
            <if test="hgsj != null">
                HGSJ = #{hgsj,jdbcType=DATE},
            </if>
            <if test="sdgj != null">
                SDGJ = #{sdgj,jdbcType=VARCHAR},
            </if>
            <if test="tlsj != null">
                TLSJ = #{tlsj,jdbcType=VARCHAR},
            </if>
            <if test="cfrw != null">
                CFRW = #{cfrw,jdbcType=VARCHAR},
            </if>
            <if test="cfsy != null">
                CFSY = #{cfsy,jdbcType=VARCHAR},
            </if>
            <if test="cgspdw != null">
                CGSPDW = #{cgspdw,jdbcType=VARCHAR},
            </if>
            <if test="pwh != null">
                PWH = #{pwh,jdbcType=VARCHAR},
            </if>
            <if test="zypwh != null">
                ZYPWH = #{zypwh,jdbcType=VARCHAR},
            </if>
            <if test="zjcgqk != null">
                ZJCGQK = #{zjcgqk,jdbcType=VARCHAR},
            </if>
            <if test="sjcgsj != null">
                SJCGSJ = #{sjcgsj,jdbcType=DATE},
            </if>
            <if test="sjhgsj != null">
                SJHGSJ = #{sjhgsj,jdbcType=DATE},
            </if>
            <if test="nfgs != null">
                NFGS = #{nfgs,jdbcType=CHAR},
            </if>
            <if test="sfysp != null">
                SFYSP = #{sfysp,jdbcType=CHAR},
            </if>
            <if test="sfzqjwyj != null">
                SFZQJWYJ = #{sfzqjwyj,jdbcType=CHAR},
            </if>
            <if test="sczqjwyjsj != null">
                SCZQJWYJSJ = #{sczqjwyjsj,jdbcType=DATE},
            </if>
            <if test="sfbczqjwyj != null">
                SFBCZQJWYJ = #{sfbczqjwyj,jdbcType=CHAR},
            </if>
            <if test="jwjl != null">
                JWJL = #{jwjl,jdbcType=CHAR},
            </if>
            <if test="clshsftg != null">
                CLSHSFTG = #{clshsftg,jdbcType=CHAR},
            </if>
            <if test="jdcjl != null">
                JDCJL = #{jdcjl,jdbcType=CHAR},
            </if>
            <if test="sfzyld != null">
                SFZYLD = #{sfzyld,jdbcType=CHAR},
            </if>
            <if test="sflg != null">
                SFLG = #{sflg,jdbcType=CHAR},
            </if>
            <if test="poznsjd != null">
                POZNSJD = #{poznsjd,jdbcType=CHAR},
            </if>
            <if test="fmxx != null">
                FMXX = #{fmxx,jdbcType=VARCHAR},
            </if>
            <if test="dwjsxs != null">
                DWJSXS = #{dwjsxs,jdbcType=CHAR},
            </if>
            <if test="zzjl != null">
                ZZJL = #{zzjl,jdbcType=CHAR},
            </if>
            <if test="cxyy != null">
                CXYY = #{cxyy,jdbcType=VARCHAR},
            </if>
            <if test="sftsry != null">
                SFTSRY = #{sftsry,jdbcType=CHAR},
            </if>
            <if test="sfzb != null">
                SFZB = #{sfzb,jdbcType=CHAR},
            </if>
            <if test="sfbg != null">
                SFBG = #{sfbg,jdbcType=CHAR},
            </if>
            <if test="sqzt != null">
                SQZT = #{sqzt,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                CREATE_USER = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=DATE},
            </if>
            <if test="modifyUser != null">
                MODIFY_USER = #{modifyUser,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=DATE},
            </if>
            <if test="sortId != null">
                SORT_ID = #{sortId,jdbcType=INTEGER},
            </if>
            <if test="bah != null">
                BAH = #{bah,jdbcType=VARCHAR},
            </if>
            <if test="sfxd != null">
                SFXD = #{sfxd,jdbcType=INTEGER},
            </if>
            <if test="leaderBatchId != null">
                LEADER_BATCH_ID = #{leaderBatchId,jdbcType=VARCHAR},
            </if>
            <if test="isComparison != null">
                IS_COMPARISON = #{isComparison,jdbcType=CHAR},
            </if>
            <if test="abroadPhone != null">
                ABROAD_PHONE = #{abroadPhone,jdbcType=VARCHAR},
            </if>
            <if test="bz != null">
                BZ = #{bz,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                SOURCE = #{source,jdbcType=VARCHAR},
            </if>
            <if test="isEntrust != null">
                IS_ENTRUST = #{isEntrust,jdbcType=INTEGER},
            </if>
            <if test="isHxpzwj != null">
                IS_HXPZWJ = #{isHxpzwj,jdbcType=INTEGER},
            </if>
        </set>
        where PWH = #{pwh,jdbcType=VARCHAR}
    </update>
    <delete id="deletePubApplyById">
        delete from oms_pub_apply
        where ID = #{id}
    </delete>
    <delete id="deletePubApplyByYSPId">
        delete from oms_pub_apply
        where YSP_ID = #{id}
    </delete>

    <select id="selectPersonListByOrg" resultType="com.hxoms.modules.publicity.entity.PersonInfoVO">
        select orp.IDNUMBER_GB as idnumber,
               orp.id as procpersonId,
               orp.A0100 as a0100,
               orp.SEX as sex,
               CONCAT(IFNULL(orp.SURNAME,''),IFNULL(orp.NAME,'')) as name,
               orp.BIRTH_DATE_GB as birthDate,
               orp.POST as job,
               orp.RF_B0000 as b0111,
               orp.WORK_UNIT as b0101,
               orp.POLITICAL_AFFINAME as POLITICAL_AFFI,
               orp.NATION_NAME as NATION,
               orp.INCUMBENCY_STATUS as status,
               op.SECRET_REVIEW_DATE as SECRET_REVIEW_DATE,
               b.b0100 as b0100
        from oms_reg_procpersoninfo orp
        LEFT JOIN b01 b ON b.b0100 = orp.RF_B0000
        LEFT JOIN oms_smr_personinfo op
        ON orp.id = op.PROC_PERSON_ID
        <where>
            <if test="b0100 != null and b0100.size>0">
                and b.b0100 in
                <foreach collection="b0100" item="b0100" separator="," open="(" close=")">
                    #{b0100}
                </foreach>
            </if>
            <if test="keyword != null and keyword != ''">
                and (CONCAT(IFNULL(orp.SURNAME,''),IFNULL(orp.NAME,'')) like CONCAT('%',#{keyword},'%')
                or orp.PY like CONCAT('%',#{keyword},'%'))
            </if>
        </where>
  </select>
    <select id="selectBasePersonInfo" resultType="java.util.Map">
        select distinct concat(IFNULL(p.SURNAME,''),IFNULL(p.NAME,'')) as NAME ,
         p.id as procpersonId ,
         p.SEX as SEX ,
         p.BIRTH_DATE_GB as BIRTH_DATE_GB ,
         CONCAT(TIMESTAMPDIFF(YEAR,p.BIRTH_DATE_GB,DATE_FORMAT(NOW(), '%Y.%m.%d')),'') as AGE ,
         p.POLITICAL_AFFINAME as POLITICAL_AFFINAME ,
         p.A0100 as A0100 ,
         p.SECRET_LEVEL as SECRET_LEVEL ,
         p.NF as NF ,
         p.POST as JOB ,
         i.B0100 as B0100 ,
         i.B0101 as B0101 ,
         op.SECRET_REVIEW_DATE as SECRET_REVIEW_DATE
         FROM oms_reg_procpersoninfo p
         LEFT JOIN b01 i ON  i.b0100 = p.RF_B0000
         LEFT JOIN oms_smr_personinfo op
         ON p.id = op.PROC_PERSON_ID
         where i.b0100=#{b0100} and p.a0100=#{a0100}
    </select>
    <select id="selectPubAbroadLatestInfo" resultType="com.hxoms.modules.publicity.entity.OmsPubApply">
        select * from oms_pub_apply p where p.cgsj
        =(select max(cgsj) from oms_pub_apply where a0100=#{a0100})
        and a0100 = #{a0100}
    </select>

    <select id="selectCheckCondition" resultType="com.hxoms.modules.condition.entity.OmsCondition">
    select * from oms_condition where condition_type=#{conditionType}
  </select>
    <select id="excuteSelectSql" resultType="java.lang.Integer">
        ${sql}
    </select>
    <select id="selectPubApplyList" resultType="com.hxoms.modules.publicity.entity.OmsPubApplyVO">
        select
        oms_pub_apply.ID
        ,oms_pub_apply.CGSJ
        ,oms_pub_apply.HGSJ
        ,oms_pub_apply.CFRW
        ,oms_pub_apply.SDGJ
        ,oms_pub_apply.CFSY
        ,oms_pub_apply.JOB
        ,oms_pub_apply.CREATE_TIME
        ,oms_pub_apply.SMDJ
        ,oms_pub_apply.FMXX
        ,oms_pub_apply.SFBG
        ,GETDICTITEM('37',oms_pub_apply.sflg,'0') as "SFLG"
        ,GETDICTITEM('37',oms_pub_apply.sfzyld,'0') as "SFZYLD"
        ,GETDICTITEM('37',oms_pub_apply.sfbg,'0') as "SFBG"
        ,GETDICTITEM('37',oms_pub_apply.SFZYLD,'0') as "SFZYLD"
        ,GETDICTITEM('300',oms_pub_apply.SQZT,'0') as "SQZT"
        ,concat(oms_reg_procpersoninfo.surname,oms_reg_procpersoninfo.name) as "NAME"
        ,oms_reg_procpersoninfo.SEX
        ,oms_reg_procpersoninfo.BIRTH_DATE_GB
        ,oms_reg_procpersoninfo.NATION_NAME
        ,oms_reg_procpersoninfo.POLITICAL_AFFINAME
        ,oms_reg_procpersoninfo.WORK_UNIT as b0101
        from oms_pub_apply
        inner join oms_b01_temp on oms_pub_apply.b0100=oms_b01_temp.b0100
        left join oms_reg_procpersoninfo on oms_pub_apply.PROCPERSON_ID=oms_reg_procpersoninfo.ID
        where oms_b01_temp.batch_id=#{batchId} and oms_pub_apply.SQZT!='0'
        order by oms_pub_apply.SQZT,oms_pub_apply.cgsj
    </select>
    <select id="selectPersonInfoByApplyId" resultType="java.util.Map">
        select concat(b.SURNAME,b.name) as "NAME"
        ,b.SEX
        ,b.BIRTH_DATE_GB
        ,a.POLITICAL_AFF
        ,b1.B0101
        ,a.JOB
        ,a.HEALTH
        ,GETDICTITEM('37',a.SFSMRY,'0') as "SFSMRY"
        ,a.SMDJ
        ,a.NSSJ
        ,a.YSMDJ1
        ,a.YTMJSSJ1
        ,a.YSMDJ2
        ,a.YTMJSSJ2
        ,a.ZTDW
        ,a.ZTNRZW
        ,a.CGSJ
        ,a.HGSJ
        ,a.SDGJ
        ,a.TLSJ
        ,a.CFRW
        ,a.CGSPDW
        ,a.PWH
        ,a.ZJCGQK
        from oms_pub_apply a inner join oms_reg_procpersoninfo b
        on a.PROCPERSON_ID=b.ID
        inner join b01 b1 on a.b0100=b1.b0100
        where a.id=#{applyId}
    </select>
    <select id="selectById" resultType="com.hxoms.modules.publicity.entity.OmsPubApplyVO">
        select concat(r.SURNAME,r.name) as "NAME",r.SEX,r.BIRTH_DATE_GB,b.B0101
        ,o.* from oms_pub_apply o inner join oms_reg_procpersoninfo r
        on o.PROCPERSON_ID=r.ID
        inner join b01 b on o.b0100=b.b0100
        where o.id=#{id}
    </select>
    <select id="getPubAppListByCondition" resultType="com.hxoms.modules.publicity.entity.OmsPubApplyVO" parameterType="com.hxoms.modules.publicity.entity.OmsPubApplyQueryParam">
        select
        oms_pub_apply.*
        ,concat(oms_reg_procpersoninfo.surname,oms_reg_procpersoninfo.name) as "NAME"
        ,oms_reg_procpersoninfo.SEX as sex
        ,oms_reg_procpersoninfo.BIRTH_DATE_GB as birthDate
        ,oms_reg_procpersoninfo.NATION_NAME
        ,oms_reg_procpersoninfo.POLITICAL_AFFINAME
        ,oms_reg_procpersoninfo.WORK_UNIT as b0101

        ,oms_reg_procpersoninfo.SECRET_LEVEL AS SECRET_LEVEL
        ,op.SECRET_REVIEW_DATE AS SECRET_REVIEW_DATE
        ,oms_reg_procpersoninfo.NF AS NF
        from oms_pub_apply
        left join oms_reg_procpersoninfo on oms_pub_apply.PROCPERSON_ID=oms_reg_procpersoninfo.ID
        LEFT JOIN oms_smr_personinfo op ON oms_reg_procpersoninfo.id = op.PROC_PERSON_ID
        where oms_pub_apply.SFXD = '1'
            <if test="omsPubApplyQueryParam.applyId != null and omsPubApplyQueryParam.applyId != ''">
                and oms_pub_apply.ID = #{omsPubApplyQueryParam.applyId}
            </if>
              <if test="omsPubApplyQueryParam.status != null and omsPubApplyQueryParam.status.size>0">
                  and oms_pub_apply.SQZT in
                    <foreach collection="omsPubApplyQueryParam.status" item="status" separator="," open="(" close=")">
                        #{status}
                    </foreach>
              </if>
            <if test="omsPubApplyQueryParam.name != null and omsPubApplyQueryParam.name!= ''">
                and concat(oms_reg_procpersoninfo.surname,oms_reg_procpersoninfo.name) like CONCAT('%',#{omsPubApplyQueryParam.name},'%')
            </if>
            <if test="omsPubApplyQueryParam.cgsj != null">
                <![CDATA[ and oms_pub_apply.CGSJ >= to_date(#{omsPubApplyQueryParam.cgsj,jdbcType=DATE},'yyyy-MM-dd hh24:mi:ss')]]>
            </if>
            <if test="omsPubApplyQueryParam.hgsj != null">
                <![CDATA[ and oms_pub_apply.CGSJ <= to_date(#{omsPubApplyQueryParam.hgsj,jdbcType=DATE},'yyyy-MM-dd hh24:mi:ss')]]>
            </if>
            <if test="omsPubApplyQueryParam.ztdw != null and omsPubApplyQueryParam.ztdw!= ''">
                and oms_pub_apply.ZTDW = #{omsPubApplyQueryParam.ztdw}
            </if>
            <if test="omsPubApplyQueryParam.pwh != null and omsPubApplyQueryParam.pwh != ''">
                and oms_pub_apply.pwh like CONCAT('%',#{omsPubApplyQueryParam.pwh},'%')
            </if>
            <if test="omsPubApplyQueryParam.b0100 != null and omsPubApplyQueryParam.b0100 != ''">
                and oms_pub_apply.b0100 = #{omsPubApplyQueryParam.b0100}
            </if>
            <if test="omsPubApplyQueryParam.procpersonId != null and omsPubApplyQueryParam.procpersonId != ''">
                and oms_pub_apply.PROCPERSON_ID = #{omsPubApplyQueryParam.procpersonId}
            </if>
            <if test="omsPubApplyQueryParam.isComparison != null and omsPubApplyQueryParam.isComparison != ''">
                and oms_pub_apply.IS_COMPARISON = #{omsPubApplyQueryParam.isComparison}
            </if>
    </select>
    <select id="selectPubApplyListByPwh" resultType="com.hxoms.modules.publicity.entity.OmsPubApplyVO">
        select
        oms_pub_apply.*
        ,concat(oms_reg_procpersoninfo.surname,oms_reg_procpersoninfo.name) as "NAME"
        ,oms_reg_procpersoninfo.SEX
        ,oms_reg_procpersoninfo.BIRTH_DATE_GB
        ,oms_reg_procpersoninfo.NATION_CODE
        ,oms_reg_procpersoninfo.POLITICAL_AFFINAME
        ,oms_reg_procpersoninfo.WORK_UNIT as b0101
        ,oms_reg_procpersoninfo.REGISTE_RESIDENCE as REGISTE_RESIDENCE
        from oms_pub_apply
        left join oms_reg_procpersoninfo on oms_pub_apply.PROCPERSON_ID=oms_reg_procpersoninfo.ID
        <where>
            <if test="pwh != null and pwh !=''">
                and oms_pub_apply.PWH = #{pwh}
            </if>
        </where>
    </select>
    <select id="selectByYSPId" resultType="com.hxoms.modules.publicity.entity.OmsPubApplyVO">
        select
        oms_pub_apply.*
        ,concat(oms_reg_procpersoninfo.surname,oms_reg_procpersoninfo.name) as "NAME"
        ,oms_reg_procpersoninfo.SEX
        ,oms_reg_procpersoninfo.BIRTH_DATE_GB as birthDate
        ,oms_reg_procpersoninfo.NATION_CODE
        ,oms_reg_procpersoninfo.POLITICAL_AFFINAME as politicalAff
        ,oms_reg_procpersoninfo.IDNUMBER_GB as idnumber
        ,oms_reg_procpersoninfo.INCUMBENCY_STATUS as status
        ,oms_reg_procpersoninfo.WORK_UNIT as b0101
        from oms_pub_apply
        left join oms_reg_procpersoninfo on oms_pub_apply.PROCPERSON_ID=oms_reg_procpersoninfo.ID
        <where>
            <if test="yspId != null and yspId != ''">
                and oms_pub_apply.YSP_ID = #{yspId}
            </if>
        </where>
    </select>
    <select id="selectPubAllyByStatusAndName" resultType="com.hxoms.modules.publicity.entity.OmsPubApplyVO">
        select
        oms_pub_apply.*
        ,concat(oms_reg_procpersoninfo.surname,oms_reg_procpersoninfo.name) as "NAME"
        ,oms_reg_procpersoninfo.SEX
        ,oms_reg_procpersoninfo.BIRTH_DATE_GB
        ,oms_reg_procpersoninfo.NATION_NAME
        ,oms_reg_procpersoninfo.POLITICAL_AFFINAME
        ,oms_reg_procpersoninfo.WORK_UNIT as b0101
        from oms_pub_apply
        left join oms_reg_procpersoninfo on oms_pub_apply.PROCPERSON_ID=oms_reg_procpersoninfo.ID
        <where>
            <if test="createUser != null and createUser != ''">
                and oms_pub_apply.CREATE_USER = #{createUser}
            </if>
            <if test="sqzt != null">
                and oms_pub_apply.SQZT <![CDATA[<>]]> #{sqzt}
            </if>
        </where>
    </select>
    <select id="selectPubCountStatus" resultType="com.hxoms.modules.privateabroad.entity.CountStatusResult">
        select "1.填写申请" as label, 1 as statusCode, count(0) as num from oms_pub_apply where SQZT = 1 and SFXD = 1
        union all
        select "2.生成材料" as label, 2 as statusCode, count(0) as num from oms_pub_apply where SQZT = 2 and SFXD = 1
        union all
        select "3.打印材料清单" as label, 3 as statusCode, count(0) as num from oms_pub_apply where SQZT = 3 and SFXD = 1
        union all
        select "4.自评" as label, 5 as statusCode, count(0) as num from oms_pub_apply where SQZT = 5 and SFXD = 1
        union all
        select "5.递交纸质材料" as label, 20 as statusCode, count(0) as num from oms_pub_apply where SQZT = 20 and SFXD = 1
    </select>
    <select id="getPubApplyList" resultType="com.hxoms.modules.publicity.entity.OmsPubApplyVO">
        select
        oms_pub_apply.*
        ,concat(oms_reg_procpersoninfo.surname,oms_reg_procpersoninfo.name) as "NAME"
        ,oms_reg_procpersoninfo.SEX
        ,oms_reg_procpersoninfo.BIRTH_DATE_GB
        ,oms_reg_procpersoninfo.NATION_CODE
        ,oms_reg_procpersoninfo.POLITICAL_AFFINAME
        ,oms_reg_procpersoninfo.WORK_UNIT as b0101
        from oms_pub_apply
        left join oms_reg_procpersoninfo on oms_pub_apply.PROCPERSON_ID=oms_reg_procpersoninfo.ID
        <where>
            <if test="pwh != null and pwh !=''">
                <![CDATA[ and oms_pub_apply.CGSJ >= now()]]>
                and oms_pub_apply.PWH like CONCAT('%',#{pwh},'%')
            </if>
            <if test="sqzt != null">
                and oms_pub_apply.SQZT <![CDATA[<>]]> #{sqzt}
            </if>
        </where>
    </select>
    <select id="getPWHList" resultType="com.hxoms.modules.publicity.entity.PWHTreeVO">
        SELECT SUBSTRING(PWH,5,4) as year ,PWH
        FROM oms_pub_apply
        WHERE
        oms_pub_apply.PWH like CONCAT('%','琼台赴字','%')

        GROUP BY year,PWH ORDER BY year DESC
    </select>
    <select id="selectPersonListForOperator" resultType="com.hxoms.modules.publicity.entity.PersonInfoVO">
        SELECT
            a.a0101 AS NAME,
            a.a0184 AS idnumber,
            a.a0100 AS a0100,
            a.A0104 AS sex,
            a.A0107 AS birthDate,
            a.a0192a AS job,
            b.b0111 AS b0111,
            b.b0101 AS b0101,
            b.b0100 AS b0100,
            `GETDICTITEM` ( '07', `a`.`a0141`, '0' ) AS `POLITICAL_AFFI`,
            `GETDICTITEM` ( '01', `a`.`a0117`, '0' ) AS `NATION`
        FROM
            a01 a
            JOIN a02 a2 ON a2.a0100 = a.a0100 and a2.A0255='1'
            AND a2.a0281 = 'true' and a2.A0279='1'
            JOIN b01 b ON a2.a0201b = b.b0100
        <where>
            <if test="keyword != null and keyword != ''">
                and (a.a0101 like CONCAT('%',#{keyword},'%')
                or  a.a0102 like CONCAT('%',#{keyword},'%'))
            </if>
            <if test="a0165 != null and a0165.size>0">
                and a.a0165 in
                <foreach collection="a0165" item="a0165" separator="," open="(" close=")">
                    #{a0165}
                </foreach>
            </if>
            <if test="b0100 != null and b0100.size>0">
                and b.b0100 in
                <foreach collection="b0100" item="b0100" separator="," open="(" close=")">
                    #{b0100}
                </foreach>
            </if>
        </where>
    </select>
    <select id="selectPersonListForTZQGB" resultType="com.hxoms.modules.publicity.entity.PersonInfoVO">
        SELECT
            a.a0101 AS NAME,
            a.a0184 AS idnumber,
            a.a0100 AS a0100,
            a.A0104 AS sex,
            a.A0107 AS birthDate,
            a.a0192a AS job,
            b.b0111 AS b0111,
            b.b0101 AS b0101,
            b.b0100 AS b0100,
            `GETDICTITEM` ( '07', `a`.`a0141`, '0' ) AS `POLITICAL_AFFI`,
            `GETDICTITEM` ( '01', `a`.`a0117`, '0' ) AS `NATION`
        FROM
            a01 a
            JOIN a02 a2 ON a2.a0100 = a.a0100 and a2.A0255='1'
        AND a2.a0281 = 'true' and a2.A0279='1'
            JOIN b01 b ON a2.a0201b = b.b0100
        WHERE
            a.a0165 = '02'
        <if test="keyword != null and keyword != ''">
            and (a.a0101 like CONCAT('%',#{keyword},'%')
            or  a.a0102 like CONCAT('%',#{keyword},'%'))
        </if>
        <if test="b0100 != null and b0100.size>0">
            and b.b0100 in
            <foreach collection="b0100" item="b0100" separator="," open="(" close=")">
                #{b0100}
            </foreach>
        </if>
    </select>
    <select id="getStNameForGroup" resultType="java.lang.String">
        SELECT
            opg.TZFZR
        FROM oms_pub_group_pre_approval opg
        LEFT JOIN oms_pub_apply opa ON
	        opg.id = opa.YSP_ID
	    <where>
            <if test="a0100 != null and a0100 != ''">
                and opa.ID = #{a0100}
            </if>
        </where>
    </select>
    <select id="getStNameForPub" resultType="java.lang.String">
        SELECT
            CONCAT( IFNULL( orp.SURNAME, '' ), IFNULL( orp.NAME, '' ) ) AS NAME
        FROM
            oms_pub_apply opa,
            (
            SELECT
                *
            FROM
                oms_pub_apply o1
            WHERE
                o1.PWH IN ( SELECT PWH FROM oms_pub_apply WHERE
                <if test="a0100 != null and a0100 != ''">
                    ID = #{a0100}
                </if>
                 )
                AND o1.ZTNRZW = '团长'
            ) p
            LEFT JOIN oms_reg_procpersoninfo orp ON p.PROCPERSON_ID = orp.ID
        WHERE
            <if test="a0100 != null and a0100 !=''">
                opa.ID = #{a0100}
            </if>
    </select>
    <select id="selectBasePerson" resultType="java.util.Map">
            SELECT DISTINCT
                concat( IFNULL( p.SURNAME, '' ), IFNULL( p.NAME, '' ) ) AS NAME,
                p.id AS procpersonId,
                p.SEX AS SEX,
                p.BIRTH_DATE_GB AS BIRTH_DATE_GB,
                CONCAT( TIMESTAMPDIFF( YEAR, p.BIRTH_DATE_GB, DATE_FORMAT( NOW( ), '%Y.%m.%d' ) ), '' ) AS AGE,
                p.POLITICAL_AFFINAME AS POLITICAL_AFFINAME,
                p.HEALTH AS HEALTH,
                p.A0100 AS A0100,
                p.SECRET_LEVEL AS SECRET_LEVEL,
                p.NF AS NF,
                p.POST AS JOB,
                i.B0100 AS B0100,
                i.B0101 AS B0101,
                op.SECRET_REVIEW_DATE AS SECRET_REVIEW_DATE
            FROM
                oms_reg_procpersoninfo p
                LEFT JOIN b01 i ON i.b0100 = p.RF_B0000
                LEFT JOIN oms_smr_personinfo op ON p.id = op.PROC_PERSON_ID
                LEFT JOIN oms_pub_apply o on o.PROCPERSON_ID = p.id
            WHERE
                o.id=#{id}
    </select>
    <select id="getPubApplyListBy3Year" resultType="com.hxoms.modules.publicity.entity.OmsPubApplyVO">
        select
        oms_pub_apply.*
        ,concat(oms_reg_procpersoninfo.surname,oms_reg_procpersoninfo.name) as "NAME"
        ,oms_reg_procpersoninfo.SEX
        ,oms_reg_procpersoninfo.BIRTH_DATE_GB
        ,oms_reg_procpersoninfo.NATION_CODE
        ,oms_reg_procpersoninfo.POLITICAL_AFFINAME
        ,oms_reg_procpersoninfo.WORK_UNIT as b0101
        from oms_pub_apply
        left join oms_reg_procpersoninfo on oms_pub_apply.PROCPERSON_ID=oms_reg_procpersoninfo.ID
				WHERE
				oms_pub_apply.CGSJ >= DATE_SUB(NOW(),INTERVAL 3 YEAR)
				and
				oms_pub_apply.A0100 = #{a0100}
				and
				oms_pub_apply.CGSJ &lt; NOW()
				and
				oms_pub_apply.sqzt >= 29
				and
				oms_pub_apply.sqzt != 50
    </select>
    <select id="selectPubAllyByParam" resultType="com.hxoms.modules.publicity.entity.OmsPubApplyVO">
        select
        oms_pub_apply.*
        ,concat(oms_reg_procpersoninfo.surname,oms_reg_procpersoninfo.name) as "NAME"
        ,oms_reg_procpersoninfo.SEX
        ,oms_reg_procpersoninfo.BIRTH_DATE_GB
        ,oms_reg_procpersoninfo.NATION_NAME
        ,oms_reg_procpersoninfo.POLITICAL_AFFINAME
        ,oms_reg_procpersoninfo.WORK_UNIT as b0101
        from oms_pub_apply
        left join oms_reg_procpersoninfo on oms_pub_apply.PROCPERSON_ID=oms_reg_procpersoninfo.ID
        <where>
            <if test="omsOperatorJBYWQueryParam.operatorId != null ">
                AND oms_pub_apply.CREATE_USER = #{omsOperatorJBYWQueryParam.operatorId}
            </if>
            <if test="omsOperatorJBYWQueryParam.startTime != null">
                <![CDATA[ and oms_pub_apply.CGSJ >= to_date(#{omsOperatorJBYWQueryParam.startTime,jdbcType=DATE},'yyyy-MM-dd hh24:mi:ss')]]>
            </if>
            <if test="omsOperatorJBYWQueryParam.endTime != null">
                <![CDATA[ and oms_pub_apply.CGSJ <= to_date(#{omsOperatorJBYWQueryParam.endTime,jdbcType=DATE},'yyyy-MM-dd hh24:mi:ss')]]>
            </if>
        </where>

    </select>

    <insert id="insertPubApplyList">
        insert into oms_pub_apply(
        ID, PROCPERSON_ID, A0100, B0100, YSP_ID, YSPDW_ID, AGE, POLITICAL_AFF, JOB, HEALTH,
        SFSMRY, SMDJ, NSSJ, YSMDJ1, YTMJSSJ1, YSMDJ2, YTMJSSJ2, ZTDW, ZTNRZW, CGSJ, HGSJ,
        SDGJ, TLSJ, CFRW, CFSY, CGSPDW, PWH, ZYPWH, ZJCGQK, SJCGSJ, SJHGSJ, NFGS, SFYSP,
        SFZQJWYJ, SCZQJWYJSJ, SFBCZQJWYJ, JWJL, CLSHSFTG, JDCJL, SFZYLD, SFLG, POZNSJD, FMXX,
        DWJSXS, ZZJL, CXYY, SFTSRY, SFZB, SFBG, SQZT, CREATE_USER, CREATE_TIME, MODIFY_USER,
        MODIFY_TIME, SORT_ID, BAH, SFXD, LEADER_BATCH_ID, IS_COMPARISON, ABROAD_PHONE, BZ,SOURCE,IS_ENTRUST,
        IS_HXPZWJ
        )
        values
        <foreach collection="list" item="item" index= "index" separator =",">
            (
            #{item.id},
            #{item.procpersonId},
            #{item.a0100},
            #{item.b0100},
            #{item.yspId},
            #{item.yspdwId},
            #{item.age},
            #{item.politicalAff},
            #{item.job},
            #{item.health},
            #{item.sfsmry},
            #{item.smdj},
            #{item.nssj},
            #{item.ysmdj1},
            #{item.ytmjssj1},
            #{item.ysmdj2},
            #{item.ytmjssj2},
            #{item.ztdw},
            #{item.ztnrzw},
            #{item.cgsj},
            #{item.hgsj},
            #{item.sdgj},
            #{item.tlsj},
            #{item.cfrw},
            #{item.cfsy},
            #{item.cgspdw},
            #{item.pwh},
            #{item.zypwh},
            #{item.zjcgqk},
            #{item.sjcgsj},
            #{item.sjhgsj},
            #{item.nfgs},
            #{item.sfysp},
            #{item.sfzqjwyj},
            #{item.sczqjwyjsj},
            #{item.sfbczqjwyj},
            #{item.jwjl},
            #{item.clshsftg},
            #{item.jdcjl},
            #{item.sfzyld},
            #{item.sflg},
            #{item.poznsjd},
            #{item.fmxx},
            #{item.dwjsxs},
            #{item.zzjl},
            #{item.cxyy},
            #{item.sftsry},
            #{item.sfzb},
            #{item.sfbg},
            #{item.sqzt},
            #{item.createUser},
            #{item.createTime},
            #{item.modifyUser},
            #{item.modifyTime},
            #{item.sortId},
            #{item.bah},
            #{item.sfxd},
            #{item.leaderBatchId},
            #{item.isComparison},
            #{item.abroadPhone},
            #{item.bz},
            #{item.source},
            #{item.isEntrust},
            #{item.isHxpzwj}
            )
        </foreach>
    </insert>

    <update id="updatePubApplyList">
        <foreach collection="list" item="item" index= "index">
            update oms_pub_apply
                <set>
                    id = #{item.id,jdbcType=VARCHAR}
                <if test="item.procpersonId != null">
                    ,PROCPERSON_ID = #{item.procpersonId,jdbcType=VARCHAR}
                </if>
                <if test="item.a0100 != null">
                    ,A0100 = #{item.a0100,jdbcType=VARCHAR}
                </if>
                <if test="item.b0100 != null">
                    ,B0100 = #{item.b0100,jdbcType=VARCHAR}
                </if>
                <if test="item.yspId != null">
                    ,YSP_ID = #{item.yspId,jdbcType=VARCHAR}
                </if>
                <if test="item.yspdwId != null">
                    ,YSPDW_ID = #{item.yspdwId,jdbcType=VARCHAR}
                </if>
                <if test="item.age != null">
                    ,AGE = #{item.age,jdbcType=VARCHAR}
                </if>
                <if test="item.politicalAff != null">
                    ,POLITICAL_AFF = #{item.politicalAff,jdbcType=VARCHAR}
                </if>
                <if test="item.job != null">
                    ,JOB = #{item.job,jdbcType=VARCHAR}
                </if>
                <if test="item.health != null">
                    ,HEALTH = #{item.health,jdbcType=VARCHAR}
                </if>
                <if test="item.sfsmry != null">
                    ,SFSMRY = #{item.sfsmry,jdbcType=CHAR}
                </if>
                <if test="item.smdj != null">
                    ,SMDJ = #{item.smdj,jdbcType=VARCHAR}
                </if>
                <if test="item.nssj != null">
                    ,NSSJ = #{item.nssj,jdbcType=DATE}
                </if>
                <if test="item.ysmdj1 != null">
                    ,YSMDJ1 = #{item.ysmdj1,jdbcType=VARCHAR}
                </if>
                <if test="item.ytmjssj1 != null">
                    ,YTMJSSJ1 = #{item.ytmjssj1,jdbcType=DATE}
                </if>
                <if test="item.ysmdj2 != null">
                    ,YSMDJ2 = #{item.ysmdj2,jdbcType=VARCHAR}
                </if>
                <if test="item.ytmjssj2 != null">
                    ,YTMJSSJ2 = #{item.ytmjssj2,jdbcType=DATE}
                </if>
                <if test="item.ztdw != null">
                    ,ZTDW = #{item.ztdw,jdbcType=VARCHAR}
                </if>
                <if test="item.ztnrzw != null">
                    ,ZTNRZW = #{item.ztnrzw,jdbcType=VARCHAR}
                </if>
                <if test="item.cgsj != null">
                    ,CGSJ = #{item.cgsj,jdbcType=DATE}
                </if>
                <if test="item.hgsj != null">
                    ,HGSJ = #{item.hgsj,jdbcType=DATE}
                </if>
                <if test="item.sdgj != null">
                    ,SDGJ = #{item.sdgj,jdbcType=VARCHAR}
                </if>
                <if test="item.tlsj != null">
                    ,TLSJ = #{item.tlsj,jdbcType=VARCHAR}
                </if>
                <if test="item.cfrw != null">
                    ,CFRW = #{item.cfrw,jdbcType=VARCHAR}
                </if>
                <if test="item.cfsy != null">
                    ,CFSY = #{item.cfsy,jdbcType=VARCHAR}
                </if>
                <if test="item.cgspdw != null">
                    ,CGSPDW = #{item.cgspdw,jdbcType=VARCHAR}
                </if>
                <if test="item.pwh != null">
                    ,PWH = #{item.pwh,jdbcType=VARCHAR}
                </if>
                <if test="item.zypwh != null">
                    ,ZYPWH = #{item.zypwh,jdbcType=VARCHAR}
                </if>
                <if test="item.zjcgqk != null">
                    ,ZJCGQK = #{item.zjcgqk,jdbcType=VARCHAR}
                </if>
                <if test="item.sjcgsj != null">
                    ,SJCGSJ = #{item.sjcgsj,jdbcType=DATE}
                </if>
                <if test="item.sjhgsj != null">
                    ,SJHGSJ = #{item.sjhgsj,jdbcType=DATE}
                </if>
                <if test="item.nfgs != null">
                    ,NFGS = #{item.nfgs,jdbcType=CHAR}
                </if>
                <if test="item.sfysp != null">
                    ,SFYSP = #{item.sfysp,jdbcType=CHAR}
                </if>
                <if test="item.sfzqjwyj != null">
                    ,SFZQJWYJ = #{item.sfzqjwyj,jdbcType=CHAR}
                </if>
                <if test="item.sczqjwyjsj != null">
                    ,SCZQJWYJSJ = #{item.sczqjwyjsj,jdbcType=DATE}
                </if>
                <if test="item.sfbczqjwyj != null">
                    ,SFBCZQJWYJ = #{item.sfbczqjwyj,jdbcType=CHAR}
                </if>
                <if test="item.jwjl != null">
                    ,JWJL = #{item.jwjl,jdbcType=CHAR}
                </if>
                <if test="item.clshsftg != null">
                    ,CLSHSFTG = #{item.clshsftg,jdbcType=CHAR}
                </if>
                <if test="item.jdcjl != null">
                    ,JDCJL = #{item.jdcjl,jdbcType=CHAR}
                </if>
                <if test="item.sfzyld != null">
                    ,SFZYLD = #{item.sfzyld,jdbcType=CHAR}
                </if>
                <if test="item.sflg != null">
                    ,SFLG = #{item.sflg,jdbcType=CHAR}
                </if>
                <if test="item.poznsjd != null">
                    ,POZNSJD = #{item.poznsjd,jdbcType=CHAR}
                </if>
                <if test="item.fmxx != null">
                    ,FMXX = #{item.fmxx,jdbcType=VARCHAR}
                </if>
                <if test="item.dwjsxs != null">
                    ,DWJSXS = #{item.dwjsxs,jdbcType=CHAR}
                </if>
                <if test="item.zzjl != null">
                    ,ZZJL = #{item.zzjl,jdbcType=CHAR}
                </if>
                <if test="item.cxyy != null">
                    ,CXYY = #{item.cxyy,jdbcType=VARCHAR}
                </if>
                <if test="item.sftsry != null">
                    ,SFTSRY = #{item.sftsry,jdbcType=CHAR}
                </if>
                <if test="item.sfzb != null">
                    ,SFZB = #{item.sfzb,jdbcType=CHAR}
                </if>
                <if test="item.sfbg != null">
                    ,SFBG = #{item.sfbg,jdbcType=CHAR}
                </if>
                <if test="item.sqzt != null">
                    ,SQZT = #{item.sqzt,jdbcType=INTEGER}
                </if>
                <if test="item.createUser != null">
                    ,CREATE_USER = #{item.createUser,jdbcType=VARCHAR}
                </if>
                <if test="item.createTime != null">
                    ,CREATE_TIME = #{item.createTime,jdbcType=DATE}
                </if>
                <if test="item.modifyUser != null">
                    ,MODIFY_USER = #{item.modifyUser,jdbcType=VARCHAR}
                </if>
                <if test="item.modifyTime != null">
                    ,MODIFY_TIME = #{item.modifyTime,jdbcType=DATE}
                </if>
                <if test="item.sortId != null">
                    ,SORT_ID = #{item.sortId,jdbcType=INTEGER}
                </if>
                <if test="item.bah != null">
                    ,BAH = #{item.bah,jdbcType=VARCHAR}
                </if>
                <if test="item.sfxd != null">
                    ,SFXD = #{item.sfxd,jdbcType=INTEGER}
                </if>
                <if test="item.leaderBatchId != null">
                    ,LEADER_BATCH_ID = #{item.leaderBatchId,jdbcType=VARCHAR}
                </if>
                <if test="item.isComparison != null">
                    ,IS_COMPARISON = #{item.isComparison,jdbcType=CHAR}
                </if>
                <if test="item.abroadPhone != null">
                    ,ABROAD_PHONE = #{item.abroadPhone}
                </if>
                <if test="item.bz != null">
                    ,BZ = #{item.bz}
                </if>
                <if test="item.source != null">
                    ,SOURCE = #{item.source}
                </if>
                <if test="item.isEntrust != null">
                    ,IS_ENTRUST = #{item.isEntrust}
                </if>
                <if test="item.isHxpzwj != null">
                    ,IS_HXPZWJ = #{item.isHxpzwj}
                </if>
                </set>
                where id = #{item.id,jdbcType=VARCHAR};
        </foreach>
    </update>
    <update id="updatePWH">
        update oms_pub_apply
        set
        PWH = #{xPWH,jdbcType=VARCHAR}
        where
        PWH = #{yPWH,jdbcType=VARCHAR}
    </update>
</mapper>