<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.publicity.mapper.OmsPubProvinceMapper">
    <resultMap id="BaseResultMap" type="com.hxoms.modules.publicity.entity.OmsPubApply">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="A0100" jdbcType="VARCHAR" property="a0100"/>
        <result column="B0100" jdbcType="VARCHAR" property="b0100"/>
        <result column="YSP_ID" jdbcType="VARCHAR" property="yspId"/>
        <result column="YSPDW_ID" jdbcType="VARCHAR" property="yspdwId"/>
        <result column="AGE" jdbcType="VARCHAR" property="age"/>
        <result column="POLITICAL_AFF" jdbcType="VARCHAR" property="politicalAff"/>
        <result column="JOB" jdbcType="VARCHAR" property="job"/>
        <result column="HEALTH" jdbcType="VARCHAR" property="health"/>
        <result column="SFSMRY" jdbcType="CHAR" property="sfsmry"/>
        <result column="SMDJ" jdbcType="VARCHAR" property="smdj"/>
        <result column="NSSJ" jdbcType="TIMESTAMP" property="nssj"/>
        <result column="YSMDJ1" jdbcType="VARCHAR" property="ysmdj1"/>
        <result column="YTMJSSJ1" jdbcType="TIMESTAMP" property="ytmjssj1"/>
        <result column="YSMDJ2" jdbcType="VARCHAR" property="ysmdj2"/>
        <result column="YTMJSSJ2" jdbcType="TIMESTAMP" property="ytmjssj2"/>
        <result column="ZTDW" jdbcType="VARCHAR" property="ztdw"/>
        <result column="ZTNRZW" jdbcType="VARCHAR" property="ztnrzw"/>
        <result column="CGSJ" jdbcType="TIMESTAMP" property="cgsj"/>
        <result column="HGSJ" jdbcType="TIMESTAMP" property="hgsj"/>
        <result column="SDGJ" jdbcType="VARCHAR" property="sdgj"/>
        <result column="TLSJ" jdbcType="VARCHAR" property="tlsj"/>
        <result column="CFRW" jdbcType="VARCHAR" property="cfrw"/>
        <result column="CFSY" jdbcType="VARCHAR" property="cfsy"/>
        <result column="CGSPDW" jdbcType="VARCHAR" property="cgspdw"/>
        <result column="PWH" jdbcType="VARCHAR" property="pwh"/>
        <result column="ZYPWH" jdbcType="VARCHAR" property="zypwh"/>
        <result column="ZJCGQK" jdbcType="VARCHAR" property="zjcgqk"/>
        <result column="SJCGSJ" jdbcType="TIMESTAMP" property="sjcgsj"/>
        <result column="SJHGSJ" jdbcType="TIMESTAMP" property="sjhgsj"/>
        <result column="NFGS" jdbcType="CHAR" property="nfgs"/>
        <result column="SFYSP" jdbcType="CHAR" property="sfysp"/>
        <result column="SFZQJWYJ" jdbcType="CHAR" property="sfzqjwyj"/>
        <result column="SCZQJWYJSJ" jdbcType="TIMESTAMP" property="sczqjwyjsj"/>
        <result column="SFBCZQJWYJ" jdbcType="CHAR" property="sfbczqjwyj"/>
        <result column="JWJL" jdbcType="CHAR" property="jwjl"/>
        <result column="CLSHSFTG" jdbcType="CHAR" property="clshsftg"/>
        <result column="JDCJL" jdbcType="CHAR" property="jdcjl"/>
        <result column="SFZYLD" jdbcType="CHAR" property="sfzyld"/>
        <result column="SFLG" jdbcType="CHAR" property="sflg"/>
        <result column="POZNSJD" jdbcType="CHAR" property="poznsjd"/>
        <result column="FMXX" jdbcType="VARCHAR" property="fmxx"/>
        <result column="DWJSXS" jdbcType="CHAR" property="dwjsxs"/>
        <result column="ZZJL" jdbcType="CHAR" property="zzjl"/>
        <result column="CXYY" jdbcType="VARCHAR" property="cxyy"/>
        <result column="SFTSRY" jdbcType="CHAR" property="sftsry"/>
        <result column="SFZB" jdbcType="CHAR" property="sfzb"/>
        <result column="SFBG" jdbcType="CHAR" property="sfbg"/>
        <result column="SQZT" jdbcType="CHAR" property="sqzt"/>
        <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFY_USER" jdbcType="VARCHAR" property="modifyUser"/>
        <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="SORT_ID" jdbcType="INTEGER" property="sortId"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, A0100, B0100, YSP_ID, YSPDW_ID, AGE, POLITICAL_AFF, JOB, HEALTH, SFSMRY, SMDJ,
        NSSJ, YSMDJ1, YTMJSSJ1, YSMDJ2, YTMJSSJ2, ZTDW, ZTNRZW, CGSJ, HGSJ, SDGJ, TLSJ, CFRW,
        CFSY, CGSPDW, PWH, ZYPWH, ZJCGQK, SJCGSJ, SJHGSJ, NFGS, SFYSP, SFZQJWYJ, SCZQJWYJSJ,
        SFBCZQJWYJ, JWJL, CLSHSFTG, JDCJL, SFZYLD, SFLG, POZNSJD, FMXX, DWJSXS, ZZJL, CXYY,
        SFTSRY, SFZB, SFBG, SQZT, CREATE_USER, CREATE_TIME, MODIFY_USER, MODIFY_TIME, SORT_ID
    </sql>
    <select id="getPubProvinceList" resultType="java.util.Map">
        select * from oms_pub_apply t
    </select>

    <!-- 添加省外办备案申请信息 -->
    <insert id="insertPubProvince" parameterType="java.util.List">
        INSERT INTO oms_pub_apply (
        ID, A0100, B0100, YSP_ID, YSPDW_ID, AGE, POLITICAL_AFF, JOB, HEALTH, SFSMRY, SMDJ,
        NSSJ, YSMDJ1, YTMJSSJ1, YSMDJ2, YTMJSSJ2, ZTDW, ZTNRZW, CGSJ, HGSJ, SDGJ, TLSJ, CFRW,
        CFSY, CGSPDW, PWH, ZYPWH, ZJCGQK, SJCGSJ, SJHGSJ, NFGS, SFYSP, SFZQJWYJ, SCZQJWYJSJ,
        SFBCZQJWYJ, JWJL, CLSHSFTG, JDCJL, SFZYLD, SFLG, POZNSJD, FMXX, DWJSXS, ZZJL, CXYY,
        SFTSRY, SFZB, SFBG, SQZT, CREATE_USER, CREATE_TIME, MODIFY_USER, MODIFY_TIME, SORT_ID
        )
        VALUES
        <foreach collection="list" item="item" index= "index" separator =",">
            (
            #{item.id},
            #{item.a0100},
            #{item.b0100},
            #{item.yspId},
            #{item.yspdwId},
            #{item.age},
            #{item.politicalAff},
            #{item.job},
            #{item.health},
            #{item.sfsmry},
            #{item.smdj},
            #{item.nssj},
            #{item.ysmdj1},
            #{item.ytmjssj1},
            #{item.ysmdj2},
            #{item.ytmjssj2},
            #{item.ztdw},
            #{item.ztnrzw},
            #{item.cgsj},
            #{item.hgsj},
            #{item.sdgj},
            #{item.tlsj},
            #{item.cfrw},
            #{item.cfsy},
            #{item.cgspdw},
            #{item.pwh},
            #{item.zypwh},
            #{item.zjcgqk},
            #{item.sjcgsj},
            #{item.sjhgsj},
            #{item.nfgs},
            #{item.sfysp},
            #{item.sfzqjwyj},
            #{item.sczqjwyjsj},
            #{item.jwjl},
            #{item.clshsftg},
            #{item.jdcjl},
            #{item.sfzyld},
            #{item.sflg},
            #{item.poznsjd},
            #{item.fmxx},
            #{item.dwjsxs},
            #{item.zzjl},
            #{item.cxyy},
            #{item.sftsry},
            #{item.sfzb},
            #{item.sfbg},
            #{item.sqzt},
            #{item.createUser},
            #{item.createTime},
            #{item.modifyUser},
            #{item.modifyTime},
            #{item.sortId}
            )
        </foreach>
    </insert>
</mapper>