<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.publicity.mapper.OmsPubGroupMapper">
    <resultMap id="BaseResultMap" type="com.hxoms.modules.publicity.entity.OmsPubGroupPreApproval">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="B0100" jdbcType="VARCHAR" property="b0100" />
        <result column="BAZT" jdbcType="INTEGER" property="bazt" />
        <result column="TZMC" jdbcType="VARCHAR" property="tzmc" />
        <result column="TZFZR" jdbcType="VARCHAR" property="tzfzr" />
        <result column="TZRS" jdbcType="INTEGER" property="tzrs" />
        <result column="ZTDW" jdbcType="VARCHAR" property="ztdw" />
        <result column="CGSJ" jdbcType="DATE" property="cgsj" />
        <result column="HGSJ" jdbcType="DATE" property="hgsj" />
        <result column="ZWTLSJ" jdbcType="INTEGER" property="zwtlsj" />
        <result column="SDGJ" jdbcType="VARCHAR" property="sdgj" />
        <result column="SDGJTLSJ" jdbcType="INTEGER" property="sdgjtlsj" />
        <result column="TJGJ" jdbcType="VARCHAR" property="tjgj" />
        <result column="TJGJTLSJ" jdbcType="INTEGER" property="tjgjtlsj" />
        <result column="CFRW" jdbcType="VARCHAR" property="cfrw" />
        <result column="PWH" jdbcType="VARCHAR" property="pwh" />
        <result column="ZYPWH" jdbcType="VARCHAR" property="zypwh" />
        <result column="YQDW" jdbcType="VARCHAR" property="yqdw" />
        <result column="FYLYKZXM" jdbcType="VARCHAR" property="fylykzxm" />
        <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
        <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
        <result column="SQZT" jdbcType="INTEGER" property="sqzt" />
        <result column="CFSY" jdbcType="VARCHAR" property="cfsy" />
    </resultMap>
    <sql id="Base_Column_List">
        ID, A0100, B0100, YSP_ID, YSPDW_ID, AGE, POLITICAL_AFF, JOB, HEALTH, SFSMRY, SMDJ,
        NSSJ, YSMDJ1, YTMJSSJ1, YSMDJ2, YTMJSSJ2, ZTDW, ZTNRZW, CGSJ, HGSJ, SDGJ, TLSJ, CFRW,
        CFSY, CGSPDW, PWH, ZYPWH, ZJCGQK, SJCGSJ, SJHGSJ, NFGS, SFYSP, SFZQJWYJ, SCZQJWYJSJ,
        SFBCZQJWYJ, JWJL, CLSHSFTG, JDCJL, SFZYLD, SFLG, POZNSJD, FMXX, DWJSXS, ZZJL, CXYY,
        SFTSRY, SFZB, SFBG, SQZT, CREATE_USER, CREATE_TIME, MODIFY_USER, MODIFY_TIME, SORT_ID
    </sql>
    <select id="getPubGroupList" resultType="com.hxoms.modules.publicity.entity.OmsPubGroupPreApproval">
        select * from oms_pub_apply t
    </select>

    <!-- 添加省外办备案申请信息 -->
    <insert id="insertPubGroup" parameterType="java.util.List">
        INSERT INTO oms_pub_apply (
        ID, A0100, B0100, YSP_ID, YSPDW_ID, AGE, POLITICAL_AFF, JOB, HEALTH, SFSMRY, SMDJ,
        NSSJ, YSMDJ1, YTMJSSJ1, YSMDJ2, YTMJSSJ2, ZTDW, ZTNRZW, CGSJ, HGSJ, SDGJ, TLSJ, CFRW,
        CFSY, CGSPDW, PWH, ZYPWH, ZJCGQK, SJCGSJ, SJHGSJ, NFGS, SFYSP, SFZQJWYJ, SCZQJWYJSJ,
        SFBCZQJWYJ, JWJL, CLSHSFTG, JDCJL, SFZYLD, SFLG, POZNSJD, FMXX, DWJSXS, ZZJL, CXYY,
        SFTSRY, SFZB, SFBG, SQZT, CREATE_USER, CREATE_TIME, MODIFY_USER, MODIFY_TIME, SORT_ID
        )
        VALUES
        <foreach collection="list" item="item" index= "index" separator =",">
            (
            #{item.id},
            #{item.a0100},
            #{item.b0100},
            #{item.yspId},
            #{item.yspdwId},
            #{item.age},
            #{item.politicalAff},
            #{item.job},
            #{item.health},
            #{item.sfsmry},
            #{item.smdj},
            #{item.nssj},
            #{item.ysmdj1},
            #{item.ytmjssj1},
            #{item.ysmdj2},
            #{item.ytmjssj2},
            #{item.ztdw},
            #{item.ztnrzw},
            #{item.cgsj},
            #{item.hgsj},
            #{item.sdgj},
            #{item.tlsj},
            #{item.cfrw},
            #{item.cfsy},
            #{item.cgspdw},
            #{item.pwh},
            #{item.zypwh},
            #{item.zjcgqk},
            #{item.sjcgsj},
            #{item.sjhgsj},
            #{item.nfgs},
            #{item.sfysp},
            #{item.sfzqjwyj},
            #{item.sczqjwyjsj},
            #{item.jwjl},
            #{item.clshsftg},
            #{item.jdcjl},
            #{item.sfzyld},
            #{item.sflg},
            #{item.poznsjd},
            #{item.fmxx},
            #{item.dwjsxs},
            #{item.zzjl},
            #{item.cxyy},
            #{item.sftsry},
            #{item.sfzb},
            #{item.sfbg},
            #{item.sqzt},
            #{item.createUser},
            #{item.createTime},
            #{item.modifyUser},
            #{item.modifyTime},
            #{item.sortId}
            )
        </foreach>
    </insert>

    <update id="updatePubGroup">
        update oms_pub_apply
        <set>
            <if test="isDeleted != null">
                IS_DELETED = #{isDeleted,jdbcType=CHAR},
            </if>
            <if test="modifyUser != null">
                MODIFY_USER = #{modifyUser,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="timeStamp != null">
                TIME_STAMP = #{timeStamp,jdbcType=VARBINARY},
            </if>
            <if test="nodeId != null">
                NODE_ID = #{nodeId,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                TITLE = #{title,jdbcType=VARCHAR},
            </if>
            <if test="messageNumber != null">
                MESSAGE_NUMBER = #{messageNumber,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                MESSAGE = #{message,jdbcType=VARCHAR},
            </if>
            <if test="ngr != null">
                NGR = #{ngr,jdbcType=VARCHAR},
            </if>
            <if test="ngsj != null">
                NGSJ = #{ngsj,jdbcType=VARCHAR},
            </if>
            <if test="fwsj != null">
                FWSJ = #{fwsj,jdbcType=VARCHAR},
            </if>
            <if test="zsdw != null">
                ZSDW = #{zsdw,jdbcType=VARCHAR},
            </if>
            <if test="csdw != null">
                CSDW = #{csdw,jdbcType=VARCHAR},
            </if>
            <if test="cfdw != null">
                CFDW = #{cfdw,jdbcType=VARCHAR},
            </if>
            <if test="fwlx != null">
                FWLX = #{fwlx,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="deletePubGroup">
        delete * from oms_pub_apply where id = #{id}
    </delete>
</mapper>