<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxoms.modules.publicity.mapper.OmsPubGroupMapper">
    <resultMap id="BaseResultMap" type="com.hxoms.modules.publicity.entity.OmsPubGroupPreApproval">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="B0100" jdbcType="VARCHAR" property="b0100" />
        <result column="BAZT" jdbcType="INTEGER" property="bazt" />
        <result column="TZMC" jdbcType="VARCHAR" property="tzmc" />
        <result column="TZCY" jdbcType="VARCHAR" property="tzcy" />
        <result column="TZFZR" jdbcType="VARCHAR" property="tzfzr" />
        <result column="TZRS" jdbcType="INTEGER" property="tzrs" />
        <result column="ZTDW" jdbcType="VARCHAR" property="ztdw" />
        <result column="CGSJ" jdbcType="DATE" property="cgsj" />
        <result column="HGSJ" jdbcType="DATE" property="hgsj" />
        <result column="ZWTLSJ" jdbcType="INTEGER" property="zwtlsj" />
        <result column="SDGJ" jdbcType="VARCHAR" property="sdgj" />
        <result column="SDGJTLSJ" jdbcType="INTEGER" property="sdgjtlsj" />
        <result column="TJGJ" jdbcType="VARCHAR" property="tjgj" />
        <result column="TJGJTLSJ" jdbcType="INTEGER" property="tjgjtlsj" />
        <result column="CFRW" jdbcType="VARCHAR" property="cfrw" />
        <result column="PWH" jdbcType="VARCHAR" property="pwh" />
        <result column="ZYPWH" jdbcType="VARCHAR" property="zypwh" />
        <result column="YQDW" jdbcType="VARCHAR" property="yqdw" />
        <result column="FYLYKZXM" jdbcType="VARCHAR" property="fylykzxm" />
        <result column="SOURCE" jdbcType="VARCHAR" property="source" />
        <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
        <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
        <result column="SQZT" jdbcType="INTEGER" property="sqzt" />
        <result column="CFSY" jdbcType="VARCHAR" property="cfsy" />
    </resultMap>
    <sql id="Base_Column_List">
        ID, A0100, B0100, YSP_ID, YSPDW_ID, AGE, POLITICAL_AFF, JOB, HEALTH, SFSMRY, SMDJ,
        NSSJ, YSMDJ1, YTMJSSJ1, YSMDJ2, YTMJSSJ2, ZTDW, ZTNRZW, CGSJ, HGSJ, SDGJ, TLSJ, CFRW,
        CFSY, CGSPDW, PWH, ZYPWH, ZJCGQK, SJCGSJ, SJHGSJ, NFGS, SFYSP, SFZQJWYJ, SCZQJWYJSJ,
        SFBCZQJWYJ, JWJL, CLSHSFTG, JDCJL, SFZYLD, SFLG, POZNSJD, FMXX, DWJSXS, ZZJL, CXYY,
        SFTSRY, SFZB, SFBG, SQZT, CREATE_USER, CREATE_TIME, MODIFY_USER, MODIFY_TIME, SORT_ID,
        SOURCE
    </sql>
    <select id="getPubGroupList" resultType="com.hxoms.modules.publicity.entity.OmsPubGroupPreApproval">
        SELECT
            t.*,group_concat(concat(a.SURNAME,a.NAME) separator ',')
        FROM
            oms_pub_group_pre_approval t
        left join oms_pub_apply p on t.id = p.YSP_ID
        left join oms_reg_procpersoninfo a on p.a0100 = a.a0100
        where 1 = 1
        and t.BAZT = #{bazt}
        <if test="orgId != null and orgId != ''">
           and t.ZTDW in ${orgId}
        </if>
        <if test="status != null and status != ''">
           and t.SQZT in ${status}
        </if>
        <if test="startDate != null and startDate != ''">
           and t.CGSJ >= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
           and t.CGSJ &lt;= #{endDate}
        </if>
        group by t.id
    </select>

    <!-- 添加团体备案申请信息 -->
    <insert id="insertPubGroup" parameterType="java.util.List">
        INSERT INTO oms_pub_group_pre_approval (
        ID, B0100, BAZT, TZMC, TZFZR, TZRS, ZTDW, CGSJ, HGSJ, ZWTLSJ,
        SDGJ, SDGJTLSJ, TJGJ, TJGJTLSJ, CFRW, PWH, ZYPWH, YQDW, FYLYKZXM,
        SOURCE, CREATE_USER, CREATE_TIME,SQZT,CFSY
        )
        VALUES
        (
            #{item.id},
            #{item.b0100},
            #{item.bazt},
            #{item.tzmc},
            #{item.tzfzr},
            #{item.tzrs},
            #{item.ztdw},
            #{item.cgsj},
            #{item.hgsj},
            #{item.zwtlsj},
            #{item.sdgj},
            #{item.sdgjtlsj},
            #{item.tjgj},
            #{item.tjgjtlsj},
            #{item.cgrw},
            #{item.pwh},
            #{item.zypwh},
            #{item.yqdw},
            #{item.fylykzxm},
            #{item.sorce},
            #{item.createUser},
            #{item.createTime},
            #{item.sqzt},
            #{item.cfsy}
        )
    </insert>

    <update id="updatePubGroup">
        update oms_pub_group_pre_approval
        <set>
            <if test="b0100 != null">
                B0100 = #{b0100,jdbcType=VARCHAR},
            </if>
            <if test="bazt != null">
                BAZT = #{bazt,jdbcType=INTEGER},
            </if>
            <if test="tzmc != null">
                TZMC = #{tzmc,jdbcType=VARCHAR},
            </if>
            <if test="tzfzr != null">
                TZFZR = #{tzfzr,jdbcType=VARCHAR},
            </if>
            <if test="tzrs != null">
                TZRS = #{tzrs,jdbcType=INTEGER},
            </if>
            <if test="ztdw != null">
                ZTDW = #{ztdw,jdbcType=VARCHAR},
            </if>
            <if test="cgsj != null">
                CGSJ = #{cgsj,jdbcType=DATE},
            </if>
            <if test="hgsj != null">
                HGSJ = #{hgsj,jdbcType=DATE},
            </if>
            <if test="zwtlsj != null">
                ZWTLSJ = #{zwtlsj,jdbcType=INTEGER},
            </if>
            <if test="sdgj != null">
                SDGJ = #{sdgj,jdbcType=VARCHAR},
            </if>
            <if test="sdgjtlsj != null">
                SDGJTLSJ = #{sdgjtlsj,jdbcType=INTEGER},
            </if>
            <if test="tjgj != null">
                TJGJ = #{tjgj,jdbcType=VARCHAR},
            </if>
            <if test="tjgjtlsj != null">
                TJGJTLSJ = #{tjgjtlsj,jdbcType=INTEGER},
            </if>
            <if test="cfrw != null">
                CFRW = #{cfrw,jdbcType=VARCHAR},
            </if>
            <if test="pwh != null">
                PWH = #{pwh,jdbcType=VARCHAR},
            </if>
            <if test="zypwh != null">
                ZYPWH = #{zypwh,jdbcType=VARCHAR},
            </if>
            <if test="yqdw != null">
                YQDW = #{yqdw,jdbcType=VARCHAR},
            </if>
            <if test="fylykzxm != null">
                FYLYKZXM = #{fylykzxm,jdbcType=VARCHAR},
            </if>
            <if test="fwlx != null">
                SOURCE = #{fwlx,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                CREATE_USER = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=DATE},
            </if>
            <if test="sqzt != null">
                SQZT = #{sqzt,jdbcType=INTEGER},
            </if>
            <if test="cfsy != null">
                CFSY = #{cfsy,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="deletePubGroup">
        delete * from oms_pub_group_pre_approval where id = #{id}
    </delete>
    <select id="getNumByStatus" parameterType="java.lang.String" resultType="Map">
        SELECT
            t.SQZT,
            count( 1 ) num
        FROM
            oms_pub_group_pre_approval t
        WHERE
            t.BAZT = #{bazt}
        GROUP BY
            t.SQZT
    </select>
</mapper>